[2020-07-28 14:26] kbysfm commented on #192
Had to use sudo lsof -i -P -n | grep LISTEN to figure out what ports were being used. Turns out (MacOS) had a ton of httpd protocols for a proxy service that was using 80/443

[2020-07-28 18:07] #192 closed

[2020-07-29 15:30] otivedani opened #193 "documentation : add example using docker compose"
Hi,
I think maybe it's better to add documentation using docker-compose at [references / environment variables section](https://datarhei.github.io/restreamer/docs/references-environment-vars.html), for those especially who running local everytime.
and if it's possible, I want to make a PR about it.
cheers.

[2020-08-04 04:55] therumbler commented on #164
i'm also seeing this issue . I'm streaming from a Wyze cam.

H264 MPEG-4 AVC (part 10)
Resolution 1920x1080
Frame Rate: 20
Format: Planar 4:2:0 YUV

[2020-08-10 07:22] ioppermann commented on #193
@otivedani You can contribute to the documentation by changing to the `gh-pages` branch and submitting a PR on this branch.

[2020-08-12 08:25] #193 closed

[2020-08-12 09:07] bschuele commented on #159
This would be really great. I want to use the restreamer for forwarding a webcam stream of my 3d printer to be able to use octoprint from the internet with the stream. But I do not want to have the streaming enabled all the time.

[2020-08-20 16:41] RusLis opened #197 "Dahua IP camera issue (Raspberry 4)"
Hello, as soon as I try to add link to a camera getting this error in logs:

[20-08-2020 18:17:01.969] [INFO ]      _       _             _           _
[20-08-2020 18:17:01.982] [INFO ]   __| | __ _| |_ __ _ _ __| |___   ___(_)
[20-08-2020 18:17:01.983] [INFO ]  / _  |/ _  | __/ _  |  __|  _  |/  _ | |
[20-08-2020 18:17:01.984] [INFO ] | (_| | (_| | || (_| | |  | | | |  __/| |
[20-08-2020 18:17:01

[2020-08-20 16:47] #197 closed

[2020-08-21 06:06] ioppermann commented on #197
@RusLis Yes, these special signs usually make problems on the command line where the shell might modify the command line that will effectively executed. Can you share how you originally wanted to start Restreamer? Maybe it can be fixed in Restreamer.

[2020-08-26 10:43] advantix78 commented on #113
Is it possible to add a video in pre roll in css?

[2020-08-28 19:57] AarobMT commented on #72
I need to modify some parameters in player.html so my embedded will fulfill my requirements. I'd like to know where is player.html in the docker container? I've been spending hours trying to find it out.

[2020-08-29 21:45] marcaddeo opened #199 "Snapshot interval question"
👋🏻

I was just wondering if there's a technical reason to disallow snapshot intervals lower than `10s`. I'd like to have real time snapshots with Restreamer, but it's not possible currently.

[2020-08-31 13:00] ioppermann commented on #199
The reason for this minimal interval is, that for each snapshot a new ffmpeg process is started in order to extract a frame. In order not unnecessarly load the system with extracting a frame (i.e. connecting to the stream, decoding one frame, writing that frame as JPG, disconnecting from the stream), this limit has been set.

If you want you can change the limit in the source code https://github.c

[2020-08-31 17:47] ofadam opened #200 "data.streams is not iterable"
I'm at a loss as to why I'm getting this error log within a second of launching Restreamer (I pulled the latest version, as mine was out of date):

/restreamer/src/classes/Restreamer.js:326
                for(let s of data.streams) {
                                  ^

TypeError: data.streams is not iterable
    at /restreamer/src/classes/Restreamer.js:326:35
    at ChildProcess.exithandler (chi

[2020-09-01 21:26] ofadam commented on #200
Just as an FYI, it only became an issue in 0.6.6 – 0.6.5 works fine still.

[2020-09-03 11:48] ioppermann commented on #113
@advantix78 If you want to display some pre-roll (or ads), you can use any player that supports this and HLS streaming instead of the player that comes with Restreamer. The URL of the stream is `http://[address and port of your restreamer]/hls/live.stream.m3u8` (or `https://` if configured accordingly) that you need to add to the player's playlist.

[2020-09-03 11:52] ioppermann commented on #72
@AarobMT The source of the player.html is here: https://github.com/datarhei/restreamer/blob/master/src/webserver/public/player.html

Inside the running Docker container it is at `/restreamer/src/webserver/public/player.html`.

[2020-09-05 15:46] kalashnikov2 opened #202 "install on Jetson Nano"
its posible to install / Use restreamer  on ARM devices ?  like jetson nano
:D

[2020-09-07 06:30] ioppermann commented on #202
Yes, it is possible. You can use the ARM Docker images. You can follow the directions on https://datarhei.github.io/restreamer/docs/installation-linux-arm.html

- arm32v7: docker pull datarhei/restreamer-armv7l:latest
- arm64v8: docker pull datarhei/restreamer-aarch64:latest

[2020-09-10 00:29] markosc commented on #50
i same error in my Pi 3b+

[2020-09-11 14:48] Bosutike opened #203 "Automatic start streamming"
Hello,

I am trying to make restreamer start streaming automatically after a reboot.
To deploy docker I have used
`docker run -d --restart always -e "RS_USERNAME=admin" -e "RS_PASSWORD=passsword" -e "RS_INPUTSTREAM=rtmp://localhost/live/external.stream?token=secret" -p 1935:1935 -p 8080:8080 -e RS_TOKEN=xxxxxxx -v /mnt/restreamer/db:/restreamer/db restreamer`

After a reboot, the button on the UI

[2020-09-13 03:13] Wisbell opened #204 "Your stream wasn't accessible. failed to execute ffprobe: Command failed: ffprobe..."
[code]

Followed basic docker installation with Kitematic.  The IP camera's rtsp url works when viewing from VLC on host computer.  Any ideas on how to debug this?  First time docker user.

EDIT: I tried using just the cli, but that didn't work.  I also tried opening all necessary ports just to make sure that wasn't the issue either.  I tried increasing the debug logging level to see if it would g

[2020-09-14 04:14] Wisbell commented on #204
Just got restreamer to work on my raspberry pi with the rpi camera.  There is a 7 or 8 second delay, but it does work on that device.  Still have to try to pinpoint the issue with the wansview camera/windows combination.

[2020-09-14 06:31] ioppermann commented on #204
@Wisbell Did you also try to connect from the Restreamer on your Pi to the Wansview camera? Checking the failed ffprobe command, it might be that a case is not covered that prevents some RTSP streams to be properly detected. Let me investigate this.

[2020-09-14 06:37] ioppermann commented on #203
@Bosutike The command looks correct, however the automatic start of the stream with `RS_INPUTSTREAM` will only work if you have a fresh Restreamer without an existing `v1.json` in `/mnt/restreamer/db`.

Afterwards, if the stream is connected and the docker container has to be restarted, then Restreamer should automatically reconnect to the stream in order to recreate the same state as before the r

[2020-09-14 06:42] ioppermann commented on #183
Securing the stream is not yet covered out-of-the-box by Restreamer. There are different scenarios that need to be covered.

The original RTSP URL of the camera is never exposed.

To block the player from being iframed into another page, you could modify the Restreamer nginx configuration to add a "X-Frame-Options" header (https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Frame-Options).

[2020-09-14 06:55] ioppermann commented on #164
This really looks like, there's some problem with the nginx rtmp module. In an upcoming version of Restreamer, we're going to move away from nginx. This will probably solve this issue.

[2020-09-14 11:27] ioppermann commented on #200
This should be fixed in 0.6.7

[2020-09-14 11:27] #200 closed

[2020-09-14 11:28] ioppermann commented on #204
This should be fixed now in master.

[2020-09-14 16:52] Wisbell commented on #204
Thank you!  I pulled down the repository, built the docker image locally, and everything seems to work at intended.  For Windows users who build locally, make sure you update your git config before cloning the repository.  ``` git config --global core.autocrlf false ```  Otherwise you will receive this error: ``` Err: standard_init_linux.go:211: exec user process caused “no such file or directory”

[2020-09-14 16:52] #204 closed

[2020-09-14 20:30] Wisbell commented on #132
[code]

[2020-09-15 06:10] ioppermann commented on #132
@Wisbell You also have to consider the key frame interval that the camera produces (also known as GOP size). The nginx-rtmp module usually splits the stream at key frames and using `hls_fragment` as a guideline, but it is not guaranteed.

You can try to use the `hls_max_fragment [x]ms` directive which will force a fragment split even if there's no key frame. This has the consequence that a fragmen

[2020-09-15 06:25] wojtekca commented on #157
The IP camera is BCS-P-444RSA. In ffmpeg works fine.

[2020-09-19 01:06] danionescu2007 commented on #76
Hello @ioppermann

How can I get this test version to test it? Is it publicly available.
Thank you.

[2020-09-20 12:54] badincite opened #205 "Change default webpage"
Any easy way to change the default landing page from the login screen to the player? I figured out how to drop my own custom player with chromecast support in but I wasnt able to change the default login screen "index.prod.html" to another  page without it breaking.

[2020-09-22 06:14] ioppermann commented on #205
@badincite Yes, this is really a bit tricky. You have to do some minimal changes to the code and build your own Docker image. These are the changes (as returned from `git diff` based on version  0.6.8):

[code]

If you want to have a different player, you can either overwrite the player.html with your variant before building your own image, or you mount your player.html into the container at runti

[2020-09-25 21:00] Thiagobhmg opened #206 "How do I send the HLS stream to another server?"
How do I send the HLS stream to another server? Is there a configuration manual for this?

Is it possible to get a stream on the server where the restreamer is?

Would anyone recommend a CDN that accepts this flow? Prefer not to be AWS.

[2020-09-27 12:54] python-911 opened #207 "Encoding Stream Output 1080p to 240p"
Hello.

Input stream is 1080x720 - its a HD stream i want to restream in low quality i.e 360p or 420x360 or any custom values.

Currently i can change bitrate preset etc - but an option to choose vide resolution is required.

i checked main.html file but i couldn't find way to add soutput sream resolution -_

Thanks

[2020-09-27 19:31] python-911 commented on #207
for now i added v-  live.json
"-s 240x160", it worked for stream is buffering as it was buffering in 1080p.

in next update please add options to choose from.
so we can choose video resolution / quality .
from minimum 144p to max.

Regards

[2020-09-30 17:08] hsully03 opened #208 "No audio after ingesting RTMP"
Hi everyone, I'm using Restreamer's RTMP server to ingest an OBS stream into Restreamer. The RTMP stream itself has no audio issues, but the player itself has no audio. Why would that be?

[2020-10-01 10:31] ioppermann commented on #208
By default the player is on mute. And you have to set the audio codec to "auto". If the audio is encoded in a supported format, it will be simply copyied or transcoded to AAC.

What are the audio settings you use in OBS?

[2020-10-01 10:36] ioppermann commented on #206
Some CDNs accept HLS as input, but it is not very common yet. Usually using RTMP is the better option.

It is described in the documentation: https://datarhei.github.io/restreamer/docs/guides-external-rtmp.html or https://datarhei.github.io/restreamer/docs/guides-external-hls.html

If you have enough upload bandwidth available, your Restreamer is the streaming server. The player can be embedded in

[2020-10-01 13:22] hsully03 commented on #208
Taking the audio off of mute to auto resulted in FFMPEG retuning error code 1. This was on macOS, I switched to windows and had no issues.

[2020-10-03 07:35] Thiagobhmg commented on #206
http://ip:port/hls/live.stream.m3u8

[2020-10-03 18:09] kalashnikov2 commented on #202
it works using   restreamer-aarch64

`docker run -d --restart always      --name restreamer      -e "RS_USERNAME=admin" -e "RS_PASSWORD=XXXxXxXXX"      -p 8080:8080 -v /mnt/restreamer/db:/restreamer/db      --tmpfs /tmp/hls      datarhei/restreamer-aarch64:latest`

Thanks for the help

[2020-10-03 18:09] #202 closed

[2020-10-05 00:15] smalla1788 opened #211 "can you help me"
I want to create channels for live stream sports, i have website this "https://nizarstream.com" can you show me what are the requirements and broadcast method?
thanks

[2020-10-05 07:16] kayo77 opened #212 "Stream stopped after few hours"
I have two streams to YouTube. Both stops after few hours - YT don't see stream despite being restreamer-side. How can i debug this issue?

[2020-10-05 14:17] fruvous commented on #212
I'm seeing this issue on my YT stream as well with v0.6.8.  OBS continues to show green but with 0kbps.  Only fix I've been successful with is to reboot the restreamer box.

I'm using the old studio key.  Let me know what logs you would like to see.

[2020-10-05 15:56] kayo77 commented on #212
This is Yt issue or restreamer issue?

[2020-10-05 15:59] fruvous commented on #212
My problem is a Restreamer issue.  If it's YT, the other stream would continue and OBS wouldn't drop down to 0kbps

[2020-10-05 16:01] ioppermann commented on #212
Did you see any error messages in the console?

[2020-10-06 05:31] kayo77 commented on #212
No, there is nothing special in console

[2020-10-09 08:58] supersuber commented on #3
method PAUSE failed: 551 Option not supportedaout_close_audio()
aout_set_volume()
UDP timeout, retrying with TCP
method PAUSE failed: 551 Option not supported
CSeq: 8
Session:       1164688763
Date:  Fri, Oct 09 2020 16:18:41 GMT

UDP timeout, retrying with TCP
method PAUSE failed: 551 Option not supported
CSeq: 9
Session:       1164688763
Date:  Fri, Oct 09 2020 16:18:52 GMT

UDP timeout, retryin

[2020-10-09 09:24] strarsis commented on #3
I am currently streaming from the webcam using ffmpeg directly (as a systemd unit so it is autostarted/restarted like a service).

[2020-10-12 07:53] rumbis opened #213 "External Streaming-Server facebook"
the External Streaming-Server for Facebook rtmps is very laggy  it keeps refresh with different timeframes of live

[2020-10-13 13:12] ioppermann commented on #213
Did you try it with RTMP (without "S") and experience the same problems?

[2020-10-14 13:56] RaymiiOrg opened #214 "Clarify Auto resume or auto start?"
I was not able to find it in the docs or wiki but I have a question.

After configuring a stream and an external youtube one, including OBS setup, it works well. Both the html player and youtube (Damm the new live control room, forcing you to open the page otherwise nothing happens) are showing the stream (from obs).

But, what if I stop the stream, then after a few days do another stream?

Do I h

[2020-10-15 07:42] ioppermann commented on #214
The streams in Restreamer that are currently connected will try to reconnect on loss of connection. Restreamer stores the wanted state ("connected" or "disconnected") such that it can reconstruct them after a reboot.

In your case, you are pulling the stream from the local RTMP. This is the stream you send to Restreamer from OBS. If you stop OBS, Restreamer gets disconnected from the RTMP and will

[2020-10-15 15:05] fruvous commented on #212
I rolled back my version to 0.66 and haven't experienced the issue since.

[2020-10-16 06:24] rolfikr1 opened #215 "Your stream wasn't accessible on Dahua camera"
I have problem with restream Dahua camera. Restreamer shows: failed to execute ffprobe: Command failed: ffprobe -of json -v error -show_streams -show_format rtsp://login:pass@A.B.C.D:554. What can I do to make it work?

[2020-10-16 18:58] RaymiiOrg commented on #214
Thank you for clarifying. Is there any way I can help the documentation, via a pull request with this information? I wasn't able to find the github . io site here.

[2020-10-19 07:20] ioppermann commented on #214
@RaymiiOrg Very much appreciated. You can find the source for the documentation in the `gh-pages` branch of the Restreamer repository.

[2020-10-19 07:23] ioppermann commented on #215
You should tick the `RTSP over TCP` option. Otherwise it tries to connect to the camera via UDP which is usually leading to errors.

[2020-10-19 08:56] ohopecam opened #216 "Streaming stays on stopping please wait"
I need help my streaming on my website wont start again I stopped it at night a while ago and it just says streaming stopping please wait so I cant start it again if you know anything please help.

[2020-10-20 14:06] RaymiiOrg commented on #214
I made a pull request which adds it to the FAQ: https://github.com/datarhei/restreamer/pull/217

[2020-10-23 07:18] #214 closed

[2020-10-25 09:45] ssdeol84 opened #218 "rtmps not working"
Dear Sir,

Docker is working properly with rtmp and hls. as you know facebook have updated the server and now it takes in put as rtmps. i request you to update the docker as now its not working with facebook.

[2020-10-26 08:31] ioppermann commented on #218
@ssdeol84 I just tried it out and it works with RTMPS as well. Simply enter the `rtmps://...` URL in the field for the "External Streaming-Server" and select "RTMP".

[2020-10-26 08:32] ioppermann commented on #216
This looks like the ffmpeg is not stopping completely. Please try to restart the Docker container.

[2020-10-26 09:31] ssdeol84 commented on #218
Sir I've tried but it's not working...may be Facebook have changed the server parameters which doesn't match with the current encoding settings of restreamer ?

Can u add multiple restreaming option in same docker ?
Does this have marquee or logo feature in push stream ?

[2020-10-28 21:31] #149 closed

[2020-10-29 17:27] alex9099 commented on #132
Any workaround for this?

How much would `hls_max_fragment` help?

[2020-11-01 11:44] RockNRollGeek commented on #171
Another great example of this, with a newer codebase, is: [https://github.com/Hakkin/streamRIP](https://github.com/Hakkin/streamRIP), which also will instantaneously without delay switchover to a video file you choose of similar stream bitrate, works pretty well for having not been touched in some time, though I have seen some issues on recent (18.04/20.04) builds of ubuntu and recent debian build

[2020-11-02 10:10] ioppermann commented on #171
We're working on a similar, more integrated, solution on this, which doesn't involve scripting.

[2020-11-02 12:20] RockNRollGeek commented on #171
rad! As long as it supports secondary streams -or- a local file, that will be amazing.

[2020-11-02 16:38] PJSFilms commented on #203
Hi.
I have a very similar issue but one which requires Restreamer to start when a remote stream is received, without creating a very long error log before (while it is waiting) and after (until I get back home). Is there a 'trigger' setting possible for this? I'm not a developer but a videographer using Restreamer for live streaming remotely to my own website. My set up is working but has to be st

[2020-11-02 16:49] Bosutike commented on #203
Hi.
I forgot I had this issue open.
I started using docker-compose.yml and its working. I will share my file.

`version: "3"
services:
  restreamer:
    image: restreamer_nazarewaves:latest
    container_name: restreamer_nazarewaves
    ports:
      - 1935:1935
      - 8080:8080
    networks:
      - frontend
    volumes:
      - "/home/restreamer/db/:/home/restreamer/db"
    environment:
      -

[2020-11-05 11:57] ioppermann commented on #132
I didn't try out the `hls_max_fragment` option yet. However, I'm not sure how much it will help because players usually wait until they have a complete key frame until they show something. This can be up to the duration of one GOP.

[2020-11-06 19:11] arcadiush opened #220 "Https problem"
I installed nginx + let's Encrypt and followed https://datarhei.github.io/restreamer/docs/guides-https.html and https://datarhei.github.io/restreamer/docs/guides-proxying.html unfortunately both after http: // and https: // I have this message:
[code]

[2020-11-08 22:36] RaymiiOrg commented on #100
I'm using a brute force setup as described on the bottom here: https://raymii.org/s/snippets/Get_number_of_incoming_connections_on_specific_ports_with_ss.html

If you want to measure long running connections, a somewhat working example is
the following:

    comm -1 -2 <(ss --all --numeric --no-header state established  '( sport = :443 )' | awk '{print $5}' | awk -F:  'NF{--NF};1' | sort -u) <(sle

[2020-11-11 13:04] Adam-Oudaimah-SCASE opened #221 "Stream from MP4 video file"
Hello,
Is there any way to stream a video file directly?
The video file may be stored anywhere (On the local files' system or on AmazonS3 bucket).
Thanks a lot.

[2020-11-16 17:13] inat-tv commented on #130
This will the feature come?

[2020-11-17 11:05] ioppermann commented on #221
It will not work for non-live streams, because reads the data as fast as it gets delivered. This will have a "very fast-forward" effect on the video if you read a local file or via HTTP.

[2020-11-17 11:07] ioppermann commented on #220
@arcadiush How does you nginx configuration file look like? It may seem that the routing is not correct.

[2020-11-20 16:13] arcadiush commented on #220
[code]

[2020-11-21 17:12] badincite opened #222 "RTMP OBS Nvenc Issues"
Anyone else having issues ingesting rtmp out of obs using the nvidia nvenc codec? I had it working at one point now its inconsistent. I can get is going sometimes switching the bitrate type cbr to vbs around after I start the stream. Ive tired different versions of obs,nvidia drivers, and also v0.6.6 of restreamer not sure where the issues is.

[2020-11-21 22:57] badincite commented on #222
Issue was the keyframe interval leaving it on default 0=auto causes the video not to be accepted.

[2020-11-21 22:57] #222 closed

[2020-11-22 21:52] badincite commented on #220
Try https://github.com/jlesage/docker-nginx-proxy-manager.

[2020-11-23 14:02] ioppermann commented on #222
Yes, setting the keyframe interval is crucial. Depending on the content, the encoder may decide to add a keyframe e.g. only every 30 seconds. This has several implications:

1. For live streaming a constant and short keyframe interval is wanted because it is possible to open the stream at any time. The player can only start playing the stream after the first keyframe it encounters. If the keyframe

[2020-11-23 15:29] internetxs opened #223 "Able to set resolution"
Hey
Very nice tool / frontend. But it would be nice if you can set the output resolution. Facebook for example demands 1280x720 but if your source is higher they kick the stream

[2020-11-23 15:40] DachsbauTV commented on #223
This would actuallybe amazing

However, I think the main limit is the bitrate.
As far as i know fb allows a maximum of 6000kbps and Twitch about 9000kbps.

The option to have a custom bitrate and resolution per output would be a game changer. Not even paid services like restream offer this.

[2020-11-23 15:45] internetxs commented on #223
In ffmpeg it’s not difficult to define

Op ma 23 nov. 2020 om 16:41 schreef DachsbauTV <notifications@github.com>

[2020-11-24 14:31] badincite opened #224 "Add chromecast support"
I've actual already got a chromecast player working with it but thought it would be nice to have it builtin to the docker container. And cleaned up a bit by someone who knows more than I.

https://codepen.io/badincite/pen/MWjgYRw

![Chromecast](https://user-images.githubusercontent.com/7386290/100107435-a1595f80-2e37-11eb-9e3e-4dd3ff091c75.PNG)

[2020-11-24 19:29] arcadiush opened #225 "How to secure HLS stream"
Hello,
I provide the image from cameras on the website via iframe. How can I hide the Restreamer login page from others and prevent streaming from stealing the link from the browser ?

[2020-11-25 10:05] robinostlund commented on #212
i also have the same issue with latest version, will try to use 0.66 as @fruvous said was working now.

[2020-11-25 13:44] RaymiiOrg commented on #100
I've written some more on how to measure viewers, if anyone is interested :  https://raymii.org/s/tutorials/Semi-accurate_live_stream_viewer_count.html

[2020-11-26 15:42] #205 closed

[2020-11-27 14:52] #224 closed

[2020-11-27 14:53] badincite commented on #224
I'll build it into my own branch working on learning how to now.

[2020-11-27 16:11] badincite commented on #224
Figured it out quickly if anyone else wants it https://hub.docker.com/r/badincite/restreamer

[2020-11-29 10:35] ioppermann commented on #223
This feature is already on the list and will eventually find its way into Restreamer.

[2020-11-29 10:36] ioppermann commented on #225
@arcadiush In order to hide the UI of the Restreamer you could put a nginx in front of it that only passes the requests that are required for embedding the player, or only the files required for streaming (i.e. the /hls directory). Then where ever you want to show the stream you can use any player that is able to play HLS content. You are not bound to the player that comes with Restreamer.

For se

[2020-11-29 10:42] ioppermann commented on #224
@badincite Do you mind to make a pull request with your changes? So we might adopt it for the official version or even allow the user to chose a player they prefer.

[2020-11-29 10:43] ioppermann commented on #130
Yes, we're planning to have this feature built-in.

[2020-11-29 17:11] badincite commented on #224
Done hopefully I did it correctly, please excuse my inexperience.

[2020-11-29 17:16] badincite commented on #225
Definitely like this idea! I was just surfing instants of restreamer using a certain website and I was able to view multiple cameras.

[2020-11-29 23:06] j-atoms opened #227 "No audio with docker"
If I set RS_USBCAM_AUDIO=false I get perfect video streaming without audio. If set to true, Restreamer will not start. Am I missing anything in my docker-compose.yaml? Thanks.
[https://github.com/j-atoms/docker-compose/blob/master/yamls/restreamer/docker-compose.yaml](https://github.com/j-atoms/docker-compose/blob/master/yamls/restreamer/docker-compose.yaml)

[2020-11-30 08:25] ioppermann commented on #227
@j-atoms You also have to set the appropriate values for your audio device. Please check the manual: https://datarhei.github.io/restreamer/docs/guides-usb-camera.html#audio-support

Also in your YAML, the path to the `snd`  device should not have the `/` at the end.

[2020-12-05 01:41] dersven98 opened #228 "NGINX error on stable stream"
i get some "NGINX errors"

like this:
`[ERROR] [                 NGINX] :1935`

i got this error on many instances since the last update.
**streaming stops immediately and cannot be restarted until the restreamer instance is restarted**

[2020-12-05 02:01] z8rsvenbergner commented on #228
going back to version "datarhei/restreamer:0.6.7" solves the problem

[2020-12-07 17:12] z8rsvenbergner commented on #228
**problem ist still there**

`[ERROR] [NGINX] :1935`

[2020-12-10 01:07] j-atoms commented on #227
I overlooked the audio specifics and have added them to my yaml. Thank you.

[2020-12-10 01:07] #227 closed

[2020-12-10 07:52] BGarber42 opened #229 "Video Grid using multiple inputs"
It would be nice to be able to grid multiple stream inputs with the hstack/vstack ffmpeg filter.

[2020-12-17 21:03] alex9099 commented on #221
maybe ffmpeg could be run internally like this example https://write.corbpie.com/how-to-stream-mp4-video-to-youtube-with-ffmpeg/ ?

[2020-12-23 17:36] z8rsvenbergner commented on #225
I use Traefik to prevent all unwanted Traffic to the Container.
Also secured with Cloudflare and it workes fine!

Only the Image is provided under an URL,
and on the second URL is the seperated Stream.

[2021-01-06 18:43] Johanoffline opened #230 ""Got 404 status while trying to fetch update info""
Running on Kitematic/Docker (Docker version 20.10.0, build 7287ab3), Windows 10.
Failing to fetch update info.
Ports 8080, 8181, 80, 3000 are all forwarded.

[code]

[2021-01-08 09:48] hirnschmalz commented on #111
I have the same test setup on my server

* OBS Studio
* restreamer 0.6.8

As soon as I changed the framerate to 60fps the ffmpeg error was gone. Stopping and restarting a stream in OBS works fine, restreamer rechecks periodcally and starts the stream as soon as it's available. The only problem I have is that after restarting the container the stream is not startet if OBS isn't streaming.

[2021-01-14 19:05] electrodog10 opened #231 "Make logo bigger"
How can I make the logo bigger? I don't think it's based on the image's size unless I'm doing something wrong.
Thanks!

[2021-01-14 22:42] RockNRollGeek commented on #171
Curious if there's been any movement on this?

[2021-01-15 07:57] ioppermann commented on #231
The logo size is limited to 12% of the width of the player but not more than 200 pixel. The builtin "watermark" plugin from the clappr player is used for this (https://github.com/clappr/clappr-plugins/tree/master/src/plugins/watermark). It has limited capabilities regarding the positioning and resizing of the logo.

[2021-01-15 07:59] ioppermann commented on #171
Yes, there's movement. It will be included in one of the upcoming versions.

[2021-01-16 20:23] romanstech commented on #135
Hi,

Agree with this feature request. I prefer using an LDAP authentication on Nginx reverse proxy.

Thanks!

[2021-01-17 07:30] Lordcybertracker opened #232 "Stream going not Out to youtube."
I have the problem. That the stream does not arrive on Youtube.
In Restream it says:
Streaming is successfully initiated.

Youtube link everything is correct too.

rtmp: //a.rtmp.youtube.com/live2/tpkg-XXXX-XXXX-XXXX-1tu4

With Yutube, however, the following remains: Send us your video via the streaming software to start a live stream

[2021-01-18 10:00] ithouse98 opened #233 "Get RTSP output from Restreamer"
hi dear restreamer team.
firstly thanks to your for this useful platform .
i have a questions about the restreamer , is it possible that this server relay a rtsp stream ?
my mean is we can input a rtsp url from a device ( ip cam ) and get more connection on RTSP from the server ?

[2021-01-18 12:14] ioppermann commented on #233
If you just want to relay a RTSP stream, you can use the "rtsp-simple-server": https://github.com/aler9/rtsp-simple-server

[2021-01-19 06:21] MacCase opened #234 "Restreamer YouTube problem"
I have been using restreamer for 10 months pushing stream to Youtube. But it doesn't work anymore. Something happened 4 days ago. Facebook stream work fine but YT not. Any suggestions?

[2021-01-19 11:47] ithouse98 commented on #233
ok. thanks to your suggestion .i will be try this .

[2021-01-19 13:24] ioppermann commented on #234
Did you do an update of Restreamer or do you use the same version for the last 10 months? It also might be that YT changed/restricted something.

[2021-01-19 13:31] romanstech opened #235 "tmp files take all free space on host. And my solution for this."
Hi,

My environment: CentOS8, podman 2.0.5, crun 0.14.1, containerd.io 1.2.6, rootless container, no docker.

I run 4 Restreamer instances and saw that free space on host disk very quickly became zero. After some investigations became clear that all disk space occupied by Restreamer container files. Restart of the containers releases the space but it's a temporary solution. Then I checked from ins

[2021-01-20 08:24] MacCase commented on #234
no updates. What is interesting I cannot push stream to YT from nginx as well. OBS works ok.

[2021-01-21 08:50] MacCase commented on #234
it works. Internal router problem.

[2021-01-21 08:50] #234 closed

[2021-01-21 08:51] MacCase commented on #234
it works. Internal router problem.

[2021-01-24 21:21] farcel commented on #230
@Ceono : I'm getting the same error. Per https://github.com/datarhei/restreamer/blob/45a34819640350cb28445e198bf1ee3abe98c22d/src/classes/Restreamer.js#L986 , it looks like checkForUpdates method is trying reach [https://datarhei.com/apps.json](https://datarhei.com/apps.json) but this URL returns 404 as of now (You can check using browser)
I don't think that it will work until https://datarhei.com

[2021-01-25 08:07] ioppermann commented on #230
We are aware of this. This warning only indicates that Restreamer couldn't check if there's a new version available. This does not affect the functionality of the Restreamer in any way.

[2021-01-25 08:12] ioppermann commented on #235
It could be that the storage from the container is append-only. Deleted files are only marked as such, but their consumed space is never released.

[2021-01-29 19:37] qriff commented on #96
To clarify, Youtube live stream of type Unlisted ("Anyone with the link can view") gets archived soon as the encoder is not receiving a constant flow of data (under 60s). After which the stream URL gets reset, and the viewers need to attain the new URL from you (it is unlisted after all). Currently between popular relaying solutions none provide this functionality and is generally only obtainable

[2021-01-31 11:24] CrashOv62 opened #237 "Schedule live events on YOUTUBE or others"
Hello,

Would it be possible in future versions of the program to set up a system for programming video streams?
For example, to be able to schedule the live broadcast of one-off events (at a start and end date and time, etc.) or recurring events?
and be able to schedule one-off or other events per week ...?
Youtube allows you to do this, I don't know if with other platforms this is also possible

[2021-02-04 08:24] ioppermann commented on #232
@Lordcybertracker Is streaming to YT still not working. Could have been a temporary issue on YTs side

[2021-02-04 08:29] Lordcybertracker commented on #232
Yes its Working. Was an Error in the Settings.
Youtube go not wenn Stream is Mute.

[2021-02-04 08:31] ioppermann commented on #232
👍

Yes, YT requires an audio track for the streams.

[2021-02-04 08:31] #232 closed

[2021-02-04 14:08] LunarstarPony opened #238 "Docker Unable to Start after update to 0.6.8"
CONTAINER ID   IMAGE                       COMMAND      CREATED         STATUS                          PORTS     NAMES
0cf7ab1a1259   datarhei/restreamer:0.6.8   "./run.sh"   2 minutes ago   Restarting (0) 11 seconds ago             restreamer

The older version work just fine but the newer version keeps restarting, any idea why?

I follow the step here to update

https://datarhei.github.io/restr

[2021-02-05 16:43] LunarstarPony commented on #238
[05-02-2021 17:42:21.539] [INFO ]      _       _             _           _
[05-02-2021 17:42:21.546] [INFO ]   __| | __ _| |_ __ _ _ __| |___   ___(_)
[05-02-2021 17:42:21.546] [INFO ]  / _  |/ _  | __/ _  |  __|  _  |/  _ | |
[05-02-2021 17:42:21.547] [INFO ] | (_| | (_| | || (_| | |  | | | |  __/| |
[05-02-2021 17:42:21.547] [INFO ] |_____|_____|_||_____|_|  |_| |_|____||_|
[05-02-2021 17:42:21.

[2021-02-05 16:43] LunarstarPony commented on #238
Found these error in the log

[2021-02-08 08:08] ioppermann commented on #238
@LunarstarPony This error indicates that IPv6 might not be enabled. In version 0.6.8 nginx tries also to bind to the IPv6 address of the interfaces. Did you configure docker to disable IPv6 inside the container? As a workaround you can edit the `conf/nginx.conf` file and replace line 12 with `listen :1935;` and remove line 47.

[2021-02-08 17:45] LunarstarPony commented on #238
Hmmm I'll try later

[2021-02-08 20:41] LckyLuciano commented on #238
Thanks. I have IPv6 disabled in docker so this affected me. Removing line 47 and changing line 12 to `listen 1935;` took care of it. You'll need to remove that preceding colon before the port number, too.

[2021-02-09 00:26] LckyLuciano commented on #128
A few notes from trying this out today.  The instructions from @divx118 got me very close on some non-synology hardware.  With a little tweaking, I have this running on a NUC with an Intel Quick Sync / VAAPI supported CPU.  This cut CPU usage per stream down by ~90%.

First I had to pull out the `/bin/ffmpeg` `/bin/ffprobe` and `/lib` folder from the Synology ffmpeg package that was linked, and th

[2021-02-09 00:28] LckyLuciano commented on #137
Hi @redrob I was able to get vaapi encoding working on non-Synology hardware today.  You might want to take a look here:
https://github.com/datarhei/restreamer/issues/128#issuecomment-775559396

[2021-02-09 00:33] redrob commented on #137
Thanks LckyLuciano, will give it a shot

[2021-02-10 17:02] eisengrau opened #239 "MJPEG stream as input?"
Hello,

I have just deployed a restreamer docker container. Even though on the Wiki, it is mentioned that rstreamer supports MJPEG, when I add my rtsp stream url from the camera, I get the message that "video stream must be h264, found mjpeg".

Unforutnately my old tp-link IP camera does not support h264 as it seems. It is possible to "trick" the output url to be like for example: rtsp://172.50.1.

[2021-02-13 07:50] LunarstarPony commented on #238
Any step on how to do it?
I'm not very familiar with docker

[2021-02-13 07:54] LunarstarPony commented on #238
[13-02-2021 08:53:16.011] [INFO ]      _       _             _           _
[13-02-2021 08:53:16.018] [INFO ]   __| | __ _| |_ __ _ _ __| |___   ___(_)
[13-02-2021 08:53:16.018] [INFO ]  / _  |/ _  | __/ _  |  __|  _  |/  _ | |
[13-02-2021 08:53:16.018] [INFO ] | (_| | (_| | || (_| | |  | | | |  __/| |
[13-02-2021 08:53:16.019] [INFO ] |_____|_____|_||_____|_|  |_| |_|____||_|
[13-02-2021 08:53:16.

[2021-02-13 07:54] LunarstarPony commented on #238
Got this error now did I do something wrong?

[2021-02-13 07:59] LunarstarPony commented on #238
daemon off;

error_log stderr error;

worker_processes 1;
events {
    worker_connections 1024;
}

rtmp {
    server {
        listen :1935;
        chunk_size 4000;

        application live {
            live on;
            idle_streams off;
            on_publish http://localhost:3000/token;
            notify_method get;
        }

My file around line 12

[2021-02-13 12:33] AtomicLaser opened #240 "Background Music"
Is there a way to add in a music loop to the stream?

I run a CCTV camera to YouTube, but would like to have a background music that loops

[2021-02-13 13:37] matigumma commented on #240
interesting, ¨_¨
anyway, i think youtube have a lot of resttrictions about authors, if you wish to use registered audio tracks

ffmpeg is able to mix video and audio inputs like this
`ffmpeg -i video.mp4 -i audio.wav -c:v copy -c:a aac output.mp4`

but i dont know about loop,,

[2021-02-13 13:48] AtomicLaser commented on #240
Yeah I'd be using some royalty free music for this, but its tagging it into Restreamer so that ffmpeg sends the music too

[2021-02-14 16:34] greycoding commented on #105
Hello,

I also need the possibility to start and stop the restreamer via the API.
Is this now possible?

[2021-02-15 07:49] ioppermann commented on #238
@LunarstarPony As @LckyLuciano wrote, there was an error in my initial post. On line 12 it should be `listen 1935;` instead of `listen :1935;` (without the colon).

[2021-02-15 07:59] ioppermann commented on #239
Does your camera do MJPEG via RSTP, or do you have "direkt" MJPEG stream? In any case you need to enable encoding such that the MJPEG data gets encoded to h264. In the upcoming release, there will be a finer grained control on how to process MJPEG streams.

[2021-02-15 08:03] ioppermann commented on #105
@greycoding This will be possible in the upcoming version of Restreamer.

[2021-02-16 03:25] wesswhite opened #241 "how to play in vlc"
how in the world do you get thi to out put or play on vlc like http://ipaddress/xxx i cannot figure it out

[2021-02-16 07:34] eisengrau commented on #239
Ufortunately, the case is the latter, the camera's hardware is only capable to output MJPG, no matter what protocol (it supports RTP, RTSP, HTTP stream) is used.

The thing is, that I can't really enable encoding in restreamer, as it won't accept the camera's stream url, the error is, what I mentioned above. I can vary the camera's output URL to have extensions like video.mp4, video.h256, ... but

[2021-02-16 07:44] ioppermann commented on #241
The address to use in VLC to watch the stream from the Restreamer is: http://ipaddress:port/hls/live.stream.m3u8

[2021-02-16 08:08] ioppermann commented on #239
To ingest MJPEG streams will be supported in the upcoming release. In the meantime I can offer you a workaround, if you are familiar with the command line. The idea is to use ffmpeg for converting the MJPEG stream to something Restreamer can process. This will then be send to the RTMP endpoint of the Restreamer (https://datarhei.github.io/restreamer/docs/guides-ingest-rtmp.html).

Use this command

[2021-02-16 11:27] greycoding opened #242 "Build docker image on RPi 4: ffprobe error"
I created a Docker image of restreamer on my Raspberry Pi 4 (4GB) using the following command:

`docker build -f dockerfile-rpi -t restreamer .`

I then created a container from it:

`docker run -d --restart always --name restreamer -e "RS_USERNAME=admin" -e "RS_PASSWORD=*****" -p 8080:8080 -v /mnt/restreamer/db:/restreamer/db --tmpfs /tmp/hls restreamer:latest`

The web interface is displayed cor

[2021-02-16 13:32] ioppermann commented on #242
You have to mount the directory `/opt/vc` into the container.

[code]

Please also check this thread: https://github.com/datarhei/restreamer/issues/148

[2021-02-16 14:13] greycoding commented on #242
Hi @ioppermann ,

thank you! The `/opt/vc` parameter in conjunction with the `--privileged` parameter (as described in the thread you mentioned) helped to get the stream starting.

[2021-02-16 14:13] #242 closed

[2021-02-16 22:34] wesswhite commented on #241
Was this in the fax or docs anywhere on the site I looked everywhere, if not please add it … 😝

And thank you

Sent from Mail for Windows 10

From: Ingo Oppermann
Sent: Tuesday, February 16, 2021 1:44 AM
To: datarhei/restreamer
Cc: wesswhite; Author
Subject: Re: [datarhei/restreamer] how to play in vlc (#241)

The address to use in VLC to watch the stream from the Restreamer is: http://ipaddress:p

[2021-02-18 15:21] ioppermann commented on #241
You had to send three copies of the signed form RS42-11 by mail to us in order to get this information 😜

It was nowhere to find the docs. I added it: https://datarhei.github.io/restreamer/docs/guides-embedding.html#external-player

[2021-02-18 15:39] wesswhite commented on #241
Well if you’re the app creator good job, I would like to ask if there can ever be a way to change the password from inside program or a variable to do it while installing on docker

Sent from Mail for Windows 10

From: Ingo Oppermann
Sent: Thursday, February 18, 2021 9:21 AM
To: datarhei/restreamer
Cc: wesswhite; Author
Subject: Re: [datarhei/restreamer] how to play in vlc (#241)

You had to send

[2021-02-19 07:17] ioppermann commented on #241
You can change the password by setting the environment variable `RS_PASSWORD` (`docker run ... -e RS_PASSWORD=foobar ...`) to the desired value before starting Restreamer (https://datarhei.github.io/restreamer/docs/references-environment-vars.html). However, it is not possible to change the password while the Restreamer is running and without restarting it.

[2021-02-20 22:23] DrEzequiel opened #243 "Chromecast Support"
Would it be possible to add Chromecast support to player.html?

[2021-02-21 17:52] Ter747474 opened #244 "Questions and suggestions..."
Thank you guys for this very nice software - I bought you some coffee. With trial and error I managed to get things working - kinda.

My set-up: RPi 3B+, an IP-cam that can deliver either 1280x720 or 640x360 H.264/RTSP (SAS-IPCAM220), and a Wlink R200LFX-w router with LTE/4G sim-card inside. Measured upload speed 5000-7000 Kbps. While Restreamer is working my Pi's temperature does not rise above 4

[2021-02-23 12:23] ioppermann commented on #244
@Ter747474 Thanks for the ☕ , highly appreciated.

Question 1: I think it is related to Youtube itself and that you are streaming via LTE/4G. LTE/4G is a shared medium where you never now how many other clients are connected to the same cell and how much data is going through it. This might be the reason why you get the warning messages and it works only flawlessly with a low bandwidth (for 360p).

[2021-02-24 02:31] LunarstarPony commented on #238
It works now thanks a lot!

[2021-02-24 02:31] #238 closed

[2021-02-26 07:49] darvin commented on #203
CAN YOU SHARE YOUR FILE

[2021-02-26 09:31] Pioxis opened #245 "Streaming to YT via RTMP doesn't work"
Hello,

I have IP camera, and I'm getting that camera from rtsp protocol.
After that I want to stream it to YT via RTMP. But I'm getting information: _Your stream wasn't accessible.
no video stream detected_
From OBS stream is working fine, but from restreamer I can't stream it.
When I'm trying to stream via HLS then when I'm pressing to start, nothing happens.

[2021-02-26 11:31] matigumma commented on #245
I dont know your cam brand but
In some cases u have to get an addition to the path of stream
Lile this in dahua or ipc cams:
`rtsp://x.x.x.x:554/cam/realmonitor?channel=1&subtype=0&unicast=true&proto=Onvif `

a lot of cams have their cuatom paths
I just find this for my model

[2021-02-26 12:35] Bosutike commented on #203
I am sorry but I am not using this solution anymore.

[2021-02-26 12:35] #203 closed

[2021-02-26 13:50] Pioxis commented on #245
I can get via RTSP the stream video from camera. I can't stream it to YT via RTMP.

[2021-02-28 13:19] CrashOv62 commented on #244
Question 1: I have the same problem having a stable FTTH connection with a Debian machine (in ProxMox) with all 5 restreamer instances installed on it ... and yet in YT I also see that there are messages from stream errors in yellow ... and yet all restreamer instances are green and the stream is correct ... but for YT the stream received is not sufficient and whether it is in 720p or 1080p it doe

[2021-03-01 09:15] #245 closed

[2021-03-01 19:16] tiptop96 opened #246 "External streaming server gets black image after a while."
I have been atempting to run restreamer for a few months now with youtbe as the external streaming service. Sadly I have had some problems. I suspect that they have nothing to do with `resteramer`, but I need to be sure.

The stream works fine at first and then drops out after some random amount of time. Youtube says the connection is "excellent" and restreamer is reporting that the stream is runn

[2021-03-02 08:23] ioppermann commented on #246
@tiptop96 The dynamic IP may be really the reason for this. If you connect to YT with one IP and then at some point YT receives the data from another IP, it will abort the stream with the old IP.

[2021-03-03 08:11] ioppermann commented on #244
@CrashOv62 Can find out what the exact error/warning it is? YT has listed their errors and possible causes on this page: https://support.google.com/youtube/answer/3006768?hl=en

I will take the idea of automatically creating a stream via the YT API as feature request.

[2021-03-03 09:26] giuseppegambino92 opened #247 "Streaming bitrate suddenly collapses"
Hi, I noticed that a few times during the day, the detected incoming bitrate collapses to values ​​close to 0. Restarting the container several times, the bitrate returns to the original value of the incoming stream (2500kbps). Why?

[2021-03-03 09:55] ioppermann commented on #247
Might there be a connection issue with the incoming stream?

[2021-03-03 10:01] giuseppegambino92 commented on #247
Thanks for the reply. The webcam is local, and with the ffmpeg command (without container), it doesn't happen. Except if the cam restarts. In this way, however, during the day, perhaps even after 12 hours, it suddenly goes down. I had to create a script that kills the container and re-launches it when it happens. But it seems strange to me..

[2021-03-03 10:04] giuseppegambino92 commented on #247
![restreamer](https://user-images.githubusercontent.com/17169769/109789099-44c4c800-7c10-11eb-9d58-87e0e33c40d9.png)

[2021-03-03 12:27] CrashOv62 commented on #244
Most often it's this kind of orange message: The stream's current bitrate (1866.94 kbps) is lower than the recommended bitrate. We recommend that you use a stream bitrate of 4500 kbps.
But the stream is broadcast normally without any cutoff and with (or without) sound in the streams ... I never reach the 4500 kbps recommended however I have no upload restriction on my FTTH connection, in restreame

[2021-03-03 17:24] tiptop96 commented on #246
Thanks, thats great to know.

However I it happend again and I could verify the IP has not changed. Usually it is just a matter of pressing stop and start to fix it.

Any ideas?

[2021-03-05 20:15] fruvous commented on #246
https://github.com/datarhei/restreamer/issues/212

[2021-03-05 20:16] fruvous opened #248 "Add support for Glimesh/FTL"
Feature Request: Add support for Glimesh.

[2021-03-09 14:27] giuseppegambino92 opened #250 "H265 support, why not?"
Hi, I wanted to understand why the H.265 format is not supported, and possibly understand what the incompatibility depends on. Eventually I could also move to make a commit request.
Thanks in advance

[2021-03-13 06:49] #126 closed

[2021-03-13 10:40] Webranger2 opened #251 "Username or Password is invalid"
Completely new installed system. Docker installed new. when I want to log in I always get "Username or Password is invalid" The data is 100% correct.

Raspberry zero w with Raspberry Pi OS Lite
![Bildschirmfoto 2021-03-13 um 11 40 27](https://user-images.githubusercontent.com/44174579/111027484-f1f9c600-83f0-11eb-8951-b62b0d6c07b2.png)

[2021-03-15 08:42] ioppermann commented on #251
Did you set the environment variables `RS_USERNAME` and `RS_PASSWORD` to values that may need escaping? It could happen that the shell is changing the contents of the values if they contain some special characters (e.g. `$`).

[2021-03-20 20:09] SarahDal opened #253 "Automatically streaming to youtube"
Is there any way to set streaming to youtube from the command line? I am hoping to just livestream between set hours of the day over 1 month, so I was hoping to set up a cron or timer job for this.

I see the RS_INPUTSTREAM and RS_OUTPUTSTREAM environmental variables, but I also see from a previous question that these can only be set on a fresh install, so I'm not sure if that is what I am looking

[2021-03-22 09:46] forgetmenot2020kenting opened #254 "cannot find the "web preview" button to start"
I am a new user to the restreamer,
I cannot find the "web preview" button to start restreamer,
can anyone help plz? thanks

![image](https://user-images.githubusercontent.com/81156695/111970694-81f8e780-8b36-11eb-9640-1011f9c5a398.png)

[2021-03-22 13:12] ioppermann commented on #253
@SarahDal You can use the `RS_INPUTSTREAM` and `RS_OUTPUTSTREAM` environment variables to instruct Restreamer to start pulling from a source and sending to an external destination. You just have to make sure to have a fresh install every time.

The installation is considered to be "fresh" if there's no state database available (`/restreamer/db/v1.json`). You can achieve this by **not mounting** a

[2021-03-22 17:24] ioppermann commented on #254
@forgetmenot2020kenting Did you configure the port in the "Hostname / Ports" settings?

[2021-03-23 02:08] forgetmenot2020kenting commented on #254
![image](https://user-images.githubusercontent.com/81156695/112082065-aa78f400-8bbf-11eb-8429-e416e2cc1e62.png)
this part?

[2021-03-24 08:24] ioppermann commented on #254
Yes. If you define a published port, you should see the web preview.

[2021-03-25 13:24] thephoton opened #255 "Your stream wasn't accessible. Invalid data found when processing input"
Hi

I have setup restreamer in a Windows Server 2019 docker host and it will happily connect to other CCTV devices that use H264, but I am having trouble connecting to one of our devices - it is an electronic gate camera that outputs its stream as H263.

The message in the UI states:
Your stream wasn't accessible.
rtsp://10.12.15.8:554/stream: Invalid data found when processing input

I've tried b

[2021-03-25 13:54] thephoton commented on #255
Following the instructions for an external RTMP stream here: https://datarhei.github.io/restreamer/docs/guides-ingest-rtmp.html
I tried running the command
`ffmpeg -re -i rtsp://10.12.15.8:554/ -f flv rtmp://10.50.0.1/live/external.stream?token=abc`
on a different host.

Restreamer then picks up the stream quite happily. Not entirely sure what's going on!

[2021-03-26 06:54] feuersee opened #256 "Error Your encoder is sending data faster than realtime (multipleseconds of video each second). You must rate limit your livevideo upload to approximately 1 second of video each second."
Hello,
i use restreamer with pi3 an get the following error message:
Error:
Your encoder is sending data faster than realtime (multipleseconds of video each second). You must rate limit your livevideo upload to approximately 1 second of video each second.

Stephan

[2021-03-27 16:51] SarahDal commented on #253
(apologies for the late reply) - thank you for this! That's really helpful

[2021-03-27 16:51] #253 closed

[2021-03-30 11:53] ioppermann commented on #255
@thephoton This is indeed a bit strange. In your first post you use `rtsp://10.12.15.8:554/stream` as input, in the second post you use `rtsp://10.12.15.8:554/` as input. Might this be the difference? Also the `-re` option shouldn't be necessary with RTSP.

[2021-03-30 11:55] ioppermann commented on #256
What is your setup in more detail? Do you stream a camera? What is the type of camera? If you try to stream a MJPEG stream, it will likely fail because there's no framerate control with it.

[2021-04-03 07:49] feuersee commented on #256
Stream is now working!
I use a Golbong Wireless Bird Box Camera (rtsp://192.168.xxx.xxx:554/user=xxx&password=xxx&channel=1&stream=0.sdp?real_stream).  In Stream settings, i changend the i frame interval to 2.
Thanks Stephan

[2021-04-03 07:49] #256 closed

[2021-04-11 17:55] cFlour opened #258 "How to start streaming"
I installed everything according to the code. Now I open restreamer, and I really don't know what to do. Can anyone explain please?

[2021-04-13 13:57] Inzombie commented on #258
First you need a source in my case i use a m3u8 source then i restream to a rtmp server.

[2021-04-14 07:58] ioppermann commented on #258
Yes, you need a source, which can be an IP camera, encoder, ... that provides a stream as RTSP, RTMP, or HLS (m3u8). E.g. you have an IP camera in your network, put its RTSP URL into to the input field and press "Start". After a few seconds you can watch the stream in your browser with the player that is provided with Restreamer and/or you can send the stream to an RTMP server (Wowza, Youtube, Fac

[2021-04-14 10:43] Pepozzo opened #259 "Set-up a backup stream for YouTube live streaming"
Hello!

First of all my appreciations for the project. I found it very easy to use and setup with docker.

I'm currently using a surveillance webcam as source, which is connected with a 4G LTE mobile connection. This stream is given to Restreamer as source, as I said before, then as output I send it to YouTube RTMP server for live streaming.

Sometimes happens that connections from source fails fo

[2021-04-15 13:51] cFlour commented on #258
@ioppermann I don't know what is an IP camera, but I have an internal camera built-in my device, so what should I do?

[2021-04-15 17:30] Yuvi-App commented on #223
Just adding this to the list of great to haves!

[2021-04-16 02:39] Inzombie opened #260 "Cpu low usage"
Hi, is it possible to set a low cpu usage or something because when i use a transcoder the cpu usage is too high. Or what is the best configuration for this task?

Im new on this and i search some solution with a thread setting.

[2021-04-16 12:47] ioppermann commented on #258
To restream a built-in device is currently only possible if you're running on Linux and the built-in device is exposed as video4linux device (https://datarhei.github.io/restreamer/docs/guides-usb-camera.html). In a later version we add support for macOS and Windows.

For your case, I would recommend OBS (https://obsproject.com/).

[2021-04-16 12:52] ioppermann commented on #260
The best settings for low CPU usage is the `ultrafast` preset combined with `zerolatency` tuning. The encoder will use multiple threads if it's appropriate.

If the stream you're transcoding has a high resolution, it will use a lot CPU.

The lowest CPU usage is with just stream copying, given that you input stream is compatible.

In one of the next versions we will provide GPU encoding, if availab

[2021-04-16 14:10] charlesomer commented on #111
Just want to add my observations too, I could get it to work when OBS was set to 48fps, 50fps or 60fps but no lower which isn't ideal :/ I'm not sure why 🤷‍♂️

[2021-04-16 14:27] ioppermann commented on #259
What you describe is very typical. That's why we're working on a built-in solution for this.

As a temporary workaround you can use ffmpeg to send a video of a static image to the backup destination. I will provide you the basic commands. You may need to adjust them to your needs.

First, you encode the image to a short video snippet with the same resolution, bitrate, and framerate as the stream f

[2021-04-17 04:18] jdw003 opened #261 "armv7 docker build failing on curl"
restreamer-arm32v7 builds are failing due to issue with curl certificates (error text below). Note that the error is not thrown when curl commands are run directly from a `arm32v7/debian:10.4-slim` container on rpi so this is specific to the docker build process.

[code]

The issue is resolved by replacing all `curl -OL` refs with `wget` or `curl -k`

[2021-04-18 05:39] cFlour commented on #258
@ioppermann I tried OBS before, and it doesn't work. So I currently use [streamyard](https://streamyard.com/broadcasts).

[2021-04-18 08:47] SarahDal opened #262 "Web interface either 502, not found or frozen"
I am unable to access the web interface on a fresh install, it either:
- Cannot find the IP address
- Returns a 502
- The web interface opens, but is unresponsive and I am unable to login.

Any clues? The error log is below; I'm confused by "/opt/vc/bin/raspivid: not found" as raspivid is otherwise working fine

[18-04-2021 10:40:33.633] [DEBUG] [             Webserver] Init webserver with PROD en

[2021-04-18 18:16] SarahDal commented on #262
This is now working - I am not sure what the problem was but it has evaporated.

[2021-04-18 18:16] #262 closed

[2021-04-26 07:40] SarahDal opened #263 "Youtube excellent connection but no image"
When starting the stream automatically from the command line, I get the "Send us your video via the streaming software to start a live stream" and no image, but a green light and "excellent" connection

docker run -d --restart always --name restreamer -e "RS_LOGLEVEL=4" -e "RS_USERNAME=[admin]" -e "RS_PASSWORD=[password]" -e "RS_MODE=RASPICAM" -e "RS_RASPICAM_VFLIP=true" -e "RS_RASPICAM_WIDTH=852"

[2021-04-26 20:39] sylwesterdigital commented on #220
@arcadiush is right.

[2021-04-27 12:16] ioppermann commented on #263
This might be an YT issue. YT wont automatically start streaming if you are not on the streaming inferface with your browser. This is a known quirk of YT. The issue #259 could be interesting for you.

The width of your stream is also unusual. It's possible be that YT doesn't like it.

[2021-04-27 15:51] ioppermann commented on #261
@jdw003 Hmm, unfortunately, I couldn't reproduce this.

[2021-04-27 16:29] SarahDal commented on #263
I had seen that #259 and was looking into that too. Thank you for the response - frustrating that YT is so picky about streams. I will keep trying though!

[2021-04-29 18:23] SarahDal commented on #263
I tried streaming through Twitch instead of Youtube, and found it much more reliable and an all-round better solution for me than youtube, with the stream easily embedded into a webpage.

[2021-04-29 18:23] #263 closed

[2021-05-01 15:22] apofis1969 commented on #251
hi, it worked with me with this code:
docker run -dit --restart unless-stopped --name restreamer --env RS_USERNAME=xxxxx --env RS_PASSWORD=xxxxx  -p 8080:8080 -v /mnt/restreamer/db:/restreamer/db  datarhei/restreamer:latest

[2021-05-02 18:35] BigRedProductions opened #265 "Stress Test"
Is there a way to stress test the RTMP Server? I would like to be able to know if it will handle what I want to use it for before I use it. I plan to use this for my Church’s Live Stream. Thank you for any help!

[2021-05-03 22:05] badincite commented on #265
Your upload bandwidth is pretty much gonna be your limit.

[2021-05-06 12:10] ioppermann commented on #265
The RTMP server is usually not stressed at all. If send a stream via RTMP to Restreamer, then the RTMP server transformes the stream into a HLS stream which is then served as simple HTTP from the internal nginx.

If you pull in a stream from an IP camera (no matter what protocol), it will be send to the internal RTMP which will also transform the stream to HLS.

The stream for the player is always

[2021-05-12 11:55] ChienDesEnfers commented on #251
I have the exact same issue when I set environment variable (using Kubernetes secret).
When I launch the docker image, I display these variables with `echo $RS_USERNAME` and `echo $RS_PASSWORD`, that shows me the correct username and password. But if I use them to login, I have the error about credentials.

[2021-05-12 12:08] ioppermann commented on #251
@ChienDesEnfers Do you use any special characters for your username or password? Also try to login with the default username (`admin`) and password (`datarhei`). This should not work.

[2021-05-12 12:19] ChienDesEnfers commented on #251
I don't have any special characters for both of them. If I remove these environment variables and I use the default `admin`/`datarhei` it's ok.
And if I use `echo $RS_USERNAME` the login et password are correct, so I suppose the issue doesn't come from the variable but maybe how it's managed into the system.

[2021-05-12 19:53] Yuvi-App opened #269 "Start Stream & Adjust URL via API"
As a feature request, could we get away to Start/Stop streaming for both inbound & outbound streams. Then a way to modify the URL for both would be excellent.

Looking to integrate the API into a frontend app for ease of managing 10+ restreamers.

[2021-05-13 07:29] ioppermann commented on #269
With the next Restreamer release there will be an API which allows full control of the streaming processes. Additionaly, you will be able to forward the input stream to more than one destination (e.g. Youtube, Twitch, ...). The release after that will allow you to have multiple input streams with one Restreamer instance. Both releases will have an UI for easily managing all the streams.

Please be

[2021-05-13 14:07] Yuvi-App commented on #269
Great to Hear Sir!
Can Close out this Feature Request then

[2021-05-17 12:14] yashodhank opened #270 "From YouTube or Facebook Live to multi stream to other Facebook, YouTube, Twitch Live"
Greetings,

I really appreciate all those who worked hard work and shared restreamer..
I am looking into setup streaming server for going live with three youtube, facebook and Twitch channels at the same time as soon as my primary YouTube channel live feed starts.

Any suggestions and feedback is welcome. Thank you

[2021-05-18 12:08] CrashOv62 commented on #270
Hello !

I am also a restreamer user and to multi-stream with this version 0.6.8, I don't think I have the choice to launch several instances of restreamer (one for each server ...).
look over here: https://datarhei.github.io/restreamer/docs/guides-multiple-restreamer.html

You will be able to retrieve the camera stream in rtps on each of the instances and redirect them one to YouTube, one to Twit

[2021-05-18 12:30] yashodhank commented on #270
Thank you for your kind reply. I found one very interesting implementation and I just need to solve some other aspects of this puzzle..
This docker container image monitors channel for live (some other possibilities also available) checkout: https://github.com/sparanoid/live-dl
If I able to mix this with restreamer in someway or another, it will be legendary.

[2021-05-27 15:25] apofis1969 opened #272 "Reduce delay RTMP"
Hi, I am restreaming from wowza to Dacast.
Unfortunately the delay of the rtmp stream also inside the restreamer, testing with the player, is 8-11s
How can I reduce the delay of the incoming rtmp stream and also reduce the delay of the stream to the external platform.
Any help would be great!
Thank you
Johannes

[2021-05-28 06:49] ioppermann commented on #272
Hi Johannes, please have a look at the discussion in the issue https://github.com/datarhei/restreamer/issues/132

[2021-05-31 10:13] apofis1969 commented on #272
Hi, I tried all the possibilities. The mentioned link with adapting the live.json does not work with ubuntu 20.04+
the reducing of the time intervals in the nginx.conf  do not create a lot of result. The delay if I open the player directly at the encoder is 8-10s and sometimes more. If I implement in a website I need to add more 2s
Is there any other configuration within the code to reduce the del

[2021-05-31 18:01] fluential commented on #272
@apofis1969 try running this for a test https://github.com/fluential/ant-media-server-docker

[2021-06-05 23:07] apofis1969 commented on #272
Hi, I tried to run the live stream to the website with ant media enterprise. Absolutely no delay. Max delay 1,57 seconds. The problem is Dacast. Hopefully they will do the refund.

[2021-06-05 23:07] #272 closed

[2021-06-11 07:25] LeonardoBagella opened #274 "new feature? RTMP destination server needs authentication"
Hello,
compliments for the work done ! 👍

I have to redirect the streaming to a rtmp server that necessarily asks for authentication.
The feature is similar to the one OBS or other softwares already do ( see [image](https://support.wim.tv/wp-content/uploads/2021/02/Support-wimtv-impostazioni-diretta-OBS.png) )

Are there chances to have it ? :)

thank you.
Leonardo

[2021-06-21 22:48] kolet opened #275 "player on different port?"
hi there,
i've read the doc but could not find this information .

i have downloaded the docker and ran it,
i was wondering , is that possible to change the player port ?

what happen is , when i ran the docker with -p8080:8080 it forwarded the login page and the player itself .
i'd like  for the "player" to be on port 9000 for example , and the login page on 8080
or keep the login page behind nat

[2021-06-21 22:50] kolet opened #276 "add multiple input with multiple outputs"
hi there ,
i have multiple streaming input , is that possible to add multiple input within one docker ? (and ofc have multiple output players for each streaming input)
or i have to open multiple dockers for the number of streaming input

thanks

[2021-06-21 23:01] kolet opened #277 "Securing player?"
hi !

would that be possible to add an authentication page before the player page

for example if a given person will want to hit (reach) player.html he will need to enter a username and password that were given to him.

(that mean in the login page the "admin" will be able to create such username and password manually and randomly)

[2021-06-24 08:41] makr76 commented on #258
My raspberry cam works well, the stream was started and now I wanted to push it to YT. Added the stream key to it and the external stream was successfully started, but the stream in YT did not appear. Its still waiting for the streaming signal..!?! any thoughts about it?
also there´s often an error in the external streaming window "Your stream wasn't accessible.
Error: ffmpeg was killed with signa

[2021-06-25 15:57] ioppermann commented on #274
We will look into it.

[2021-06-25 15:59] ioppermann commented on #275
Such a setup will be possible with the upcoming release, where you'll have the option not to expose the login page.

[2021-06-25 16:02] ioppermann commented on #276
Currently you have to run multiple docker container for each input (https://datarhei.github.io/restreamer/docs/guides-multiple-restreamer.html).

In the upcomping release you will be able to have multiple outputs for one stream. In the release after that we will give the possibility to have multiple inputs as well with only one docker container.

[2021-06-25 16:06] ioppermann commented on #277
Currently this is not possible out-of-the-box. You could modify the `conf/nginx.conf` such that it asks for a password if the player.html is accessed. You could either build your own docker image with the modification or mount the modified `conf/nginx.conf` into the container.

[2021-06-29 07:11] pidzvnese opened #278 "How to restream multiple rtmp live streams at the same time?"
Dear team,

I really appreciate all those who worked hard work and shared this project,
I use software to live stream, can I customize more than 1 external rtmp live stream at config?
And is there a way to generate tokens or stream keys for separate accounts?

Thanks you!

[2021-06-29 12:19] matigumma commented on #278
use 2 cointainers
with first  ingest the main source and push where u want
with second ingest main playlist.m3u8 and push other where u want...

[2021-06-29 14:27] pidzvnese commented on #278
But if 3 or more rtmp live streams need 3 or more containers?

[2021-06-29 16:27] kolet commented on #275
thanks !
any eta for the new release ?

[2021-06-29 16:27] kolet commented on #276
hurrayy !

thanks

[2021-06-29 16:27] #276 closed

[2021-07-04 15:50] bubbapizza opened #279 "rotate video 90 degrees and/or flip image"
Hi I'm using restreamer to convert an RTSP stream to HLS for Octoprint.  It works great when I use the .m3u8 URL.

I was just wondering if there's any way to rotate the image 90 degrees and/or flip the image.  The rotate/flip checkboxes in Octoprint don't seem to work with HLS streams.

Thanks

[2021-07-08 21:21] Inzombie commented on #207
Where I can find the live.json file?

[2021-07-12 15:14] ioppermann commented on #207
The live.json file is in the /conf directory of the repository.

[2021-07-12 21:55] Inzombie commented on #207
I can't find the directory, i installed via docker.

[2021-07-14 21:03] MrCoala commented on #259
This is also a big issue we have right now. Does anyone know if you need to enable the backup stream functionality within youtube? Or can you just use the key for the main stream and send a stream to the backup url?

[2021-07-17 16:15] MrCoala commented on #259
Thanks @ioppermann for the ffmpeg backup solution but for some reason youtube keeps switching to the backup even though restreamer is still sending towards youtube (maybe short interruptions?)
We are using restreamer to publish a wild animal camera to the public and i really would love to see a built in backup functionality. Do you have any estimate on when such a function could be implemented? Or

[2021-07-17 19:39] MrCoala commented on #275
You might want to have a look at Caddy which can act as a middleware. you could define different subdomains for the panel or the player

[2021-07-18 14:14] kalashnikov2 opened #280 "https error"
hi
im triying to set up a https restreamer

using this comand

`docker run -it --rm --name restreamer      -e "RS_USERNAME=admin" -e "RS_PASSWORD=xxxxxxxxxxxx"      -p 8080:8080 -p 1935:1935 -e "RS_TOKEN=xxxxxxxx" -p 443:8181 -e "RS_HTTPS=true" -v /root/re:/restreamer/db      datarhei/restreamer:latest`

get this error

[code]

![image](https://user-images.githubusercontent.com/44566/126070548-e27

[2021-07-19 14:54] ioppermann commented on #207
You have to download it from the repository: https://github.com/datarhei/restreamer/blob/master/conf/live.json and then you can mount your modified version into the docker container with `-v /path/to/modified/live.json:/restreamer/conf/live.json`.

[2021-07-19 15:13] ioppermann commented on #279
Hi @bubbapizza, did you check out the old issue https://github.com/datarhei/restreamer/issues/129 ? It requires that you re-encode the stream.

[2021-07-19 15:44] ioppermann commented on #280
Do you use the latest (v0.6.8) version? I tested it with v0.6.8 on macOS and it works.

[2021-07-19 16:17] kalashnikov2 commented on #280
hi

yes

here all the log

`> Restreamer@0.6.8 start /restreamer

[19-07-2021 18:15:35.538] [INFO ]      _       _             _           _
[19-07-2021 18:15:35.545] [INFO ]   __| | __ _| |_ __ _ _ __| |___   ___(_)
[19-07-2021 18:15:35.546] [INFO ]  / _  |/ _  | __/ _  |  __|  _  |/  _ | |
[19-07-2021 18:15:35.547] [INFO ] | (_| | (_| | || (_| | |  | | | |  __/| |
[19-07-2021 18:15:35.547] [INFO

[2021-07-24 16:31] bubbapizza commented on #279
Yes, for future reference for anyone reading this, I had to do this:

NOTE: to rotate the video 90 degrees, I logged into the restreamer container using:

     docker exec -it restreamer /bin/bash

Then added the "transpose=1" h264 filter to the /restreamer/conf/live.json file so it looks like this:

            "video_codec_h264": {
                "inputOptions": [],
                "outputOptio

[2021-08-08 02:23] RockNRollGeek commented on #171
Is this dead? It's now Aug 2021.

[2021-08-08 09:11] ioppermann commented on #171
No, it's not dead, but a bit delayed. Unfortunately we can't dedicate all of our time to this project.

[2021-08-09 08:52] mickopla opened #281 "starting restreamer docker raspberry pi"
I followed all the steps to install Docker on my Raspberry pi 4 and it is installed properly. When i use the command
docker run -d --restart always \
     --name restreamer \
     -e "RS_USERNAME=admin" -e "RS_PASSWORD=datarhei" \
     -p 8080:8080 -v /mnt/restreamer/db:/restreamer/db \
     --tmpfs /tmp/hls \
     datarhei/restreamer-armv7l:latest

I get commands not found errors and restreamer w

[2021-08-12 08:42] #281 closed

[2021-08-12 08:43] mickopla commented on #281
Fixed this issue

[2021-08-12 08:45] mickopla opened #283 "docker-compose.yml location"
I'm trying to find the docker-compose.yml file but can't. Where is it normally located??
I'm using docker on a pi4

[2021-08-12 11:38] ioppermann commented on #281
@mickopla Great! Could elaborate what the issue was?

[2021-08-12 11:39] ioppermann commented on #283
You have to copy/download it from the repository: https://github.com/datarhei/restreamer/blob/master/docker-compose.yml

[2021-08-12 18:12] mickopla commented on #283
I have spent a few days on this trying to get it https in order to embed on my website but seriously its such a difficult process to get your head around.
It would be great if we had a list of Exact steps in order to get this to work. It seems in theory the docker-compose method may be the most straight forward but still by no means easy. Any help would be greatly appreciated

[2021-08-12 19:00] MrCoala commented on #283
You put the docker-compose.yml wherever you want to (e.g. ~/restreamer/docker-compose.yml) then you edit it and start the container with:
docker-compose up -d

If you need https then you should have a look at caddy. It is a middleware that will handle the https certificates for you and the config file is very simple

[2021-08-12 19:26] mickopla commented on #283
Thanks so much. I will have a look at Caddy. Seems like a good option

[2021-08-12 22:37] nrakoski3 opened #284 "Start Docker Container with H264 Encoding Set for Video"
Hello,

I am using docker-compose to bring up multiple restreamer containers at time for different cameras. I need them all to start with these video settings:
H.264
ultrafast
1Mbit/sec
fps:25
profile: auto
tune: none

But there are no environment variables for video settings. I understand I can get a copy of the /conf/live.json file, edit, and then mount it in the docker container using the docke

[2021-08-14 16:54] mickopla commented on #283
I'm trying to use the BYOC method as i have a free domain with a cert.

Im running this command docker run ... -p 443:8181 -e RS_HTTPS=true -v /mnt/restreamer/db:/restreamer/db ...

But gettings this error
docker run ... -p 443:8181 -e RS_HTTPS=true -v /mnt/restreamer/db:/restreamer/db ...
docker: invalid reference format.
See 'docker run --help'.

I have tried to do this when restreamer is stoppe

[2021-08-16 10:32] ioppermann commented on #284
For this, you can provide for each camera a `v1.json` (which is stored in `/restreamer/db`) with the appropriate settings. In order to get a template, adjust the settings to your needs for one camera and use its `v1.json` (which is stored wherever you mount the `/restreamer/db` directory on you host system). In the `v1.json` you see the settings in `options`->`video`.

As an alternative, you can "

[2021-08-16 11:28] ioppermann commented on #283
Please don't buy a certificate. They can be obtained for free.

The docker command you were trying to run was meant as an example for you to modify your existing command. There are dots (...) in the command that should be replaced with other docker options that you already use. Instead of

[code]

the command should look like, e.g.

[code]

As @MrCoala wrote, the easiest option to setup HTTPS is w

[2021-08-16 16:21] mickopla commented on #283
Thanks so much for the detailed guide on what i need to do. I will now go step by step and hopefully it will work. I will update accordingly

[2021-08-16 17:13] mickopla commented on #283
I was getting a Command not found error but then found out you actually have to install docker-compose to the system before you can run a docker-compose up command. Anyway this is a small sample of the output and https in not available on localhost. Any ideas?

Some services (restreamer) use the 'deploy' key, which will be ignored. Compose does not support 'deploy' configuration - use `docker stac

[2021-08-16 17:45] ioppermann commented on #283
You're running this on a Pi4. I forgot this detail. In the `docker-compose.yml` you have to change the `image` for the `restreamer` from `datarhei/restreamer` to `datarhei/restreamer-armv7l`. It should look like this now:

[code]

[2021-08-16 18:29] mickopla commented on #283
I have got to the stage below but https://localhost loads nothing saying the site can't be reached. When i enter 192.168.0.245:8080 the normal log in page loads but not https
"Then you can navigate your browser to https://localhost. You might see some warnings about an invalid or self-signed certificate, but that's OK and can be ignored. Afterwards you should see the Restreamer login screen, where

[2021-08-17 08:57] ioppermann commented on #283
The "Emitting Update" is usually the last message of the start-up process of Restreamer. After this it should be ready.

Regarding "Edit 2". There you might have configured the "https-portal" service wrongly. What did you use as value for `DOMAINS`?

[2021-08-17 09:14] mickopla commented on #283
This is what i have for the https-portal section
https-portal:
    image: steveltn/https-portal:1
    container_name: https-portal
    ports:
      - 80:80
      - 443:443
    restart: always
    networks:
      - frontend
    environment:
      DOMAINS: waterfordweather.ddns.net -> http://restreamer:8080
      STAGE: production
      # DOMAINS: yourdomain.com -> http://restreamer:8080
      # STA

[2021-08-18 17:06] mickopla commented on #283
Working on this the last few days but still can't find a fix to the nginx server_names_hash_bucket_size: 32 error.

Seems in normal nginx you can edit the nginx.conf file but how would that transfer to Restreamer??

Others must have come across this issue at some stage. I've spent so much time trying to get https to work i can't give up now.

[2021-08-18 20:52] mickopla commented on #283
Got it working finally but i'm not sure if its the https portal or Caddy is providing the cert. I have both running with a reverse proxy set up in the Caddyfile. Anyway i will leave it run and do more investigation to the source of the https in the coming days. Just glad to finally have it running and now embedded with https on my website

[2021-08-19 20:23] RaymiiOrg commented on #278
Yes, the number of containers scales up with the amount of destinations you want to re-stream to.

[2021-08-19 20:24] RaymiiOrg commented on #243
There is a pull request open: #226  - but not much is happening on that part. You could try to build your own docker container with that specific branch and see if Chromecast works.

[2021-08-28 20:39] mickopla opened #285 "Stream Buffering after a day"
I've been running my webcam stream for a few weeks now. The issue i'm having is after a day or so the stream is slow to load with buffering issues. If i stop the stream and restart it fixes the problem. Would it be a limitation of running restreamer on a raspberry pi 4?? My network is all ethernet so don't think speed would be the problem. Any ideas would be appreciated.

[2021-09-03 13:24] mmjeff opened #286 "Getting HTTPS working via Docker Compose"
I've been trying to get Restreamer working over an HTTPS connection, so we can hopefully use it on a client's website in due time. However, I'm running into some issues along the way.

My docker-compose.yml looks like this:
`version: "3"
services:
  restreamer:
    image: datarhei/restreamer
    container_name: restreamer
    ports:
      - 1935:1935
      - 8080:8080
    networks:
      - fronten

[2021-09-03 13:26] #286 closed

[2021-09-03 13:27] mmjeff commented on #286
Go figure. The minute you post a question, you get a little further. I"ll tinker with this some more and if I run into any other issues, I'll update this post.

Keep calm, carry on everyone ><

[2021-09-03 16:18] Dielee commented on #269
Hello guys,
is there something new with this issue ?

[2021-09-06 13:50] shihan84 opened #287 "Add additional Stream To SRT"
hi requesting to add 1 more format SRT like rtmp and hls please

[2021-09-08 14:22] xDololow opened #288 "Replace comboboxes with text/number fields."
I think it's worth changing these two fields to just text fields because еhere are not enough options.

![image](https://user-images.githubusercontent.com/26763912/132526827-8ac0d7a1-fcc3-492b-b280-2b2c1cd1b7b7.png)

[2021-09-09 10:19] mmjeff opened #289 "Getting HTTPS to work for multiple Restreamer instances via Docker Compose?"
After some tinkering I've managed to get 4 instances of Restreamer launched from a single Docker Compose file. Next step would be to get all 4 instances working via HTTPS. So far, only the first restreamer instance works with HTTPS. Does anyone know how to configure the HTTPS service to work for multiple restreamer instances at once?

Right now, my Compose file looks like this:

[2021-09-09 12:55] matigumma commented on #289
i handle it with traefik proxy

[2021-09-13 07:37] ioppermann commented on #287
SRT support will be available in the next release.

[2021-09-13 07:38] ioppermann commented on #288
This will be available in the next release. You will have some common suggestions and the option to give a custom value.

[2021-09-13 07:41] ioppermann commented on #285
This might be a problem with the nginx-rtmp module. What are the specs of the stream from your camera? If the camera is not delivering a constant or high enough framerate or has high variations in the bitrate is might cause these problems.

[2021-09-13 13:17] mickopla commented on #285
I have changed the stream to H.264 with a bitrate of 1mb and 25 fps. Seems to have solved the buffering problem even though its streaming at a higher bit than the previous default

[2021-09-17 07:11] mancior opened #290 "Your stream wasn't accessible. Error: ffmpeg was killed with signal SIGSEGV"
Hi

First thank You for the project. 3 streams on RPI 3 were working great for few months, streaming to twitch 24/7.

Some time ago I got message as in subject, after I press Start in GUI. That RTSP is available as I can wathc it in VLC player.

How to debug that? Where find logs? As docker logs gave me only all the time:

[17-09-2021 09:08:10.149] [INFO ] [    repeatToLocalNginx] Start streaming

[2021-09-24 11:06] mancior commented on #290
I've used DEBUG switch and what I got below. Googling dind't get me any info.

ffprobe started on 2021-09-24 at 11:05:03
Report written to "/restreamer/src/webserver/public/debug/ffprobe-20210924-110503.log"
Log level: 48
Command line:
/usr/local/bin/ffprobe -show_streams -show_format rtsp://admin:admin@10.0.0.212:554/1/1
ffprobe version 4.3.1 Copyright (c) 2007-2020 the FFmpeg developers
  built

[2021-09-24 11:11] mancior commented on #290
[24-09-2021 12:15:26.740] [DEBUG] [             Webserver] Init webserver with PROD environment
[24-09-2021 12:15:26.976] [INFO ] Debugging enabled. Check the /debug path in the web interface.
[24-09-2021 12:15:26.977] [INFO ]      _       _             _           _
[24-09-2021 12:15:26.979] [INFO ]   __| | __ _| |_ __ _ _ __| |___   ___(_)
[24-09-2021 12:15:26.981] [INFO ]  / _  |/ _  | __/ _  |

[2021-09-24 11:16] ioppermann commented on #290
This looks like the camera is sending a corrupted stream or some network packets are getting lost. Did you activate the "RTSP over TCP" option?

[2021-09-24 11:35] mancior commented on #290
Yes,  "RTSP over TCP" option is ON. I have such problem with 3 different cameras, each working before in different, separate containers. So I will check the network.

Thank You

[2021-09-26 13:33] apofis1969 opened #291 "Activate / Deactivate Restreamer remote?"
Hi,
is it possible to Start and Stop the RTMP/RTSP/HLS Video Source and the External Streaming-Server remote?
The reason for the question is, that the camera is not always on. But the Restreamer asks the streaming server continuously, if the stream is online or not.
I would like to activate and deactivate the query remote.
Is this possible?

[2021-09-28 07:34] ioppermann commented on #291
With the upcoming release this will be possible. It'll offer a fully fledged API with which you can control all the streams.

[2021-09-28 15:34] apofis1969 commented on #291
Great! Do you know when you will release the new version?

[2021-10-04 13:12] arcangeltech opened #293 "Auto start streams after rpi reboot"
Each time I reboot the rpi I have to manually start the camera stream linked to the restreamer instance while the docker restreamer launches properly. Any help please.

[2021-10-25 15:40] mconfortino opened #295 "Your stream wasn't accessible. failed to execute ffprobe"
Hi everybody, and thank you for such a fine product.
When a try to start this stream in the web interface, I get this message:

Your stream wasn't accessible.
failed to execute ffprobe: Command failed: ffprobe -of json -v error -show_streams -show_format rtsp://root:axis@172.19.50.37/axis-media/media.amp

However, if I paste the command

ffprobe -of json -v error -show_streams -show_format rtsp://

[2021-10-29 10:45] apofis1969 opened #296 "Question to error code 1"
Hi, how can I avoid the error code 1 if I take  a stream from wowza to encode with the restreamer with rtmp using spark Sorensen and speex together? Is there anything I can do?

[2021-10-31 20:28] hjaltioj commented on #283
Hi
If i use docker-compose, how do i mount tmpfs? :)
still learning docker so sry for simple question :)

[2021-11-12 16:38] mconfortino commented on #295
Hi. Where can I found the output of the command as executed from eht web interface, or a log file?

[2021-11-15 11:28] mickopla commented on #285
Unfortunately my issues continue even with a 512k stream. I need to stop and restart the stream daily. Not the hardest thing in the world to do but still not ideal when the stream is running 24/7

[2021-11-15 14:19] ioppermann commented on #285
The Pi 4 is more than capable to handle this. I still suspect the nginx-rtmp module, that is used to convert the incoming stream to HLS might have some issues. With the upcoming release this problem will probably disappear because this nginx module will not be part of it anymore.

[2021-11-15 15:27] mickopla commented on #285
I look forward to the update

[2021-11-15 17:06] ioppermann commented on #295
You can set the environment variable `RS_DEBUG` to `true`. Here are some details: https://datarhei.github.io/restreamer/docs/references-environment-vars.html#rs_debug

[2021-11-15 20:54] mconfortino commented on #295
Something weird is happening. If I execute the ffprobe command from the host console, it runs ok as the host sees the camera. If I execute it from the container console, it fails, as the container can't see the camera. When I first installed this, it worked fine, and no changes where made to the host network configuration. I'll keep studying this.

[2021-11-19 23:30] giovanniquarantadue commented on #295
Same problem:
 failed: ffprobe -of json -v error -show_streams -show_format -rtsp_transport tcp rtsp://user:password@xxx.xxx.xxx.xxx:554/cam/realmonitor?channel=1&subtype=0
 Can be related to the user and password?

[2021-11-22 14:28] ioppermann commented on #295
@giovanniquarantadue This might be. If the username and password contain special characters, the should be URL encoded. E.g. to have a `#` in the username or password will make the ffmpeg URL parser think that URL ends there. So it should be encoded as `%23`.

[2021-11-24 19:47] mickopla opened #297 "Mute sound on Youtube Stream"
I've been testing a stream to Youtube and its working well. I don't want audio on the stream. Is there a way to mute sound to the Youtube stream like the option in the player?? I have tried switching off the mic on the ipcam but i still get sound.

[2021-11-24 21:06] giovanniquarantadue commented on #295
Hi @ioppermann i've fixed changing the password even with encoded characters not working

[2021-11-26 20:30] ioppermann commented on #297
Youtube requires that the stream has an audio track. If you don't want the original audio track to be pushed to Youtube, you can use the audio encoding and replace the audio track with silence. Select `aac` as audio codec and `silence` as preset and adjust the other parameter to your liking. Leave the video codec to `copy`.

[2021-11-27 12:02] mickopla commented on #297
Thanks a lot, very much appreciated

[2021-12-03 17:07] arcadiush opened #298 "Disk is full up"
The disk fills up.
what could be causing the disk to be full to 100%?
I see it creates /var/lib/docker/overlay2/........./diff/tmp/hls/live.stream -....... ts files with very large sizes. What are they needed for, can they be removed?

[code]

I have many different folders in / var / lib / docker / overlay2, including 121656ed95701 ....... with different dates, even as of last November, each one t

[2021-12-03 17:34] Baenwort opened #299 "Docker warning - image platform doesn't match host platform"
When starting restreamer on a Pi I get:

[code]

The fix can be seen in what pi-hole went through here:

https://github.com/pi-hole/docker-pi-hole/issues/735

The short answer is this is a problem with the cross building process. Docker is now detecting this and flagging the error saying it was built in correctly. To fix it you need to update how you use  `buildx` so that it flags the architecture

[2021-12-03 18:43] Baenwort commented on #293
Would be nice.

[2021-12-03 19:56] Baenwort commented on #293
Seems you can do it with: https://datarhei.github.io/restreamer/docs/references-state.html by moding the json and putting in your targets

[2021-12-05 00:45] tommyz4 opened #300 "Trouble Capturing stream"
The Web-UI is always giving this error ;

_"Your stream wasn't accessible.
no video stream detected"_

I have followed all the steps from : https://datarhei.github.io/restreamer/docs/guides-ingest-rtmp.html
And for sending video : https://datarhei.github.io/restreamer/docs/guides-obs.html

OBS says it's connected and streaming to the server.  A TCPDUMP on the restreamer server shows streaming pack

[2021-12-05 17:02] halosalman opened #301 "the problem of stopping very quickly stops"
Hi, I've done the same thing, but after a few seconds the stream stops and the automatic will continue and it stops so soon. What is the solution on Server? I'm working on it to restart the TV channel.
For example
[This Video Click Here ](https://ok.ru/video/3517427747463)

[2021-12-08 12:29] ioppermann commented on #299
@Baenwort The error message suggests that you are using the wrong image. You should use `datarhei/restreamer-armv7l:latest` instead of `datarhei/restreamer:latest`.

https://datarhei.github.io/restreamer/docs/installation-linux-arm.html

[2021-12-08 12:31] ioppermann commented on #293
If the stream was connected before rebooting the rpi, then it should automatically reconnect the stream after the container is up again. This might be a bug.

[2021-12-08 12:36] ioppermann commented on #298
The `.ts` files are the actual video files needed for streaming. When they are very large (what size do they have?), then the stream has a very high bitrate. What are the specs of your stream?

In order not to store the stream on the disk, you can consider using a tmpfs that stores the files in RAM.
https://datarhei.github.io/restreamer/docs/guides-sdcard.html

[2021-12-08 12:38] ioppermann commented on #300
It says `Unsupported codec with id 0 for input stream 0`. This means it can detect the video stream. It is important to use the correct settings in OBS in order to make it work. Please can you double-check if you use the settings as described in the guides?

[2021-12-08 12:40] ioppermann commented on #301
It looks like that you have a very low and variable framerate. This might cause the problem. Can you configure the source such that it generates a constant framerate of at least 10fps?

[2021-12-08 14:51] Baenwort commented on #299
Hi, I'm using the `datarhei/restreamer-armv6l:latest` as it is a Pi Zero W.

This error occurs with the above image. Per the troubleshooting over in PiHole and other projects this is caused by a change in the latest version of Docker that causes it to flag on images build on other platforms that are using a older build process that doesn't set the flags hoe Docker expects. It used to ignore it and

[2021-12-08 14:57] Baenwort commented on #132
Is there a variable that I can pass to Docker to set these or do I have to build my own image to tweak it?

[2021-12-08 15:19] ioppermann commented on #132
You can mount in a modified `nginx.conf`. Copy the existing one from the repo, apply the tweaks and mount it in by adding `-v /path/to/tweaked/nginx.conf:/restreamer/conf/nginx.conf`.

[2021-12-08 18:25] Baenwort commented on #132
Am i correct that I add that string (after fixing location) to the end of my Docker run command?

[2021-12-09 05:30] Jean-Baptiste-Lasselle opened #302 "Unable to work at all"
Hello,

Thank you very much for your work, I can't wait to be able to use it.

## My issue in a few words

* I start restreamer from the docker container,
* I go to localhost:8080
* and when  I try and stream to YouTube, it just simply won't work at all.

## Details about the test I ran

I run restreamer as a docker-compose :

[code]

*
I use the url `rtmp://a.rtmp.youtube.com/live2/ue03-gu47-v24y

[2021-12-09 06:07] Jean-Baptiste-Lasselle commented on #302
### I gave it another try, with the provided docker-compose

And I get the exact same error, only this time i do get DEBUG level logs :

* the docker-compose :

[code]

* The debug logs i get :

[code]

[2021-12-09 11:49] civita commented on #302
Hi @Jean-Baptiste-Lasselle, did you mean that you put the same url in both `source` and `external streaming-server`? If you want to stream something to YouTube, the url in `source` should be like local `rtsp://` from ipcam or external RTMP/RTSP/HLS links.

[2021-12-09 17:17] ioppermann commented on #132
It should be part of the docker command where all the other options go. At the end of the docker command is the name of the image. You can add it right before the image name.

E.g.

`docker run -d --restart always -e "RS_USERNAME=admin" -e "RS_PASSWORD=datarhei" -p 8080:8080 -v /mnt/restreamer/db:/restreamer/db datarhei/restreamer:latest`

becomes

`docker run -d --restart always -e "RS_USERNAME=a

[2021-12-09 23:47] Jean-Baptiste-Lasselle commented on #302
@civita thank you for your first message, i hope we can solve  that : I wanted to add i just ran the test again, with exact same conditions than i described, and i get exact same error.

[2021-12-10 01:43] Tokolosh commented on #302
You need a different source. You cant pull and send to the same address.
RTMP/RTSP/HLS Video Source is intended for your IPCam or other Device/OBS Stream

External Streaming-Server is where you can enter the Youtube URL

[2021-12-10 04:57] civita commented on #302
Hi @Jean-Baptiste-Lasselle , suppose that your scenario is streaming the webcam from your local pc to YouTube, then in the "source" field should be the something related to the webcam. This divides into two possible conditions:

1. Your webcam is on your pc/mac and restreamer is running somewhere else (e.g., raspberry pi/other linux machine)
2. Your webcam and restreamer is running in the same mac

[2021-12-10 14:05] Jean-Baptiste-Lasselle commented on #302
Thanks so much  @Tokolosh @civita very sad, that this explanation that you give, is not there in the docs, at https://datarhei.github.io/restreamer/docs/guides-youtube.html .

I think i will make gift at some point, to improve docs.

After reading what you explained, I think best natural setup is :
* to install OBS on my PC : indeed i just checked that OBS catches my PC's integrated webcam
* to ru

[2021-12-10 14:34] Jean-Baptiste-Lasselle commented on #302
Ok, I just tried using the OBS setup, I followed https://datarhei.github.io/restreamer/docs/guides-obs.html .

Following those instructions exactly as they state, It still does not work at all.Very unclear anyway.

We really lack :
* one tutorial, you just follow it and it works.
* I think the use case where you want to live stream to multiple platforms, from your home PC is a very common one, if

[2021-12-10 14:38] Jean-Baptiste-Lasselle commented on #302
@Tokolosh example given :
* So If I set both source and external streaming server,
* then I have to click on 2 "start" buttons ?
* one example of one very unclear thing.
* really too bad there is no demo on YouTube

[2021-12-11 13:51] arcadiush commented on #298
These .ts files are created when we press the "pause" button on the player.
Depending on the time, the longer the "pause" button is pressed, the larger the file is generated. The largest one had 8 GB

Is it possible to disable the possibility of pressing the 'pause' button and thus generating these files?
How to disable the menu in the player?

What is the benefit of installing the "tmp / hls" fol

[2021-12-11 17:33] civita commented on #302
@Jean-Baptiste-Lasselle

Hi,
What's your setup please? like which OS do you use, scenario, etc. I don't think this is difficult to work on, and if you like I can provide demo for you.

[2021-12-11 22:22] Jean-Baptiste-Lasselle commented on #302
hello @civita , Here is my setup :
* on a macbook pro, I have the integrated webcam, and on that same machine :
  * I run the docker-compose
  * I have installed Streamlabs OBS (using brew.sh )
  * I want the user of that mac book pro, to be then able to live stream to multiple platforms, from his mac book pro : YouTube, and any other one (twitch, facebook, whatever...)

my docker-compose :

[code

[2021-12-11 23:41] matigumma commented on #302
Hi there
check this: https://support.google.com/youtube/answer/3006768?hl=en&ref_topic=9257985

i think its not permitted to push empty frames, or incorrect configuration

[2021-12-14 12:46] civita commented on #302
Hi @Jean-Baptiste-Lasselle ,

Thanks for the clarification. If I understand correctly, you would like to stream macbook internal webcam to *multiple* platforms (yt, twitch, etc.), then you might look at this [guide](https://datarhei.github.io/restreamer/docs/guides-multiple-restreamer.html) and [obs setup](https://datarhei.github.io/restreamer/docs/guides-obs.html)

For the obs setup, in stream:
[

[2021-12-14 22:38] mickopla opened #303 "Good System gone bad"
I've been running restreamer on a pi 4 for a few months with minor issues but today the stream has begun to start and stop constantly. Would the best way forward be to delete the Docker Container and start again like its a new install???

[2021-12-19 20:28] mrpippali commented on #76
Hello @ioppermann

has the new version been released yet?

I'm hunting for something to do exactly this

[2021-12-23 19:25] badincite opened #304 "JQuery 1.2"
Just happened to find that this is running  JQuery 1.2 which has some xss issues. Not sure if you still working on this project.

MEDIUM
JQuery 1.2 < 3.5.0 Multiple XSS

Description
According to the self-reported version in the script, the version of JQuery hosted on the remote web server is greater than or equal to 1.2 and prior to 3.5.0. It is, therefore, affected by multiple cross site scriptin

[2021-12-25 18:31] arcadiush opened #305 "Turn off menu"
After hovering over the player window, it slips out from the bottom (progress bar, pause button, volume, etc.) how to turn it off?

[2021-12-27 16:08] ioppermann commented on #303
You might try to re-install the docker container. Please also check if something with the source stream changed.

[2021-12-27 16:11] ioppermann commented on #305
It should disappear if you stop moving the mouse (while it is hovering the video) or you move it out of the video.

[2021-12-27 16:16] ioppermann commented on #298
Pressing the pause button has no influence on the creation of these files. They are not created by the player but by the nginx-rtmp module.

The incoming stream should be split in files of at least 2 seconds of video (these are the `.ts` files). If the keyframe interval of the source stream is longer than 2 seconds, then it is split at each keyframe. If your source stream has a very long keyframe

[2021-12-27 16:19] ioppermann commented on #296
This might be a problem with the used audio codecs. Restreamer is transforming the stream to HLS. The Sorensen and speex audio codecs are not supported by HLS.

[2021-12-29 15:00] arcadiush commented on #305
I know that. but I would like to disable this menu completely, especially when the mouse is moved in this window.

[2022-01-03 13:33] neno76 opened #306 "how I can change hls_segment_filename"
How I can change hls_segment_filename like this tream_%Y%m%d_%s.ts ?
Thanks

[2022-01-03 13:57] jstabenow commented on #306
We are currently working on the completion of a new release. Hence the question:
What use case? What is it needed for?

In the current version we use the module NGINX-RTMP. And here are the possible options:
https://github.com/arut/nginx-rtmp-module/wiki/Directives#hls_fragment_naming

Just have a look and change the [nginx.conf](https://github.com/datarhei/restreamer/blob/master/conf/nginx.conf)

[2022-01-03 14:22] neno76 commented on #306
Thanks I need use a external streaming server and pass the fragment with timestamp instead of sequenzial

[2022-01-03 14:56] jstabenow commented on #306
Thanks!
Ok, just for the additional output.

Please use:

[code]

More about this here:
https://ffmpeg.org/ffmpeg-all.html#hls

[2022-01-03 17:25] neno76 commented on #306
Thanks! working fine !

[2022-01-03 18:02] jstabenow commented on #306
Perfect 👍

[2022-01-03 18:02] #306 closed

[2022-01-05 02:17] iChenwin commented on #115
Hi, did you find the answer?
I come to this problem too, I’m using ffmpeg4.3, I can get the video stream through IPv6 address, but failed with domain.
I wonder whether it’s a ffmpeg’s dns bug.

[2022-01-05 15:12] strarsis commented on #115
@iChenwin: Well, I use `ffmpeg` directly now, installed as a `systemd` service, as a workaround for now.
When the blocking Restreamer issues got fixed, I will switch back to Restreamer.

[2022-01-05 17:31] jstabenow commented on #115
Okay, I found a solution.
First of all, it's not a bug of FFmpeg or the Restreamer. It's a Docker IPv6-NAT problem.

Mod ` /etc/docker/daemon.json`:
[code]

Setup IPv6-NAT:
[code]

More about it here:
https://github.com/robbertkl/docker-ipv6nat#docker-container

@iChenwin @strarsis @codmpm
Please test once and give feedback.

Hope it helps.

[2022-01-09 02:50] varunsridharan opened #307 "RTSP Feed From Unifi Protect Does Not Work"
I am trying to use restreamer with Unifi protect, but it does not work.

The RTSP link I get from Unifi Protect is `rtsps://10.0.100.4:7441/M3oBdx0AmMnk54pq?enableSrtp` and restreamer works only if the URL ends with a file.

[2022-01-10 15:00] jstabenow commented on #307
The problem could be RTSPS and/or SRTP.
If you want, you can contact us for a test (info@datarhei.com).

[2022-01-10 16:00] neno76 commented on #306
Sorry... renaming the chucks work fine only local, is possibile that this change don't send that chunks remotely ?

[2022-01-11 02:09] varunsridharan commented on #307
@jstabenow I am down to work on this if you this will help improve this project. to make it work with RTSPS . and in that case lets start here and make most info public so that others who face the same issue can find more info about it

[2022-01-13 08:34] varunsridharan commented on #307
@jstabenow I am down to start anytime. Let me know what kind of info and logs you need.

[2022-01-13 08:48] jstabenow commented on #307
None of the above. We need access to the RTSPS camera. Everything else is too costly.
Again: If you want, you can contact us for a test (info@datarhei.com).

[2022-02-07 00:12] ftrescue opened #308 "ssl"
cant ssl or add [embed code] without it any help please

[2022-02-08 21:35] phillipsmn opened #309 "Error: Invalid M3U file, an extended M3U file is required."
I'm trying to send the HLS stream to an external server (another Docker image on my machine) and I am getting the following error:

I'm basically wanting to send the HLS stream to an xTeVe instance so that I can create a channel in Plex. But, xTeVe is looking for an extended M3U and apparently restreamer is not creating one. Is there something that I can do to configure this? I'd love to be able t

[2022-02-12 18:59] interiran opened #310 "different qualities"
Please add different qualities like 1080 720 480 to the output

[2022-02-13 23:31] solarkraft commented on #278
Can we turn this into an FR for supporting multiple streams?

[2022-02-18 16:40] OllyKl commented on #307
Had the same issue. This is a Unifi related problem. You can access the rtsp stream on Unifi Protect to get restreamer to work:
Change the protocol to rtsp, change the port to 7447 and cut off everything behind the "?". So, if in Protect the following URL ist shown: rtsps://10.0.100.4:7441/M3oBdx0AmMnk54pq?enableSrtp
change it to rtsp://10.0.100.4:7447/M3oBdx0AmMnk54pq for restreamer. Works fine f

[2022-02-23 22:09] beanman12 opened #312 "Cannot get Web GUI to load"
Installed Restreamer via Docker in Plesk on my cloud-based server and it shows as running, but when I go to http://my-server-ip-address:8080, I get a "This site cannot be reached." error.

The server's firewall has rules in place to allow traffic through port 8080.

Might there be someone who could help me troubleshoot this?

[2022-02-28 14:38] pick-and-mix opened #313 "Add audio filter volume to stream"
Is there anyway to edit (I assume) live.json to get -af "volume=6dB" to work.

I have a really quiet stream and i used volumestect and I need to boost the audio by 6db.

I have tried adding it to live.json, but it either hasnt worked or errors out.
Any help would be great.

[2022-02-28 14:43] ioppermann commented on #313
You should edit the `audio_codec_aac` and/or `audio_codec_mp3`section in the `live.json`. It might look like this for AAC encoding:

[code]

In the UI you have to select AAC encoding for the audio stream.

[2022-03-01 08:52] ioppermann commented on #313
How did you transport this modification into the container? Did you build your own image?

You can also simply mount the modified `live.json` in to the official image by adding this option to your docker command, e.g.:

[code]

[2022-03-01 16:00] pick-and-mix commented on #313
The way I done it was:
SSH into server and then run:
`sudo docker exec -t -i restreamer /bin/bash`
Installed nano the first time I logged into docker.
`cd /restreamer/conf`
`cp live.json live.json.bck` This is a backup of the original file, in case of problems.
`nano live.json`
Make changes and save.
`exit`
`sudo reboot`

If it doesnt work go back in and run:
`cp live.json.bck live.json`
and reboo

[2022-03-04 11:14] ioppermann commented on #312
Did you also configure the Docker container that it forward port 8080 into the container? If you have Docker command line, it would be this parameter: `-p 8080:8080`.

[2022-03-04 13:06] beanman12 commented on #312
Yes.  That was done.

On Fri, Mar 4, 2022 at 5:14 AM Ingo Oppermann ***@***.***>
wrote:

--
Robert Bean
E-mail: ***@***.***
Phone: 931-538-5216

[2022-03-09 15:28] Jean-Baptiste-Lasselle commented on #302
HI @civita thank you so much for this new answer from you, and I also want to say thank you so much to all of other community members answering here, it is so supportive.

@civita you indeed perfectly described and understood what i was trying to do on my mac book.

I will give you further informations on my work with restreamer, i want to give a hint on what my long run goal is :
* I am sure you

[2022-03-09 20:31] beanman12 commented on #312
Would any port mapping done by Plesk have an effect on getting this to work?  Plesk has 8080 forwarded to 49154.

Both give me a "This site cannot be reached.  74.208.217.195 took too long to respond." message.

[2022-03-09 20:34] beanman12 commented on #312
Disabled Automatic port mapping and still getting the same error.

[2022-03-10 11:08] b3nscher opened #314 "Add audio track to existing RTSP stream."
Hey,

I'm currently using the Jetson Nano with Restreamer to intercept my camera signal which comes from a Sony a6000 via Wifi module over RTSP stream and forward it to Twitch.

This works fine without any losses, but I would like to have the sound of my microphone in the stream. This microphone is connected via jack to a USB sound card.

How could I best integrate this signal?

best regards

[2022-03-10 20:15] mickopla opened #315 "Start and Stop stream at certain times"
Is there anyway i can set the stream to start and stop at certain times??? Currently i don't run the stream at night so i manually need to stop and restart the next morning.
Cheers

[2022-03-11 01:03] vegalou opened #316 "multi streaming"
Easy to use, `Restreamer` convert RTSP Streaming of IP Camera to standard HTML5 Video in seconds.

#### If it could support multi channels' source for **CCTV DVR** user, it would be PERFECT.

Maybe user could startup multi docker instances in different ports as solution for this purpose.

Thanks for your share and help.

[2022-03-11 02:50] istoutjesdijk opened #317 "Audio track selection"
Is it possible to select a specific audio track or audio language from the source stream?

[2022-03-11 22:24] istoutjesdijk commented on #166
Works like a charm, it looks like the -re is mandatory for all HLS streams. Performance also seems to be better for RTMP streams (less skipping). Maybe it should be default again? It looks like you removed it before: https://github.com/datarhei/restreamer/issues/132

[2022-03-14 12:37] FilipStadler commented on #287
I have been looking on howto make it work on restreamer but I am not a programmer ;)
 - should be easy to make it work when the ffmpeg supports it,

ffmpeg -i "srt://:1935?mode=listener&passphrase=somekeyword" -c copy -f flv rtmp://127.0.0.1:1935/something.

This would wait for a caller but we cant be sure -c copy is h264 so maybe other options would be needed
but currently i just do it with syste

[2022-03-15 14:11] eustachy84 opened #318 "Show image, when no stream/stream disconnects"
Hello

Is there a possibility to show image, when there is no stream, or stream disconnects? #

[2022-03-23 03:13] odmin4eg commented on #228
I have a similar error
on my server ipv6 is disabled
and the project does not start
`[23-03-2022] [ERROR] [NGINX] :1935 failed (97: Address family not supported by protocol)
[23-03-2022] [ERROR] [NGINX] Exited with code: 1
[23-03-2022] [ERROR] [start] Error starting webserver and nginx for application: Error: Failed to start
`
nginx.conf:
        listen [::]:1935 ipv6only=off;

not valid for this

[2022-03-26 12:28] Jarusz opened #319 "Nvm"
Sorry, i just found it.

[2022-03-26 12:41] #319 closed

[2022-03-27 12:27] rickyspanish8 commented on #228
Related problem here log says:
27-03-2022 14:10:59.596] [INFO ] [    repeatToLocalNginx] Start streaming
[27-03-2022 14:10:59.666] [ERROR] [                 NGINX] :1935
[27-03-2022 14:10:59.675] [INFO ] [    repeatToLocalNginx] Retry to connect to "rtmp://127.0.0.1/live/raspicam.stream" in 6000ms
[27-03-2022 14:11:05.678] [INFO ] [    repeatToLocalNginx] Retry to connect to "rtmp://127.0.0.1/live

[2022-03-28 13:00] FilipStadler commented on #151
I Think my problem with related to nvidia driver on the OBS computer - not really a restreamer problem execpt if the restreamer is installed on a computer with nvidia driver problems.

[2022-03-30 10:50] fuad00 opened #320 "Is it possible to restream from direct m3u8 URL?"
I'm getting this issue:
![CleanShot 2022-03-30 at 13 48 47@2x](https://user-images.githubusercontent.com/26776550/160814971-92373103-9991-4adc-9bc0-803e5e97e859.png)

[2022-03-31 18:48] nikhil96widhani commented on #291
Hello. I am interested to when is the new API version launching, Great product BTW

[2022-04-01 04:41] FilipStadler commented on #320
If you run more than one than one restreamer the number 2-3 can pull the stream from the first like

http://172.17.0.1:8087/hls/live.stream.m3u8  this way I can have 3 restreamers running where two
of them pulls the same stream the can retransmit to youtube, facebook - I use the internal ip in docker.

[2022-04-17 08:22] whig0 commented on #318
That would be a really nice feature to keep youtube streams online!

[2022-04-25 20:54] utilsites opened #322 "Update Restreamer to support FFMPEG v5"
The latest major version of [FFMPEG ](https://ffmpeg.org/download.html) is v5, and restreamer is only compatible with version 4.x.
It seems that v5 is not compatible with the args used in restreamer.
Can restreamer be updated to support FFMPEG v4 and v5, and prevent in a hurry changes in the future due to new requirements for new iOS version for example?

We noticed that we had to update FFMPEG to

[2022-04-29 13:41] martinformi opened #324 "Startup delay troubleshooting"
We are trying to lower down the duration when the stream is ready on the destination server. We are using ANT media server and pulling video from IP camera using RTSP. Thing is, currently we have delay at least 30 seconds until we can view the stream on the media server and currently trying to find the issue.

From the log you can use, we are getting `Operation not permitted` for couple of seconds

[2022-05-05 23:59] #228 closed

[2022-05-13 17:50] Countryman98 opened #325 "Ability to add text overlays"
Just wondering if there is going to be the ability to overlay live text onto the live streams (Ay Bottom).
 Currently can add an image but text would be an improvement and something i'd love to see!
Love the software by the way!
Thanks

[2022-05-13 21:57] Inzombie opened #326 "Error Index.html in v2.0"
Hi, i'm trying to install via Docker an error appears.

{"code":404,"message":"File not found","details":["/index.html"]}

Any suggestion?

[2022-05-13 23:57] matigumma commented on #326
Hi there, im getting the same 404 in /ui
inpage.js file loaded but get "404 page not found" at body page

[2022-05-14 00:00] matigumma commented on #326
im using docker-compose
[code]

[2022-05-14 00:17] jstabenow commented on #326
My test works:

[code]

Open [http://localhost:8080/ui](http://localhost:8080/ui)

---

Which operating system do you have?

[2022-05-14 00:21] Bodgers commented on #326
The docker image pulled down by Unraid has this problem too.

[2022-05-14 00:26] matigumma commented on #326
im on Ubuntu 19.10 (GNU/Linux 5.3.0-64-generic x86_64)
Docker version 19.03.6, build 369ce74a3c
docker-compose version 1.21.0, build unknown

[2022-05-14 00:27] jstabenow commented on #326
@matigumma Can you test this once without Compose?

[2022-05-14 00:37] Bodgers commented on #326
@jstabenow - For the Unraid install, I can confirm [/ui](http://<server>:8080/ui) works.

[2022-05-14 00:41] jstabenow commented on #326
Great! @Bodgers

[2022-05-14 03:14] Inzombie commented on #326
Solved!!!
 but now i have problems with rtmp streaming usually i put the address in old version
example
rtmp://address/key
but now nothing happen only i get error :(

[2022-05-14 06:00] FilipStadler opened #327 "How to remove a stream from players site ?"
I have been looking around to find where I can remove a "station/stream" from the chanals ?

I dont use LetsEncrypt because I have Nginx proxy manager or Cloudflare to handle the certificat but do I need use LTE to get rtmps input ?

Anyway it looks great

[2022-05-14 08:43] FilipStadler opened #328 "Hardware support for Nvidia CUDA"
Unable to find image 'datarhei/restreamer:cuda-latest' locally
docker: Error response from daemon: manifest for datarhei/restreamer:cuda-latest not found: manifest unknown: manifest unknown.

I looks like its not available now ?

[2022-05-14 15:02] FilipStadler commented on #327
Chanal station removed found.

[2022-05-14 15:02] #327 closed, assigned to nobody

[2022-05-14 15:12] matigumma commented on #326
without Compose works

[2022-05-14 16:15] OscarParzon commented on #287
Hello !.
in version 2.0 there is no SRT?

[2022-05-14 18:10] jstabenow commented on #326
@matigumma

[code]

[code]

Open [http://localhost:8080/ui](http://localhost:8080/ui) works fine.

My ENV:
- Docker Desktop 4.6.1 (76265)  @ Docker version 20.10.13, build a224086

[2022-05-14 18:17] jstabenow commented on #326
@Inzombie

The old Endpoint:
- rtmp://[address of your box]/live/external.stream?token=...

The new Endpoint:
- rtmp://[address of your box]/live/external.stream?token=...

Mean: The URL has not changed.

For the RTMP stream setup:
- https://docs.datarhei.com/restreamer/knowledge-base/manual/system-settings/rtmp
- https://docs.datarhei.com/restreamer/knowledge-base/user-guides/how-can-i-receive-an

[2022-05-15 10:59] FilipStadler opened #329 "SRT input listener mode howto guide is missing."
The new restreamer is so very cool - adding outgoing transmission destinations is cool.
But I how do I add SRT input in mode listener ?

[2022-05-15 13:52] FilipStadler commented on #287
It have SRT for outgoing - but I am not sure how to set up srt input - I have not found it maybe I have to select pull mode in networks and the add srt with mode=listener - I am not sure where to find it...  also it uses UDP but it should be possible to replace rtmp with srt - anyway transmission outgoing streams with srt is nice and this is working.

[2022-05-15 19:20] Inzombie commented on #326
@jstabenow
When i try to restream to a rtmp source i get this error and never connect it
https://imgur.com/a/HHSM3Uf
but i use the old version with the same rtmp source and everything works
https://imgur.com/a/FSwy6R5

[2022-05-15 20:26] jstabenow opened #330 "Problems with rtmp streaming"
Issue:
but now i have problems with rtmp streaming usually i put the address in old version
example
rtmp://address/key
but now nothing happen only i get error :(

History:
https://github.com/datarhei/restreamer/issues/326#issuecomment-1126624438
https://github.com/datarhei/restreamer/issues/326#issuecomment-1126788574
https://github.com/datarhei/restreamer/issues/326#issuecomment-1127001688

-----

[2022-05-15 20:27] jstabenow commented on #326
@Inzombie Let's check this in another ticket https://github.com/datarhei/restreamer/issues/330

[2022-05-15 20:31] jstabenow commented on #329
Thanks! @FilipStadler
We add this to the documentation 👍

[2022-05-15 20:44] jstabenow commented on #287
@OscarParzon @FilipStadler
True. Currently, SRT can only transmit.
We could build the receive mode into the component and start the container with additional ports so that FFmpeg can use them. That should be possible. Would that be a solution?

[2022-05-15 21:34] jstabenow commented on #329
Sorry. It's not working at the moment.

Would that be a solution?
https://github.com/datarhei/restreamer/issues/287

[2022-05-15 22:45] owenilc commented on #326
Hi~

with restreamer 2.0 , I can not expose UI website using cloudflare tunnel.

The root of website is being occupied by the Playersite, but all I want is a password protected UI website.

The cloudflare tunnel ingress rules don't support proxying to a different path on the origin service.
The path will be the same as the eyeball request's path.

Is there a work around to solve it?

[2022-05-16 04:28] Inzombie commented on #330
Attach file from the process report, i replace the url from my source.

[2022-05-16 07:33] FilipStadler commented on #287
ffmpeg -i "srt://0.0.0.0:{1935}?mode=listener&latency=120000&passphrase=somekeyword" -c copy -f flv rtmp://127.0.0.1:{1935}/something.

Would it not be possible to add srt like it was rtsp pull - I don't understand why its not possible but yes srt uses udp but this also possible with rtsp it looks like so - but yes its nice restreamer but srt listenermode would be so usefull.

Its possible to run

[2022-05-16 11:32] jstabenow commented on #287
1. SRT has several modes:
https://ffmpeg.org/ffmpeg-protocols.html#srt

- caller = create a camera (srt://....)
- rendezvous = create a SRT publication service
- listener = currently not supported

2. under Linux you could work with `docker --net=host`. However, this is not possible under Win/OSX.
=> We are thinking about integrating the listerer mode.

3. for the output you have to use another ad

[2022-05-16 11:52] jstabenow commented on #330
@Inzombie
Thank you for the report. Not everything has been anonymised yet. Sorry. We will fix that.

Did you send the correct process report? This is a pure HLS <- FFmpeg -> HLS process:

[code]

Feel free to send the report to support@datarhei.com. But please use the Issue-ID as subject.

[2022-05-16 11:54] jstabenow commented on #326
@owenilc Please create a new ticket. This is another case. Thanks

[2022-05-16 12:20] jstabenow commented on #320
@fuad00
Please check the new release and close the issue if your problem has been solved.
Thanks 👍

[2022-05-16 17:39] jstabenow commented on #101
Hey @costasjf,
Your problem should be solved with the latest release:

- Current viewers and bandwidths
- Bandwidth limitation
- Viewer/Session limitation

More informations:
- https://docs.datarhei.com/restreamer/knowledge-base/manual/system-settings/network#bandwidth-control
- https://demo.datarhei.com/api/swagger/index.html#/default/session-3-current
- https://demo.datarhei.com/api/swagger/inde

[2022-05-16 17:39] #101 closed

[2022-05-16 17:40] jstabenow commented on #121
Hey @costasjf,
Your problem should be solved with the latest release.

More informations:
- https://docs.datarhei.com/restreamer/knowledge-base/manual/system-settings/authorization

Check it out and post if you have any questions.

[2022-05-16 17:42] jstabenow commented on #100
Hey guys,
Your problems should be solved with the latest release:
- Current viewers and bandwidths
- Bandwidth limitation
- Viewer/Session limitation

More informations:
- https://docs.datarhei.com/restreamer/knowledge-base/manual/system-settings/network#bandwidth-control
- https://demo.datarhei.com/api/swagger/index.html#/default/session-3-current
- https://demo.datarhei.com/api/swagger/index.htm

[2022-05-16 17:42] #100 closed

[2022-05-16 18:15] owenilc opened #331 "Restreamer 2.0 UI Web tunneling with CloudFlare Tunnel"
Hi~

With Restreamer 2.0 , I can not expose UI website using cloudflare tunnel.

It was worked ideally with  Restreamer v0.6.8

Now, the root of website is being occupied by the Playersite, but all I want is a password protected UI website.

The cloudflare tunnel ingress rules don't support proxying to a different path on the origin service.
The path will be the same as the eyeball request's path.

[2022-05-16 20:18] jstabenow commented on #331
Hey @owenilc
Oh ok, Cloudflare Tunnel... I know that but have never used it.

You can set up a redirect from `/` to `/ui`. That's not a problem:
[code]

The paths `/ui/*` and `/api/*` must remain accessible.

Alternatively, you can host the Restreamer UI separately:
https://github.com/datarhei/restreamer-ui

But the path `/api/*` must also be accessible for this:
- restreamer-ui -> restreamer-url/

[2022-05-16 21:35] #320 closed

[2022-05-17 14:46] sfahadshahzad opened #332 "Decklink Video Input Device"
Hi,

It would be great if you add function to get SDI input from BlackMagic devices.

Regards,

Fahad

[2022-05-17 16:42] hemna commented on #250
I just got a new camera and it's H265 for rtsp.  I also believe that youtube supports accepting h265 as well.   Anyway to make this work?

[2022-05-17 17:43] svenerbeck commented on #250
Hello hemna

I am not sure if YouTube works with h265. You would have to check.

Install the latest Restreamer and try this.

[https://www.youtube.com/watch?v=oVCEMUguskA](https://www.youtube.com/watch?v=oVCEMUguskA)

Then you can transfer your stream to YouTube via the publication service.

[https://www.youtube.com/watch?v=dwywuaIQPRg&t=5s](https://www.youtube.com/watch?v=dwywuaIQPRg)

cheerio
Sv

[2022-05-17 18:02] hemna commented on #250
It's up, but I think it's pulling h264 from the source.

https://youtu.be/H70aJ6TZKSo

[2022-05-17 18:20] svenerbeck commented on #250
This should be in the log files, aka—process details.

If you want, you can send the two files. I will take a look at it.

The banner file should be enough.

Here you can see where to do it:

https://docs.datarhei.com/restreamer/knowledge-base/manual/process-details

cheerio
Sven

[2022-05-17 19:37] hemna commented on #250
Here is the banner.   It seems to work for a bit, and then packets fall off until ffmpeg restarts then it works again.  That repeater pattern takes about 35 seconds.

[code]

[code]

[2022-05-17 19:41] owenilc commented on #331
Hi~ jstabenow,

Thank you! this solved my problem.

With your docker run command instructions, now I can expose  Restreamer 2.0 UI website using CloudFlare tunnel perfectly.

best regards,

Owen

[2022-05-17 19:42] #331 closed, assigned to jstabenow

[2022-05-17 19:46] svenerbeck commented on #250
Thank you.

I'll take a look at it tomorrow. As far as I can tell, YouTube does not support H265.

This is what the documentation says: [https://support.google.com/youtube/answer/1722171?hl=en#zippy=%2Cvideo-codec-h](https://support.google.com/youtube/answer/1722171?hl=en#zippy=%2Cvideo-codec-h)

cheerio
Sven

[2022-05-17 21:17] hemna commented on #250
Thanks,  It would be nice to see the actual ffmpeg command line args that were used to start ffmpeg.   I'm trying to figure out why ffmpeg dies after 35 seconds

[2022-05-18 07:28] svenerbeck commented on #250
Hello hemna

The banner looks excellent. You can see that H.265 is converted to H.264.

After more intensive research, we found this for you. YouTube can receive H.265 over HLS.

You can see it here: [https://developers.google.com/youtube/v3/live/guides/ingestion-protocol-comparison](https://developers.google.com/youtube/v3/live/guides/ingestion-protocol-comparison)

It does not work via the Restr

[2022-05-18 09:22] FilipStadler commented on #329
I used to do like this with srt and systemd on my raspberry to get srt to rtmp

[Unit]
Description=SRT to  rtmp

Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
Restart=always
RestartSec=5s

# Set the ports and passphase and rtmp url key to match
# EnvironmentFile=/etc/default/srt-owncast.conf
# SRT_LISTEN_PORT="1935"
# SRT_PASSPHRASE="Soliasd1daritet"
# RTMP_

[2022-05-18 14:14] FilipStadler opened #333 "restreamer with OBS on the same system does not work"
I can't make a SRT caller stream to the local computer - normaly it would be possible using 127.0.0.1:6006 but does not work
even if I replace the IP with non local ip like 192.168.10.192 it cant handle this - it looks like it tryes but fail.
I can from another restreamer connect to the 192.168.10.192:6006 and it works without anye problems.

I know I can pull the stream using HLS to get it into O

[2022-05-18 14:24] FilipStadler commented on #330
Do you try to stream to a restreamer hidden destination behind cloudflare proxy ?

Maybe you should make a name/destination not proxy behind cloudflare proxy and see how this works.
I also use cloudflare and nginx proxy manager but I use a non proxy name came to push/get stream input.

[2022-05-18 16:52] jstabenow commented on #332
Hi @sfahadshahzad

That would be interesting.
Does your device support Decklink?

[2022-05-18 17:17] jstabenow commented on #333
Hey @FilipStadler,
You know, the Restreamer can currently only pull and push SRT streams. However, OBS sends via SRT, which presently does not work.

If you want to use OBS with the Restreamer, please use RTMP. Here is a setup guide:
https://docs.datarhei.com/restreamer/knowledge-base/user-guides/how-can-i-receive-an-rtmp-stream#receiving-video-source-via-rtmp-using-obs-as-an-example

And please l

[2022-05-18 17:23] jstabenow commented on #330
The problem is unclear and was discussed by email.
In the end, it looked like problematic RTMP targets.

@Inzombie
If we can help, get back to us or reopen the issue.
Thanks

[2022-05-18 17:23] #330 closed, assigned to jstabenow

[2022-05-18 17:27] jstabenow commented on #329
Wow, thanks for all the information. We will discuss this and add it to the roadmap 👍

[2022-05-18 17:38] jstabenow commented on #326
It seems like everything is okay with the `/ui`.
Otherwise, please reopen the ticket.
Thanks

[2022-05-18 17:38] #326 closed, assigned to jstabenow

[2022-05-19 16:07] henriquelucas opened #334 "Failed to add an RTSP Stream"
When adding an RTSP Stream I get an error:
_Font verification failed. Please check the address._

I tested the address using VLC and it works there without a problem.

Here's my RTSP:

**rtsp://192.168.0.206:554/cam/realmonitor?channel=1&subtype=0**

[2022-05-19 16:21] jstabenow commented on #334
Crazy. I have never seen `Font verification failed. Please check the address` before.

Would you like to say something about the camera manufacturer and the model?

[2022-05-19 16:35] henriquelucas commented on #334
In previous versions of Restreamer it worked normally. Here's information about the DVR model and the manufacturer, also a forum link where it shows us which RTSP is for the current model. I'm putting screen prints of RTSP working in a VLC Player.

DVR Intelbras
Model: MHDX 1016
Forum Intelbras: https://forum.intelbras.com.br/viewtopic.php?t=56068

![ss](https://user-images.githubusercontent.com/3

[2022-05-19 16:52] jstabenow commented on #334
Okay, we have no experience with the manufacturer. For us to help, we would need to be able to connect to your camera.

If that is possible, write to support@datarhei.com. That would be interesting.

[2022-05-19 16:59] henriquelucas commented on #334
Yes, it is possible to send information on how to connect. Via Email.

[2022-05-19 17:07] henriquelucas commented on #334
Log
`ffmpeg version 4.4.2-datarhei Copyright (c) 2000-2021 the FFmpeg developers
  built with gcc 10.3.1 (Alpine 10.3.1_git20211027) 20211027
  configuration: --extra-version=datarhei --prefix=/usr --extra-libs='-lpthread -lxml2 -lm -lz -lsupc++ -lstdc++ -lssl -lcrypto -lz -lc -ldl' --enable-nonfree --enable-gpl --enable-version3 --enable-postproc --enable-static --enable-openssl --enable-libxml2

[2022-05-19 17:36] jstabenow commented on #334
Okay, that looks like a copy+paste error.

VLC:
rtsp://admin:Red4815@@192.168.0.206:554/cam/realmonitor?channel=1&subtype=0

Log:
rtsp://admin:Red4815%2540@192.168.0.206:554/cam/realmonitor?channel=1&subtype=0

Try:
rtsp://admin:Red4815@192.168.0.206:554/cam/realmonitor?channel=1&subtype=0

And please change the access data. This should not be public ;-)

[2022-05-19 19:28] henriquelucas commented on #334
So I tried. The RTSP is correct, but I don't know why when I click on probe the log converts the @ to %2540

[2022-05-19 19:40] jstabenow commented on #334
Let's take a look tomorrow. Maybe it is a Unicode problem.
Or change the credentials and use a password without @.

[2022-05-19 20:51] henriquelucas commented on #334
Solved, that's the problem. When changing the password to one that does not include special characters it works just fine. Probably the problem is in the field where you add the password, considering that in the field where you add the RTSP it keeps the character even after generating the log.

[2022-05-19 21:04] jstabenow commented on #334
Good to hear 👍  Tomorrow we will check the special character.

[2022-05-20 11:50] sfahadshahzad commented on #332
HI @jstabenow

Yes I am currently using decklink with FFMPEG.

Regards,

Fahad

[2022-05-20 11:52] sfahadshahzad commented on #332
Is there any guide to compile restreamer on ubuntu ?

Fahad

[2022-05-20 15:23] icarus747 opened #335 "404 when loading"
Hello,
When following the example from this readme in docker I get the following error.
[code]
When exec the container looking in core/ui
[code]
[code]
Not sure what I'm missing.  Running on Ubuntu 18.04.6 LTS, Docker version 20.10.13

[2022-05-20 16:28] ioppermann commented on #335
You have to load `/ui` instead of `/`.

[2022-05-20 18:06] MattWAnderson opened #336 "Typo in Settings on viewing page"
When viewing the stream in settings title is spelt incorrectly as "Titel:"

[2022-05-20 18:07] MattWAnderson commented on #335
confirm same issue, /ui works here on Ubuntu install.

[2022-05-20 18:09] MattWAnderson commented on #315
Depending on what you run it on, you can use a Windows Task, or a cron job.

 Example cron job on linux would be
docker stop restreamer
docker start restreamer

run this at the times you wish for it to happen.

[2022-05-20 18:44] icarus747 commented on #335
Aw ok that worked, thank you. Was used to the way 0.6.8 worked with index.html in the root web directory.

[2022-05-20 19:16] CrashOv62 opened #337 "Error 404 JSON in the frontpage index"
hello and thank you for this long-awaited version 2.0!
It turns out that there is an error when I connect to the UI interface: http://myip:8080/ui there is no problem... but when I uncheck the "playsite" and I I connect to the address: http://myip:8080 directly I get a 404 JSON error: {"code":404,"message":"File not found","details":["/index.html "]}
How can I customize this page more easily by pu

[2022-05-20 20:27] mickopla commented on #315
Thanks for that, I'm running on a raspberry pi 4 raspian os

[2022-05-21 00:08] sandroshu opened #338 "nginx caching proxy configuration"
Hi,

I am trying to set up multiple nginx servers as reverse caching proxy to restreamer 2.0.

So far I did the following. It is working fine as a reverse proxy to restreamer but it does not cache the segments.
I see that in 2.0 there are query strings added to the playlist and playlist items (ts) too.

[code]

My goal is to have multiple nginx servers to cache content from one restreamer instance

[2022-05-21 08:23] ioppermann commented on #337
The `/index.html` is taken from the directory that you mount to `/core/data`. There you could place your own `index.html` and any additional files. However, when you activate the Playersite again, the `index.html` will be overwritten.

[2022-05-21 08:28] ioppermann commented on #338
The query strings are added in order to track how many people are watching the stream. If you have caching edges in front, this number won‘t be reliable anyways. You can deactivate this by setting `sessions.enable` to `false` in the config.json or set the environment variable `CORE_SESSIONS_ENABLE=false`.

[2022-05-21 15:56] #335 closed, assigned to nobody

[2022-05-21 19:08] sandroshu commented on #338
My solution (for now) is the following:

[code]

[code]

Viewer count does seem to work well enough so I did not disable it (on a 50 client test it counted 52).

The clients title still reset to http://main.restreamer.instance/id/oembed.json

[2022-05-21 19:08] #338 closed, assigned to nobody

[2022-05-22 01:01] cristianr503 opened #339 "No USB Devices or Hardware device detected"
I'm running Restreamer using Docker on a Windows 10 virtual machine and having trouble seeing any hardware devices. I've verified that the VM host can detect and access my USB camera but Restreamer is not seeing it. Please advise.

![image](https://user-images.githubusercontent.com/8623337/169673907-9dc49d38-b9f8-4ebf-97ed-b7bcd53b82d3.png)

[2022-05-22 05:13] cristianr503 commented on #339
Update: I found that USB Camera streaming is only available on Linux Docker hosts:
"Your USB camera needs to be v4l (Video4Linux) compliant in order to work with Restreamer. Because of this, USB cameras currently work only with Restreamer on Linux Docker hosts."

Unfortunately, I get the same results on linux :(

I also verified that the Ubuntu host can see my camera but Restreamer does not see it

[2022-05-22 06:13] ioppermann commented on #339
Try to add the `—privileged` option to your Restreamer docker command. With this all host devices will be mapped into the container.

[2022-05-23 07:47] #316 closed

[2022-05-23 11:27] ioppermann commented on #336
@MattWAnderson Could you please provide a screenshot?

[2022-05-23 23:25] cristianr503 commented on #339
I ran the following:
sudo docker run -d --privileged --restart always --name restreamer -e "RS_USERNAME=admin" -e "RS_PASSWORD=datarhei" -e "RS_MODE=USBCAM" -p 8080:8080 -v /mnt/restreamer/db:/restreamer/db --device /dev/video0:/dev/video datarhei/restreamer:latest

Unfortunately, Restreamer is still not detecting any hardware devices..

[2022-05-24 07:51] jasunen commented on #339
I have the same issue with docker 20.10.16 on Ubuntu 20.04 PC/AMD64.

This docker run command works just fine for restreamer 0.6.8 and USB cam with audio, I do not even need to provide --privileged:
`sudo docker run -d --restart always --name restreamer
 -e "RS_USERNAME=admin" -e "RS_PASSWORD=datarhei" -e "RS_MODE=USBCAM"
 -p 8080:8080
 -v /mnt/restreamer/db:/restreamer/db
 --device /dev/video0:/d

[2022-05-24 09:17] ioppermann commented on #339
@jasunen Your docker command for 2.x is ok. However, you should use for now the Raspberry Pi image (`datarhei/restreamer:rpi-latest`) because the `:latest` image is currently missing the v4l drivers.

[2022-05-24 14:51] sfahadshahzad commented on #332
anyupdates ???

Fahad

[2022-05-24 14:52] sfahadshahzad commented on #332
mistakenly closed.

[2022-05-24 17:59] database64128 opened #340 "2.0.0 Web UI doesn't work behind reverse proxy"
I'm using nginx to proxy https://cube64128.xyz/restreamer/ to Restreamer's 8080 port. The UI doesn't work properly because the paths are wrong:

![image](https://user-images.githubusercontent.com/18757988/170101636-d3398bc0-1849-4eb7-b052-451b4ef61a63.png)

The web UI should use relative paths, or allow the admin to configure a custom path.

[2022-05-25 01:02] HeliosLHC commented on #340
I have the same issue. If you view the source in the UI's repo here: https://github.com/datarhei/restreamer-ui/blob/8dbdb3dfc90958d7cbe162b1c826ca7a75666d34/public/index.html
 the paths are hard coded at build time using the "%PUBLIC_URL%" variable. Until this can be configured at runtime, the only resolution for reverse proxy users with restreamer as a subpath will need to build their own UI with

[2022-05-25 07:14] INDAVO opened #341 "failed to update ingest process - invalid JSON error in 2.0.0"
Hi,

first of all, thank you for this next level of restreamer development.
Now, only add native h.265 support without re-encoding and the tool is near to perfection ;)
(Streammedian just recently released a new version of their web player which supports h.265 RTSP playback in the browser (based on java script)  https://streamedian.com/demo/h265/  )

But here is the issue I have with the new versi

[2022-05-25 08:07] ioppermann commented on #341
Yes, this is a bug. I was able to reproduce it. A fix will be in the next release. For now you should leave this value untouched when you create a new streaming resource.

H.265 support is on our radar.

[2022-05-25 09:39] kallenp commented on #340
Any idea howto solve this issue for beginners and not programmers ?

[2022-05-26 14:30] Radixb opened #342 "feature add: Scheduling"
Thank you for a wonderful product!
I have a feature request - It would be great to be able to set streaming schedules, whether one-time or daily repeat schedules.  Please consider adding this feature in the future.

Many thanks!

Radix

[2022-05-26 21:46] MattWAnderson commented on #340
This works correctly for me behind a NGINX reverse proxy.

[code]

The double listing is to remove the need for the extra page.html

[2022-05-26 21:51] MattWAnderson commented on #342
This can be done with Cron Jobs on the system by starting and stopping the docker container(s)

[2022-05-26 21:52] MattWAnderson commented on #336
[https://ibb.co/86SgdSc](url)

[2022-05-26 22:21] HeliosLHC commented on #340
@MattWAnderson
Hi Matt, I believe in your Nginx config you are performing a root-to-root proxy where external "/" is mapped to the internal "/". In your case, it's mapped to the internal "/l" which is effectively the internal root. Since right now, the UI paths are hardcoded as absolute paths (non-relative), there aren't any issues for you.

The issue described in the original post (and mine as we

[2022-05-27 22:15] poopyface0931 opened #343 "Windows install errors"
I've just reinstalled Docker and recently rebooted. The Docker 'Getting started' test container installs and runs fine.

I'm having challenges installing Restreamer. I attempt to run the command:

docker run -d --restart=always --name restreamer \
-v /opt/restreamer/config:/core/config \
-v /opt/restreamer/data:/core/data \
-p 8080:8080 -p 8181:8181 -p 1935:1935 \
datarhei/restreamer:latest

I get

[2022-05-28 08:36] CrashOv62 commented on #342
Hello,

there has already been a request for this function already made... this concerned Youtube but it is also possible to do this for other broadcasting platforms...

here is the thread:
https://github.com/datarhei/restreamer/issues/237

;)

[2022-05-28 10:49] PerpEternal commented on #339
When will `datarhei/restreamer:vaapi-latest` support usb camera

[2022-05-31 09:06] AslanChile opened #346 "nginx reverse proxy"
Hello
I'm using Restreamer v2 (datarhei-core v16.7.2) behind a web server: Debian11 + Nginx 1.18
Everything works fine  (Restreamer is awesome) but I can't get HTTPS (HTTP works perfect)

I'm using a subdomain with an A record pointed to my server
Ports 8080, 8181 are opened (UFW)
This is my nginx conf (I think here is my problem)

server {
        listen 443 ssl http2;
        server_name s1.mydo

[2022-05-31 10:05] svenger87 opened #348 "Grab direct stream or more compatible m3u8"
I´m trying to lower the WAN bandwitdh usage for digital signage clients.
The signage solution used is the widely common "Samsung MagicInfo". Used at Burger King etc.

When i setup a streaming source in MagicInfo for example with a german news tv channel "Welt" it works pretty flawless with their original m3u8 file > https://w-news2weltcms.akamaized.net/hls/live/2040885/Welt-NextNews/playlist-960.m

[2022-05-31 12:59] ioppermann commented on #343
@poopyface0931 You have to insert the Docker command on a single line into your shell. Instead of copy/paste this

[code]

use this:

[code]

You also might use Windows style path for the directories you want to mount, e.g. instead of `-v /opt/restreamer/config:/core/config` it should be `-v d:/opt/restreamer/config:/core/config`.

[2022-05-31 13:20] ioppermann commented on #346
You have to configure nginx such that it is able to accept HTTPS connections. This is missing the config you provided. Please check the nginx documentation to find out more: https://docs.nginx.com/nginx/admin-guide/security-controls/terminating-ssl-http/

And more information on reverse proxying: https://docs.nginx.com/nginx/admin-guide/web-server/reverse-proxy/

If your nginx is already doing the

[2022-05-31 13:48] ftrescue opened #349 "ssl Bring Your Own Certificate"
following information on docs my ssl is still not working please can you help with this thanks
My domain points to server and works brill on http - i have added ssl to the correct folder

[2022-05-31 19:55] svenerbeck commented on #349
Here is the tutorial for the datarhei Core. https://github.com/datarhei/core#tls--https

And as a special for you this  step-by-step explanation for Linux. We will update the docs with this example.

1. **Create the folder structure** for the backup of the Restreamer:
`mkdir -p /opt/core/config/ssl /opt/core/data`
2. Copy your "my.cert" and "my.key" into the folder /opt/core/config/ssl/.

3. **Sta

[2022-05-31 20:45] ftrescue commented on #349
Thanks @svenerbeck  i will give that a go mate

[2022-05-31 20:59] #349 closed, assigned to svenerbeck

[2022-05-31 21:12] poopyface0931 commented on #343
The single line worked, thank you!
FYI: the Windows install instructions show this code as a paragraph and not a single line, thus my confusion (I'm not familiar with Linux/CLI environments):
https://docs.datarhei.com/restreamer/installing/windows-macos

[2022-05-31 21:12] #343 closed, assigned to nobody

[2022-05-31 21:40] poopyface0931 opened #350 "remote Raspicam to Windows"
Restreamer is not seeing the camera on my Raspi. I've confirmed libcamera is working.

[2022-06-01 20:28] svenerbeck commented on #325
Good hint. I have taken it with us to the list[ feature request](https://github.com/datarhei/restreamer/discussions/345) list.

[2022-06-03 11:48] ioppermann commented on #348
Unfortunately, we don't have a MagicInfo to test with. As something to try out, you could mimic the number of HLS chunks and the chunk size of the original stream. In Restreamer in the "Processing & Control" settings adjust the numbers like this:

![image](https://user-images.githubusercontent.com/57445/171847727-a73c523a-996f-4ba8-8414-d0d2b4e4c895.png)

[2022-06-03 14:01] sfahadshahzad commented on #332
@jstabenow do you guys have any plan to add video device support ?

[2022-06-03 14:45] jstabenow commented on #332
Hey @sfahadshahzad

We soon take a look:
![decklink](https://user-images.githubusercontent.com/7462030/171876998-621e4bd2-1ca5-4821-a6e9-4882a31e704b.jpg)

But it has no priority.

[2022-06-03 15:48] sfahadshahzad commented on #332
Good to hear that and that will be great feature.

Thanks,

Fahad

[2022-06-03 18:25] jstabenow commented on #341
Hey @INDAVO
Release v2.1.0 is out now and the interval is fixed. Thanks for your hint 👍

[2022-06-03 18:36] jstabenow commented on #340
Hey folks,
Release v2.1.0 is out now and the `%PUBLIC_URL%` is removed. Thanks for your hint 👍
It should work now.

Other solution: Use our hosted Restreamer-UI:
https://restreamer.datarhei.com?address=https://your-restreamer-url:port (no /)

*Mixed content must be allowed for HTTP: [Help](https://experienceleague.adobe.com/docs/target/using/experiences/vec/troubleshoot-composer/mixed-content.html

[2022-06-03 18:38] jstabenow commented on #339
Hey folks,
Release v2.1.0 is out now and V4L2 + VAAPI is fixed. Thanks for your hint 👍

[2022-06-03 18:42] jstabenow commented on #334
Hey @henriquelucas
Release v2.1.0 is out now and the escape is fixed. Thanks for your hint 👍

[2022-06-03 20:18] jstabenow commented on #328
Hey @FilipStadler
Release v2.1.0 is out now and the CUDA build is fixed. Thanks for your hint 👍
Please note: `NVIDIA_REQUIRE_CUDA=cuda>=11.4`

[2022-06-03 20:18] #328 closed, assigned to jstabenow

[2022-06-03 20:19] svenerbeck commented on #131
Thank you very much for your comment. We have implemented the function in the Restreamer v2 🚀
Have fun with it.

[2022-06-03 20:19] #131 closed

[2022-06-03 20:20] svenerbeck commented on #164
Thank you very much for your comment. We have implemented the function in the Restreamer v2 🚀
Have fun with it.

[2022-06-03 20:20] #164 closed

[2022-06-03 20:20] svenerbeck commented on #98
Thank you very much for your comment. We have implemented the function in the Restreamer v2 🚀
Have fun with it.

[2022-06-03 20:20] #98 closed

[2022-06-03 20:21] svenerbeck commented on #109
Thank you very much for your comment. We have implemented the function in the Restreamer v2 🚀
Have fun with it.

[2022-06-03 20:21] svenerbeck commented on #122
Thank you very much for your comment. We have implemented the function in the Restreamer v2 🚀
Have fun with it.

[2022-06-03 20:21] #122 closed

[2022-06-03 20:21] svenerbeck commented on #125
Thank you very much for your comment. We have implemented the function in the Restreamer v2 🚀
Have fun with it.

[2022-06-03 20:22] svenerbeck commented on #170
Thank you very much for your comment. We have implemented the function in the Restreamer v2 🚀
Have fun with it.

[2022-06-03 20:22] #170 closed

[2022-06-03 20:23] jstabenow commented on #337
Hey @CrashOv62
Here a [quick guide](https://docs.datarhei.com/restreamer/knowledge-base/user-guides/how-to-integrate-a-website)
Thanks for your hint 👍

[2022-06-03 20:23] #337 closed, assigned to nobody

[2022-06-03 20:24] #341 closed, assigned to ioppermann

[2022-06-03 20:25] svenerbeck commented on #154
Thank you very much for your comment. We have implemented the function in the Restreamer v2 🚀
Have fun with it.

[2022-06-03 20:25] #154 closed

[2022-06-03 20:27] svenerbeck commented on #172
Thank you very much for your comment. We have implemented the function in the Restreamer v2 🚀
Have fun with it.

[2022-06-03 20:27] #172 closed

[2022-06-03 20:28] svenerbeck commented on #178
Thank you very much for your comment. We have implemented the function in the Restreamer v2 🚀
Have fun with it.

[2022-06-03 20:29] jstabenow commented on #297
Thank you very much for your comment. We have implemented the function in the Restreamer v2 🚀
Have fun with it.

[2022-06-03 20:29] #297 closed

[2022-06-03 20:30] jstabenow commented on #260
Thank you very much for your comment. We have implemented the encoding options in the Restreamer v2 🚀
Have fun with it.

[2022-06-03 20:30] #260 closed

[2022-06-03 20:31] svenerbeck commented on #182
Thank you very much for your comment. We have implemented the function [DVR](https://www.youtube.com/watch?v=7MLVp0alTtA) in the Restreamer v2 🚀
Have fun with it.

[2022-06-03 20:31] #182 closed

[2022-06-03 20:31] svenerbeck commented on #189
Thank you very much for your comment. We have implemented the function in the Restreamer v2 🚀
Have fun with it.

[2022-06-03 20:31] #189 closed

[2022-06-03 20:33] svenerbeck commented on #206
Thank you very much for your comment. We have implemented the function in the Restreamer v2 🚀
Have fun with it.

[2022-06-03 20:33] #206 closed

[2022-06-03 20:34] svenerbeck commented on #207
Thank you very much for your comment. We have implemented the function in the Restreamer v2 🚀
Have fun with it.

[2022-06-03 20:34] #207 closed

[2022-06-03 20:34] svenerbeck commented on #223
Thank you very much for your comment. We have implemented the function in the Restreamer v2 🚀
Have fun with it.

[2022-06-03 20:34] #223 closed

[2022-06-03 20:34] svenerbeck commented on #269
Thank you very much for your comment. We have implemented the function in the Restreamer v2 🚀
Have fun with it.

[2022-06-03 20:34] #269 closed

[2022-06-03 20:35] svenerbeck commented on #291
Thank you very much for your comment. We have implemented the function in the Restreamer v2 🚀
Have fun with it.

[2022-06-03 20:35] #291 closed

[2022-06-03 20:35] svenerbeck commented on #166
Thank you very much for your comment. We have implemented the function in the Restreamer v2 🚀
Have fun with it.

[2022-06-03 20:35] #166 closed

[2022-06-03 20:35] svenerbeck commented on #165
Thank you very much for your comment. We have implemented the function in the Restreamer v2 🚀
Have fun with it.

[2022-06-03 20:35] #165 closed

[2022-06-03 20:36] jstabenow commented on #280
Thank you very much for your comment. Please pull the latest release and create a new ticket if it fails 👍

[2022-06-03 20:36] #280 closed

[2022-06-03 20:36] svenerbeck commented on #159
Thank you very much for your comment. We have implemented the function in the Restreamer v2 🚀
Have fun with it.

[2022-06-03 20:36] #159 closed

[2022-06-03 20:36] svenerbeck commented on #157
Thank you very much for your comment. We have implemented the function in the Restreamer v2 🚀
Have fun with it.

[2022-06-03 20:36] #157 closed

[2022-06-03 20:37] jstabenow commented on #308
Thank you very much for your comment. We have implemented Let's Encrypt / SSL in the Restreamer v2 🚀
Have fun with it.

[2022-06-03 20:37] #308 closed

[2022-06-03 20:37] svenerbeck commented on #155
Thank you very much for your comment. We have implemented the function in the Restreamer v2 🚀
Have fun with it.

[2022-06-03 20:37] #155 closed

[2022-06-03 20:38] svenerbeck commented on #136
Thank you very much for your comment. We have implemented the function in the Restreamer v2 🚀
Have fun with it.

[2022-06-03 20:38] #136 closed

[2022-06-03 20:44] jstabenow commented on #278
Thank you very much for your comment. Restreamer v2 includes the multi-streaming function 🚀
Have fun with it.

[2022-06-03 20:44] #278 closed

[2022-06-03 20:46] svenerbeck commented on #135
Thank you very much for your comment. We have implemented the function in the Restreamer v2 🚀
Have fun with it.

[2022-06-03 20:46] #135 closed

[2022-06-03 20:46] jstabenow commented on #270
Thank you very much for your comment. Restreamer v2 enables multi-streaming to e. g. Facebook and YouTube 👍
Have fun with it.

[2022-06-03 20:46] #270 closed

[2022-06-03 20:46] svenerbeck commented on #188
Thank you very much for your comment. We have implemented the function in the Restreamer v2 🚀
Have fun with it.

[2022-06-03 20:46] #188 closed

[2022-06-03 20:47] svenerbeck commented on #239
Thank you very much for your comment. We have implemented the function in the Restreamer v2 🚀
Have fun with it.

[2022-06-03 20:47] #239 closed

[2022-06-03 20:47] svenerbeck commented on #211
Thank you very much for your comment. We have implemented the function in the Restreamer v2 🚀
Have fun with it.

[2022-06-03 20:47] #211 closed

[2022-06-03 20:49] svenerbeck commented on #225
Thank you very much for your comment. We have implemented the function in the Restreamer v2 🚀
Have fun with it.

[2022-06-03 20:49] #225 closed

[2022-06-03 20:49] svenerbeck commented on #275
Thank you very much for your comment. We have implemented the function in the Restreamer v2 🚀
Have fun with it.

[2022-06-03 20:49] #275 closed

[2022-06-03 20:50] svenerbeck commented on #274
Thank you very much for your comment. We have implemented the function in the Restreamer v2 🚀
Have fun with it.

[2022-06-03 20:51] svenerbeck commented on #285
Thank you very much for your comment. We have implemented the function in the Restreamer v2 🚀
Have fun with it.

[2022-06-03 20:51] #285 closed

[2022-06-03 20:51] svenerbeck commented on #97
Thank you very much for your comment. We have implemented the function in the Restreamer v2 🚀
Have fun with it.

[2022-06-03 20:51] #97 closed

[2022-06-03 20:52] svenerbeck commented on #208
Thank you very much for your comment. We have implemented the function in the Restreamer v2 🚀
Have fun with it.

[2022-06-03 20:52] #208 closed

[2022-06-03 20:52] svenerbeck commented on #212
Thank you very much for your comment. We have implemented the function in the Restreamer v2 🚀
Have fun with it.

[2022-06-03 20:52] #212 closed

[2022-06-03 20:52] svenerbeck commented on #69
Thank you very much for your comment. We have implemented the function in the Restreamer v2 🚀
Have fun with it.

[2022-06-03 20:52] #69 closed

[2022-06-03 20:53] svenerbeck commented on #93
Thank you very much for your comment. We have implemented the function in the Restreamer v2 🚀
Have fun with it.

[2022-06-03 20:53] #93 closed

[2022-06-03 20:54] svenerbeck commented on #111
Thank you very much for your comment. We have implemented the function in the Restreamer v2 🚀
Have fun with it.

[2022-06-03 20:54] #111 closed

[2022-06-03 20:54] svenerbeck commented on #116
Thank you very much for your comment. We have implemented the function in the Restreamer v2 🚀
Have fun with it.

[2022-06-03 20:54] #116 closed

[2022-06-03 20:55] svenerbeck commented on #162
Thank you very much for your comment. We have implemented the function in the Restreamer v2 🚀
Have fun with it.

[2022-06-03 20:55] #162 closed

[2022-06-03 20:55] svenerbeck commented on #160
Thank you very much for your comment. We have implemented the function in the Restreamer v2 🚀
Have fun with it.

[2022-06-03 20:55] #160 closed

[2022-06-03 20:56] svenerbeck commented on #153
Thank you very much for your comment. We have implemented the function in the Restreamer v2 🚀
Have fun with it.

[2022-06-03 20:56] #153 closed

[2022-06-03 20:56] jstabenow commented on #309
Thank you very much for your comment. Restreamer v2 includes an HLS [publication service](https://docs.datarhei.com/restreamer/knowledge-base/manual/publications).
Have fun with it.

[2022-06-03 20:56] #309 closed

[2022-06-03 20:56] svenerbeck commented on #140
Thank you very much for your comment. We have implemented the function in the Restreamer v2 🚀
Have fun with it.

[2022-06-03 20:57] svenerbeck commented on #215
Thank you very much for your comment. We have implemented the function in the Restreamer v2 🚀
Have fun with it.

[2022-06-03 20:57] #215 closed

[2022-06-03 20:57] #339 closed, assigned to nobody

[2022-06-03 20:57] svenerbeck commented on #255
Thank you very much for your comment. We have implemented the function in the Restreamer v2 🚀
Have fun with it.

[2022-06-03 20:57] #255 closed

[2022-06-03 20:58] svenerbeck commented on #247
Thank you very much for your comment. We have implemented the function in the Restreamer v2 🚀
Have fun with it.

[2022-06-03 20:58] #247 closed

[2022-06-03 20:58] #334 closed, assigned to jstabenow

[2022-06-03 20:58] svenerbeck commented on #246
Thank you very much for your comment. We have implemented the function in the Restreamer v2 🚀
Have fun with it.

[2022-06-03 20:58] #246 closed

[2022-06-03 20:58] svenerbeck commented on #302
Thank you very much for your comment. We have implemented the function in the Restreamer v2 🚀
Have fun with it.

[2022-06-03 20:58] #302 closed

[2022-06-03 21:00] jstabenow commented on #304
Thank you very much for your comment. We fixed the function in the Restreamer v2 🚀
Have fun with it.

[2022-06-03 21:00] #304 closed

[2022-06-03 21:05] svenerbeck commented on #158
Please check this with the Restreamer v2 🚀. We would be happy to receive feedback. The ticket will be closing soon.

[2022-06-03 21:06] svenerbeck commented on #103
Please check this with the Restreamer v2 🚀. We would be happy to receive feedback. The ticket will be closing soon.

[2022-06-03 21:06] svenerbeck commented on #115
Please check this with the Restreamer v2 🚀. We would be happy to receive feedback. The ticket will be closing soon.

[2022-06-03 21:07] svenerbeck commented on #118
Please check this with the Restreamer v2 🚀. We would be happy to receive feedback. The ticket will be closing soon.

[2022-06-03 21:07] svenerbeck commented on #120
Please check this with the Restreamer v2 🚀. We would be happy to receive feedback. The ticket will be closing soon.

[2022-06-03 21:07] svenerbeck commented on #123
Please check this with the Restreamer v2 🚀. We would be happy to receive feedback. The ticket will be closing soon.

[2022-06-03 21:08] svenerbeck commented on #124
Please check this with the Restreamer v2 🚀. We would be happy to receive feedback. The ticket will be closing soon.

[2022-06-03 21:08] jstabenow commented on #107
Jobs done ;-)

[2022-06-03 21:08] #107 closed

[2022-06-03 21:09] svenerbeck commented on #169
Please check this with the Restreamer v2 🚀. We would be happy to receive feedback.

[2022-06-03 21:09] #169 closed

[2022-06-03 21:10] svenerbeck commented on #151
Please check this with the Restreamer v2 🚀. We would be happy to receive feedback. The ticket will be closing soon.

[2022-06-03 21:10] svenerbeck commented on #145
Please check this with the Restreamer v2 🚀. We would be happy to receive feedback. The ticket will be closing soon.

[2022-06-03 21:11] svenerbeck commented on #134
Please check this with the Restreamer v2 🚀. We would be happy to receive feedback. The ticket will be closing soon.

[2022-06-03 21:12] svenerbeck commented on #181
Please check this with the Restreamer v2 🚀. We would be happy to receive feedback. The ticket will be closing soon.

[2022-06-03 21:12] svenerbeck commented on #190
Please check this with the Restreamer v2 🚀. We would be happy to receive feedback. The ticket will be closing soon.

[2022-06-03 21:12] svenerbeck commented on #213
Please check this with the Restreamer v2 🚀. We would be happy to receive feedback. The ticket will be closing soon.

[2022-06-03 21:13] svenerbeck commented on #216
Please check this with the Restreamer v2 🚀. We would be happy to receive feedback. The ticket will be closing soon.

[2022-06-03 21:13] jstabenow commented on #174
Hey @scottgrobinson
The release 2 contains a [process API](https://docs.datarhei.com/restreamer/api/api-and-developer#process).
Have fun with it 👍

[2022-06-03 21:13] #174 closed

[2022-06-03 21:13] svenerbeck commented on #220
Please check this with the Restreamer v2 🚀. We would be happy to receive feedback. The ticket will be closing soon.

[2022-06-03 21:14] svenerbeck commented on #265
Please check this with the Restreamer v2 🚀. We would be happy to receive feedback. The ticket will be closing soon.

[2022-06-03 21:14] svenerbeck commented on #261
Please check this with the Restreamer v2 🚀. We would be happy to receive feedback. The ticket will be closing soon.

[2022-06-03 21:15] jstabenow commented on #147
The Release 2 includes many additional functions and keeps the processes running.
Have fun with it 👍

[2022-06-03 21:15] #147 closed

[2022-06-03 21:15] svenerbeck commented on #258
Please check this with the Restreamer v2 🚀. We would be happy to receive feedback. The ticket will be closing soon.

[2022-06-03 21:15] svenerbeck commented on #254
Please check this with the Restreamer v2 🚀. We would be happy to receive feedback. The ticket will be closing soon.

[2022-06-03 21:17] jstabenow commented on #199
Hey @marcaddeo
The Release v2 includes an Image2 publication service. Have fun with it.

[2022-06-03 21:17] #199 closed

[2022-06-03 21:18] jstabenow commented on #288
Jobs done ;-)

[2022-06-03 21:18] #288 closed

[2022-06-03 21:21] jstabenow commented on #248
Look here:
https://github.com/obsproject/obs-studio/discussions/4021

It probably won't be available for FFmpeg. But thanks for the tip.

[2022-06-03 21:21] #248 closed

[2022-06-03 21:26] eisengrau commented on #239
Wow! Thank you very muck for the effort. I'll definately eould try this out!

Ps. is it possible to run restreamer (as a binary) under an Alpine or Debian LXC (instead of docker?.)

[2022-06-03 21:39] svenerbeck commented on #239
LXC can OCI = docker images

Take a look at: [https://www.buzzwrd.me/index.php/2021/03/10/creating-lxc-containers-from-docker-and-oci-images/](https://www.buzzwrd.me/index.php/2021/03/10/creating-lxc-containers-from-docker-and-oci-images/)

Greetings from Switzerland
Sven

[2022-06-04 05:43] database64128 commented on #340
Updated Restreamer to v2.1.0 and the UI still doesn't work:

![image](https://user-images.githubusercontent.com/18757988/171986250-691f71a2-7845-425e-bf3c-3f91d8693ceb.png)

Please reopen this issue.

[2022-06-04 07:16] AslanChile commented on #346
Thank you @ioppermann

I got HTTPS from nginx as you said (without enabling in Restreamer) and it worked perfect
Thanks

[2022-06-04 08:07] CrashOv62 opened #351 "Automatic update procedure not working"
Hello,

What is the exact command to update to the new version of restreamer?
I thought it was done automatically via the interface but no, on top of that the links to the update procedure in the language translations don't work so it's impossible to know what the procedure is...
The "automatic" update from the interface is useless... you can't do it automatically via the interface!

Thank you for

[2022-06-04 08:39] svenerbeck commented on #251
Please check this with the Restreamer v2 🚀. We would be happy to receive feedback. The ticket will be closing soon.

[2022-06-04 08:39] svenerbeck commented on #244
Please check this with the Restreamer v2 🚀. We would be happy to receive feedback. The ticket will be closing soon.

[2022-06-04 08:40] svenerbeck commented on #241
Please check this with the Restreamer v2 🚀. We would be happy to receive feedback. The ticket will be closing soon.

[2022-06-04 08:40] svenerbeck commented on #230
Please check this with the Restreamer v2 🚀. We would be happy to receive feedback. The ticket will be closing soon.

[2022-06-04 08:41] svenerbeck commented on #303
Please check this with the Restreamer v2 🚀. We would be happy to receive feedback. The ticket will be closing soon.

[2022-06-04 08:41] svenerbeck commented on #301
Please check this with the Restreamer v2 🚀. We would be happy to receive feedback. The ticket will be closing soon.

[2022-06-04 08:41] svenerbeck commented on #300
Please check this with the Restreamer v2 🚀. We would be happy to receive feedback. The ticket will be closing soon.

[2022-06-04 08:41] svenerbeck commented on #295
Please check this with the Restreamer v2 🚀. We would be happy to receive feedback. The ticket will be closing soon.

[2022-06-04 08:42] svenerbeck commented on #293
Please check this with the Restreamer v2 🚀. We would be happy to receive feedback. The ticket will be closing soon.

[2022-06-04 08:43] #333 closed, assigned to jstabenow

[2022-06-04 08:43] svenerbeck commented on #290
Please check this with the Restreamer v2 🚀. We would be happy to receive feedback. The ticket will be closing soon.

[2022-06-04 08:44] svenerbeck commented on #218
Please check this with the Restreamer v2 🚀. We would be happy to receive feedback. The ticket will be closing soon.

[2022-06-04 08:45] svenerbeck commented on #152
Please check this with the Restreamer v2 🚀. We would be happy to receive feedback. The ticket will be closing soon.

[2022-06-04 08:45] svenerbeck commented on #296
Please check this with the Restreamer v2 🚀. We would be happy to receive feedback. The ticket will be closing soon.

[2022-06-04 14:29] yashodhank commented on #270
Youtube or Facebook live URL can be used as source?

[2022-06-05 03:57] PerpEternal opened #352 "_ZSt28__throw_bad_array_new_lengthv: symbol not found while using VAAPI"
use vaapi to encode video from mjpeg to h264
[code]

[2022-06-05 07:20] Jean-Baptiste-Lasselle commented on #302
Thank you for your answer! I will test v2 as soon as possible, to try the new features (multi tnenancy , helm chart with auto scalability ...), I ll give some feed back asap!

[2022-06-05 07:34] bugbounted opened #353 "restream existing m3u8 link to instagram live"
Hi [datarhei](https://github.com/datarhei),
please help me to restream existing m3u8 link to instagram live ,
waiting for your response
finest regards

[2022-06-05 07:39] svenerbeck commented on #353
Hi [elmirarokni](https://github.com/elmirarokni)
Unfortunately, this is not possible directly. Meta does a lot to prevent external video sources. Instagram is a box. But there is a trick. Download the tool from YellowDuck. https://yellowduck.tv

You can use YellowDuck to stream to Instagram via the Publication Service.
It's free and works very well. The operation is intuitive. If you have problems

[2022-06-05 08:04] svenerbeck commented on #351
Hi [CrashOv62](https://github.com/CrashOv62)
You are right, there is no update via the graphical user interface.

## Workflow
The update works via a new Docker container. **Stop** Docker Container → **Remove** Docker Container → **Pull** the latest Container → **Start** new Docker Container.

## Here we go on Terminal
Example for Raspberry Pi (Start with hardware support for arm32v7) documented in

[2022-06-05 08:13] svenerbeck commented on #324
Hi martinformi
Please check this with the Restreamer v2 🚀. We have not really touched real-time yet. There is SRT - but not as a server.
We would be happy to receive feedback.
cheerio
Sven

[EDIT: For software developers, it is worth having a look at the [core](https://github.com/datarhei/core). It is an [FFMpeg API](https://demo.datarhei.com/api/swagger/index.html#/)]

[2022-06-05 08:30] svenerbeck commented on #322
Hi [utilsites](https://github.com/utilsites)
We have prepared the update FFmpeg v5. You can already see it in the latest [changelog](https://github.com/datarhei/restreamer/releases/tag/v.2.1.0.)

Keep an eye out for updates coming soon. We will then close the ticket.

🤝 [electronic high5]
Sven

[2022-06-05 09:14] LeonardoBagella commented on #274
Awesome! Thank you!

[2022-06-05 09:17] utilsites commented on #322
Thanks for the info, but that is for the Restreamer 2.x, on Restreamer 0.x can't update to FFmpeg v5?
We want to migrate to v2 in the future, the migration is so easy like described [here](https://docs.datarhei.com/restreamer/installing/update#migration-from-v.0.x-to-v.2.x)  ?
When we search "Restreamer" on google it takes us to old version and there is no link to the new version? It's a bit confu

[2022-06-05 11:57] svenerbeck commented on #322
Hey Ho [utilsites](https://github.com/utilsites)
We can only provide support from version 2. There we have a comprehensive system for logging and server reports and many other things that make reliable support possible for professional use cases. Thank you for your understanding.

Yes Sir! It is that easy. :)

No, it is our software and the same team ([http://foss-gmbh.ch](http://foss-gmbh.ch/inde

[2022-06-05 12:10] svenerbeck commented on #274
Hey Ho LeonardoBagella
This is probably what you need: [Quick guide on YouTube for the use](https://youtu.be/6D5Dl6GR-hc.)
We close this issue.
Cheerio
Sven

[2022-06-05 12:10] #274 closed

[2022-06-05 14:14] svenerbeck commented on #237
The feature request has been included as a feature request. https://github.com/datarhei/restreamer/discussions/345

[2022-06-05 14:17] svenerbeck commented on #342
Thank you [CrashOv62](https://github.com/CrashOv62) and [Radixb](https://github.com/Radixb)
The proposal has been included here as a [feature request ](https://github.com/datarhei/restreamer/discussions/345.)
🤝 cheerio
Sven

[2022-06-05 21:54] #353 closed, assigned to svenerbeck

[2022-06-05 22:54] dwaynarang opened #354 "Can't run web interface on windows."
I installed docker desktop and then kitematic. then I searched for restreamer and created a copy that said it was running. I do get several errors though.

ts=2022-06-05T22:44:02Z level=INFO component="Import" msg="Database import" version="v1"
ts=2022-06-05T22:44:02Z level=INFO component="Import" msg="Checking for database ..." version="v1"
ts=2022-06-05T22:44:02Z level

[2022-06-06 06:40] danagain commented on #132
Does anyone know how to make this modification in the latest version of the code ? Stuck with an 8-9 second delay and would love to improve it

[2022-06-06 06:47] danagain opened #355 "8 second delay on stream"
No matter what settings I change, there is always an 8 second delay on the stream. Is there anyway to reduce this ?
Thanks.

[2022-06-06 09:04] svenerbeck commented on #354
Hello dwaynarang
Kitematic is deprecated. Please use Docker Desktop instead. Here are the instructions in our docs.  [https://docs.datarhei.com/restreamer/installing/windows-macos](https://docs.datarhei.com/restreamer/installing/windows-macos)

cheerio
Sven

[2022-06-06 09:30] #158 closed

[2022-06-06 09:30] #103 closed

[2022-06-06 09:31] #118 closed

[2022-06-06 09:31] #120 closed

[2022-06-06 09:31] #123 closed

[2022-06-06 09:32] #145 closed

[2022-06-06 09:33] #181 closed

[2022-06-06 09:34] #213 closed

[2022-06-06 09:34] #216 closed

[2022-06-06 09:34] #265 closed

[2022-06-06 09:35] #261 closed

[2022-06-06 09:35] #258 closed

[2022-06-06 09:35] #254 closed

[2022-06-06 09:36] #251 closed

[2022-06-06 09:36] #241 closed

[2022-06-06 09:36] #230 closed

[2022-06-06 09:37] #303 closed

[2022-06-06 09:37] #301 closed

[2022-06-06 09:37] #300 closed

[2022-06-06 09:37] #295 closed

[2022-06-06 09:38] #293 closed

[2022-06-06 09:38] #290 closed

[2022-06-06 09:38] #218 closed

[2022-06-06 09:39] #152 closed

[2022-06-06 09:39] #296 closed

[2022-06-06 10:01] svenerbeck commented on #317
Hey ho istoutjesdijk
Unfortunately not. Not even with the new version. We'll include that as a feature.
Take a look here: https://github.com/datarhei/restreamer/discussions/345
cheerio
Sven

[2022-06-06 10:05] #317 closed

[2022-06-06 10:08] svenerbeck commented on #315
Hello,
we added a feature request. https://github.com/datarhei/restreamer/discussions/345
cheerio
Sven

[2022-06-06 10:08] #315 closed

[2022-06-06 12:21] etofi opened #356 "Synology Docker - vaapi - can't get it to work"
Hello all,
I have tried to implement this https://github.com/datarhei/restreamer/issues/128 unfortunately it absolutely does not work for me.
And of course I also installed the [ffmpeg package](https://synocommunity.com/package/ffmpeg) .

I have already tried this
[code]
It is interesting that the live.json file is not created automatically. So that the container starts at all I had to create an e

[2022-06-06 14:02] ioppermann commented on #317
Actually, it is possible to choose a specific audio track from the source stream, however, you have to know which audio track to choose because their language (provided that this information is available) is not yet displayed in the list of audio tracks.

[2022-06-06 14:49] #322 closed

[2022-06-06 14:58] utilsites opened #357 "Restreamer v2 support to secured streams with JWT"
Does Restreamer v2 has option to create private/secured streams, using some token in the url?
We implemented in v0.x a JWT token that's has some attributes like time allowed to play, ads on or off, etc.
It would be good that Restreamer v2 would have this kind of functionality, otherwise we have to clone v2 and do the same changes to support this (hope that the code is similar :)
If you are interes

[2022-06-07 08:52] ioppermann commented on #336
This has been fixed in the 2.0.1 release. How to update, see https://docs.datarhei.com/restreamer/installing/update#update-v.2-to-greater-than-2.x

[2022-06-07 08:52] #336 closed, assigned to nobody

[2022-06-07 08:53] #346 closed, assigned to nobody

[2022-06-07 10:02] ioppermann commented on #357
This is currently not implemented, but it's on our roadmap. v2 has a completely different codebase from v0.x.

It would be a great help and might accelerate the development on our side if you could share the code how you solved this.

[2022-06-07 11:22] jstabenow commented on #356
Thank you for the information. We'll take a look at that this week.
One problem seems to be the version of the GMMLib.

[2022-06-07 11:30] jstabenow commented on #355
Currently not. Low latencies (e. g. LL-HLS, CMAF, LL-DASH) are a future topic.

[2022-06-07 11:30] jstabenow commented on #352
Thank you for the information. We'll take a look at that this week.
One problem seems to be the version of the GMMLib.

[2022-06-07 11:31] #355 closed, assigned to jstabenow

[2022-06-07 11:33] danagain commented on #355
No worries, thanks for the response and great project.

[2022-06-07 13:40] ioppermann commented on #340
True, this is still broken. A fix is in the pipeline and will be part of the next release.

[2022-06-07 20:52] svenerbeck commented on #350
Hello [poopyface0931](https://github.com/poopyface0931)
Nice to hear from you.

**Keep in mind**
1. Check "raspi config" to activate the Raspicam
2. Don't forget: [--privileged](https://docs.datarhei.com/restreamer/installing/raspberry-pi-arm)
3. Use the latest Restreamer v 2.1.0

**If it still does not work**
4. Please send your first Docker command to start the Restreamer.

Cheerio
Sven

[2022-06-09 02:30] danagain opened #358 "Need help with HTTPS setup"
Hi,

I am stuck trying to get the stream as HTTPS so I can embed into a website.
I am running the restreamer in a Google compute engine with http and https traffic enabled.

What I have done so far:

1. I have followed the video in the documentation - "How can I use HTTPS with Let's Encrypt". HTTPS has been enabled in the streamer admin UI.
2. Setup a dynamic DNS service and mapped my servers exte

[2022-06-09 09:46] svenerbeck commented on #358
Hello danagain
The documentation for your case is still missing. We will add it relatively soon. Sorry, there are still some gaps in the documentation - this is known to us, and we are continuously working on it.

As an immediate help, you should look for these keywords:
- **TCP Proxy** if Restreamer should serve the SSL
- **reverse Proxy** if you want to serve the SSL on your proxy.

I am sorry t

[2022-06-09 19:02] jstabenow commented on #302
Hey @Jean-Baptiste-Lasselle
Your ideas sound very interesting and if you need help, get in touch.

BTW: Have a look at our backend:
https://github.com/datarhei/core

With that, a lot should already be possible.

[2022-06-09 20:18] npsolution opened #359 "IOS Problem"
On some devices they report me continuous anomalies in the video display, the video is not loaded at all or the upload rotation always appears. happens to you too?

[2022-06-09 20:38] jstabenow commented on #359
iOS problems are currently not known. Which iOS versions/browsers and devices does this affect?

[2022-06-09 23:25] verticalhost opened #360 "Unable to reach a domain"
Hello ,
I used the link of the video tutorial for let's encrypt.
It seems to me that nothing happens.
![image](https://user-images.githubusercontent.com/100486259/172961208-2fbfebe9-103c-4ac0-8a32-e9f937c224f1.png)
I don't know where the problem comes from

[2022-06-10 05:30] danagain commented on #358
Thanks!

 I was able to get it all working. I just didn't setup the SSL certificates properly before.

[2022-06-10 05:54] svenerbeck commented on #360
Bonjour WaffleBoyQc
Good to hear from you.

You can't do much wrong. Have you forwarded the ports?

Please [check](https://docs.datarhei.com/restreamer/knowledge-base/user-guides/how-can-i-use-https-with-lets-encrypt):
- Don't forget to forward the public port for HTTPS: 443 to your internal Restreamer IP default port: 8181.
- Don't forget to forward the public port for HTTP: 80 to your internal R

[2022-06-10 11:33] svenerbeck commented on #358
Hey Ho Dan
Nice that it still worked out so quickly.
Thanks also for pointing out a gap in the documentation. The tutorial will come.

If you want, feel free to show us your project. We will 📢 #shoutout the link to promote it.
We are always happy to see any project with the restreamer.

Have a lovely weekend from datarhei.com
Sven

[2022-06-10 11:33] #358 closed, assigned to svenerbeck

[2022-06-10 14:29] verticalhost commented on #360
So to running my commands line it's should looks like this right ?

docker run -d --restart=always --name restreamer \
-v /opt/restreamer/config:/core/config \
-v /opt/restreamer/data:/core/data \
-p 80:8080 -p 443:8181 -p 1935:1935 \
datarhei/restreamer:latest

[2022-06-10 14:46] verticalhost commented on #360
I fixed by doing this.
Sorry for taking time.

Also are you planning to allowed multi user ?

[2022-06-10 14:59] svenerbeck commented on #360
Hi WaffleBoyQc
Nice that you still got it running [electronic high5]

For your question about a user management.
You are welcome to make a feature request here: https://github.com/datarhei/restreamer/discussions/345

Have a sunny ☀️ weekend.

Greetings from datarhei
Sven

[2022-06-10 14:59] #360 closed, assigned to svenerbeck

[2022-06-10 18:13] npsolution commented on #359
iPhone 11 and 13 , Broswer Safari
visit the page at https://www.vistalive.it/carpinone-piazza/

[2022-06-12 15:12] Pepozzo opened #361 "Problem enabling HTTPS with Let's Encrypt"
Hello!

I'm running Restreamer on a Linux VM (XUbuntu) on Azure cloud.

I've launched this command:
`docker run -d --restart=always --name webcam -v /opt/webcam-restreamer/config:/core/config -v /opt/webcam-restreamer/data:/core/data -p 8080:8080 -p 8181:8181 -p 1935:1935 datarhei/restreamer:latest`

Also, on my Azure Network Security Group I've enabled some inbound rules:
![image](https://user-im

[2022-06-12 15:29] Pepozzo commented on #361
Error found. There were a problem acquiring Let's Encrypt certificate.

[2022-06-12 15:29] #361 closed, assigned to nobody

[2022-06-13 03:43] ftrescue opened #362 "the channel names"
![image](https://user-images.githubusercontent.com/96438569/173275340-1d5f3679-2e5c-49bb-a334-e2d5350831b6.png)

And when I go back in and put them on save button not working ??
any ideas how to fix please thanks

[2022-06-13 07:11] svenerbeck commented on #362
Hello ftrescue
You have described something little about what your request is. So I interpret that you would like to customize the channel names, which does not work as expected?

Take a look at this [doc](https://docs.datarhei.com/restreamer/knowledge-base/manual/edit-livestream/meta-information).

**Navigate to:**

1. Stream Settings ([4](https://docs.datarhei.com/restreamer/knowledge-base/manua

[2022-06-13 07:51] npsolution commented on #359
The syte are on transfering hosting, try later, tanks  NP Solution            Di Passarelli Nicola            Mail: ***@***.***            Cel: 351 90 95 953
-------- Messaggio originale --------Da: Sven Erbeck ***@***.***> Data: 13/06/22  09:28  (GMT+01:00) A: datarhei/restreamer ***@***.***> Cc: Nicola Passarelli ***@***.***>, Author ***@***.***> Oggetto: Re: [datarhei/restreamer] IOS Problem (I

[2022-06-13 11:40] jstabenow commented on #359
@npsolution
iPhone XS, 11, 13 with the latest iOS version works without problems.

Question: Are all the streams affected or just one? Please check if the process is faulty and if there are dropouts. Maybe the process is cleaned up too fast.

[2022-06-13 11:45] ioppermann commented on #362
When you change a channel name, you also have to re-save the playersite. Otherwise the channel name will not be updated on the playersite.

[2022-06-13 14:01] svenerbeck commented on #362
Thank you Ingo
So you found a kind of Bug [ftrescue](https://github.com/ftrescue)
Thank you for the advice. We will fix this in the next update.
Cheerio
Sven

[2022-06-13 14:27] jstabenow commented on #359
We see your camera is back:
1. disable autoplay for testing
2. send an address without proxy

Thanks 👍

[2022-06-14 06:50] npsolution commented on #359
I have disabled autoplay but still have complaints on ios devices.  I can't figure it out.

[2022-06-14 12:23] svenerbeck commented on #102
Please check this with the Restreamer v2 🚀. We would be happy to receive feedback.

[2022-06-14 12:23] #102 closed

[2022-06-14 12:23] jstabenow commented on #348
@svenger87
If you still have questions, please reopen.

[2022-06-14 12:23] #348 closed, assigned to nobody

[2022-06-14 12:24] svenerbeck commented on #156
Please check this with the Restreamer v2 🚀. We would be happy to receive feedback. We close this ticket.

[2022-06-14 12:24] #156 closed

[2022-06-14 12:25] svenerbeck commented on #231
Please check this with the Restreamer v2 🚀. We would be happy to receive feedback. We close this ticket.

[2022-06-14 12:25] #231 closed

[2022-06-14 12:26] svenerbeck commented on #79
Please check this with the Restreamer v2 🚀. We would be happy to receive feedback. The ticket is closed.

[2022-06-14 12:26] #79 closed

[2022-06-14 12:27] svenerbeck commented on #240
Please check this with the Restreamer v2 🚀. We would be happy to receive feedback. The ticket is closed.

[2022-06-14 12:27] #240 closed

[2022-06-14 12:28] jstabenow commented on #359
Please send an address without proxy. Then we continue.

[2022-06-14 12:30] svenerbeck commented on #221
Please check this with the Restreamer v2 🚀. We would be happy to receive feedback. The ticket is closed.

[2022-06-14 12:30] #221 closed

[2022-06-14 13:01] #125 closed

[2022-06-14 13:09] svenerbeck commented on #63
@ofadam
This function is now an offical feature request. Image overlay, watermark over an encoding.
You find the list here: https://github.com/datarhei/restreamer/discussions/345

cheerio
Sven

[2022-06-14 13:13] svenerbeck commented on #299
Please check this with the Restreamer v2 🚀. We would be happy to receive feedback.

[2022-06-14 13:13] #299 closed

[2022-06-14 13:17] svenerbeck commented on #119
@OmarAttia
This function is now an official feature request. WebRTC.
You find the list here: https://github.com/datarhei/restreamer/discussions/345

cheerio
Sven

[2022-06-14 13:21] svenerbeck commented on #86
Please check this with the Restreamer v2 🚀. We would be happy to receive feedback.

[2022-06-14 13:23] svenerbeck commented on #235
Please check this with the Restreamer v2 🚀. We would be happy to receive feedback.

[2022-06-14 13:25] svenerbeck commented on #298
Please check this with the Restreamer v2 🚀. We would be happy to receive feedback.

[2022-06-14 13:25] #298 closed

[2022-06-14 13:28] svenerbeck commented on #307
Thank you @OllyKl
[electronic high5]
cheerio
Sven

[2022-06-14 13:28] #307 closed

[2022-06-14 13:31] svenerbeck commented on #312
Hi @beanman12
Did you test this again with the latest 🚀 Restreamer V2?
Greetz
Sven

[2022-06-14 13:48] svenerbeck commented on #279
@bubbapizza
This function is now an official feature request and in progress for V2.
You find the list here: https://github.com/datarhei/restreamer/discussions/345

cheerio
Sven

[2022-06-14 16:01] devsecops1solution opened #364 "how to run this project locally without using docker"
hi everybody i hope you are doing well so i would like to run this project locally in an offline network without using docker

[2022-06-14 19:29] ftrescue opened #365 "updating"
Hi guys hope you can help I removed the container and then added the code 👍

[code]

but it wont update the program as still says need a update any i dears would help thanks
 -I'm running on ubuntu/Linux
if you need to log on i do have Anydesk  thanks

[2022-06-14 19:48] jstabenow commented on #365
Hey @ftrescue
to update your local image exec `docker pull datarhei/restreamer:latest`.

[2022-06-14 19:57] ftrescue commented on #365
hi @jstabenow
thats in the code i posted ?

[2022-06-14 20:07] jstabenow commented on #365
No, `docker run ...` only loads the image if unavailable locally.
And `docker pull` updates an existing image.

Please run:
[code]

[2022-06-14 21:12] ftrescue commented on #365
@jstabenow your a star mate thank you so much that worked brill :-) so i take it now i will get auto updates saves me learning more about docker hahah

[2022-06-14 22:16] beanman12 commented on #312
I was able to updater to v2 and was able to get into the admin panel.

[2022-06-14 22:16] #312 closed

[2022-06-15 08:24] svenerbeck commented on #364
Hi @devsecops1solution
Native installation is possible, but not officially supported by us at the moment. It is because the installation has too many pitfalls. However, we are already working on a solution for native installation.
I'll be honest, and it's not a big priority now. So I wouldn't count on it this year.

Please get in touch with us if it's essential to you for a commercial project. The

[2022-06-15 09:59] NeveIsa opened #366 "Start a stream programatically using API without using the GUI"
Currently the documentation is not clear on how to start a process using the API.
For example, I want to use /dev/video1 and want to get the stream on the htmlplayer.

How do I accomplish this using POST on the url /api/v3/process?
Later I want to get the livestream player's url which I guess is easy to do using GET on the endpoint /api/v3/process and retrieving the process id.

Can we get some ex

[2022-06-15 10:23] npsolution commented on #359
https://streaming.vistalive.cloud/memfs/8d0f047b-0eec-4127-b447-2f913782ddc1.m3u8

[2022-06-15 10:23] KaptnTobi opened #367 "video buffers every 1-2 seconds"
When I start a RTMP stream the video arrives but buffers every 1-2 seconds. I've already tried to adjust the HLS settings but without success. The RTMP stream is sent directly via a Panasonic AG-CX10. Any ideas for help?

[2022-06-15 10:31] jstabenow commented on #366
Hey @NeveIsa
Here's a quick example:

1. Create a process via the Restreamer-Interface

2. Log in and get the `access_token`:
[code]

3. Show the processes:
[code]

4. Copy the process config `"config":{...}` and customize it

5. Create your own process:
[code]

More API details:
https://github.com/datarhei/core#process
https://demo.datarhei.com/api/swagger/index.html#/default/restream-3-get-all

[2022-06-15 10:34] jstabenow commented on #359
[code]

It's openresty. Again: Please send an address without proxy. Thanks.

[2022-06-15 10:36] NeveIsa commented on #366
So in step 5 we just pass the contents of the modified process config section?

This means that the payload {"type": "ffmpeg",...} is the config part of the process details from step 4?

[2022-06-15 11:00] npsolution commented on #359
what do you mean when you say no proxy?  do you want the rtsp string directly?

[2022-06-15 11:10] svenerbeck commented on #367
Hi @KaptnTobi
Due to HLS there is a basic latency.
At the moment, it is technically not possible to make it faster.
To improve this, there are still some updates to come.

Cheerio
Sven

[2022-06-15 11:22] svenerbeck commented on #367
I just noticed something else...
Maybe I misunderstood your question? Is it about the latency, or does your video lag every 1 to 2 seconds?

Cool camera by the way :)

Greetings
Sven

[2022-06-15 11:23] KaptnTobi commented on #367
Hi Sven, thx for your answer. I don't mean the basic latency, this is ok. The video runs smoothly for about 2 seconds and then stops/loads. After another 2 seconds of loading, it runs again, etc. This is how it goes the entire time so that the stream is not viewable due to the dropouts. It runs smoothly on the old Restreamer version. (0.6.8)

[2022-06-15 11:24] KaptnTobi commented on #367
Yes it is lagging every 1-2 sec.

Yeah the Camera is very nice! ;D

[2022-06-15 11:26] jstabenow commented on #359
Your setup probably looks like this:
Client -> Openresty (Reverse Proxy) -> Restreamer

And there are too many sources of error.

That's why we need direct access to the Restreamer without caching/proxy:
Client -> Restreamer

[2022-06-15 11:33] svenerbeck commented on #367
Hey Ho Käptn Tobi

Please send us the "Process Report".
[https://docs.datarhei.com/restreamer/v/de/wissensdatenbank/user-guides/prozess-details](https://docs.datarhei.com/restreamer/v/de/wissensdatenbank/user-guides/prozess-details)

Greetings
Sven

[2022-06-15 11:37] svenerbeck commented on #365
⭐ We are pleased about a rating on Google. Your rating helps us to keep the software alive for free. Thank you. [https://g.page/r/CSv68cfIr9l9EBE/review](https://g.page/r/CSv68cfIr9l9EBE/review)

[2022-06-15 11:37] #365 closed, assigned to jstabenow

[2022-06-15 11:42] jstabenow commented on #366
You can find the existing configuration in the object "config":
https://demo.datarhei.com/api/swagger/index.html#/default/restream-3-get-all

[code]

And an example of the process configuration looks like this:
https://demo.datarhei.com/api/swagger/index.html#/default/restream-3-add

[code]

You use this as payload:

[code]

[2022-06-15 11:49] KaptnTobi commented on #367
Hey Sven, here is the process report. I hope he can help.

[220615_report_restreamer.txt](https://github.com/datarhei/restreamer/files/8908955/220615_report_restreamer.txt)

[2022-06-15 12:10] jezdd opened #368 "Unable to stream to Youtube"
Hi there,

Love the product, been waiting for the new release and using now using v2.1 installed in a windows docker, installation fine, able to stream local sourced (Unifi cameras) to Twitch out of the box, however we cannot get the streaming to function with Youtube live.

Retreamer logs suggest it is connected and streaming ok but the Youtube side fails both with RMTP and HLS although sometime

[2022-06-15 12:11] svenerbeck commented on #367
Thank you. This helps to find the error.
The processes break down. This can be seen in the log

Does the Restreamer in your setup pull the stream, or does your camera push the stream to the Restreamer?

If your camera pushes the video, you can open the address stored in the camera in the VLC and see if the stream is not lagging.

Greetings
Sven

[2022-06-15 12:21] jstabenow commented on #368
Hey @jezdd
Glad you like the update :partying_face:

So far, there are no known problems with YouTube, and we use it ourselves.
For us to help, we need the `process debug`:

![Bildschirmfoto 2022-06-15 um 14 16 44](https://user-images.githubusercontent.com/7462030/173825125-fa10a457-d8cd-4f85-9b65-3610da3916d5.png)

Thanks a lot.

[2022-06-16 09:40] jstabenow commented on #366
@NeveIsa Did it work?  Any questions?

[2022-06-16 09:55] jstabenow commented on #364
You can find installation instructions in the Dockerfiles:

The Restreamer bundle (combines Restreamer-UI, Core, FFmpeg):
https://github.com/datarhei/restreamer/blob/2.x/Dockerfile

The Restreamer-UI built:
https://github.com/datarhei/restreamer-ui/blob/main/Dockerfile

The Core (Backend) build:
https://github.com/datarhei/core/blob/main/Dockerfile

And you have to compile FFmpeg with our patch:
h

[2022-06-16 09:55] #364 closed, assigned to svenerbeck

[2022-06-16 12:15] jezdd commented on #368
Many thanks, see attached, note this is out of the box - we have it streaming a local RTSPS camera to twitch perfectly, I have tried the demo stream to send to Youtube but there is nothing at the Youtube end, simply does not get the feed or connection.

Using RTMP the Youtube side never sees any stream connection, if I try HLS it tries to connect but with no content.

[report.txt](https://github.c

[2022-06-17 14:18] Restreamdev opened #369 "unable to stream to owncast"
i have tried to stream on https://owncast.online/
but failed  becuase this is streaming url rtmp://192.168.8.103:1935/live please add this in publication list
please please
im using restreamer from last 2 month i am happy but can you add this publication

[2022-06-17 14:24] Restreamdev commented on #310
yes please add output quailities like master playlist.m3u8

[2022-06-17 16:17] ioppermann commented on #369
Thanks for the suggestion. For now, you might try the generic RTMP publication.

[2022-06-17 16:37] Restreamdev commented on #369
ok sir thanks for quick reply

[2022-06-17 23:19] jezdd commented on #368
Hi there, I think I have found the issue - when setting up the camera in restreamer you must NOT use no audio - Youtube seems to struggle with this, if I repeat the exact same process with silence audio then the stream work well

[2022-06-18 05:37] svenerbeck commented on #368
Hi jezdd
Yes, if you don't have audio, you need to enable silence as an audio track for YouTube. Friendly that it works for you now.
If you like, you can show us your live stream, and we will make a shoutout on Twitter.

💙💚🧡💜 Help datarhei with a rating or review on Google. #feelsgoodtobeloved https://t.co/ZT9pRX1gG7

Greetings from datarhei.com

[2022-06-18 05:37] #368 closed, assigned to jstabenow

[2022-06-18 05:42] svenerbeck commented on #367
Hi @KaptnTobi,
Did that work? We would be happy to receive feedback.
The ticket will be closing soon.

Greets
Sven

[2022-06-18 06:03] svenerbeck commented on #354
The ticket will be closing soon.

[2022-06-18 06:15] svenerbeck commented on #350
The ticket will be closing soon.

[2022-06-18 06:15] svenerbeck commented on #351
The ticket will be closing soon.

[2022-06-18 06:17] svenerbeck commented on #324
The ticket will be closing soon.

[2022-06-18 06:18] svenerbeck commented on #314
Please check this with the Restreamer v2 🚀. We would be happy to receive feedback.

[2022-06-18 09:37] npsolution commented on #359
Hi Jan
I'm trying to install restreamer without using nginx proxy manager but I can't get a ssl.
Currently my procedure is as follows:
install restreamer with the following string:

docker run -d --restart = always --name restreamer \
-v / opt / restreamer / config: / core / config \
-v / opt / restreamer / data: / core / data \
-p 80: 8080 -p 443: 8181 -p 1935: 1935 \

after which I add the follo

[2022-06-18 13:11] npsolution commented on #359
I managed to install the certificates and also Client -> restreamer I have problem viewing from ios
At this point I think it depends on the webcams that you set in copy mode have different encodings. As the problem arises, even if randomly only on some cameras, I will do further tests

[2022-06-19 02:22] poopyface0931 commented on #350
Thanks for your reply Sven.

FYI: the option to enable raspicam has been deprecated in the latest version of Raspberry OS. It's now on by default.

Here's the available Restreamer settings presented on my Raspi - note there's no raspicam option:

![restreamer-1](https://user-images.githubusercontent.com/106410268/174463116-85e8662f-cfa4-428e-802d-f10df4f015c0.jpg)

Here's the functioning camera:

[2022-06-19 09:15] ftrescue commented on #359
@npsolution I don't think its your set up mate i think its there phones as like you know I have an iPhone and its working brill on all your cams -- you could lower the bit rate on the cams this might help mate

[2022-06-19 13:11] ioppermann commented on #350
You might first make the Raspi cam available as a Video4Linux device with this command that you execute on the host system `sudo modprobe bcm2835-v4l2`. Afterwards restart the Restreamer container.

[2022-06-19 13:28] npsolution commented on #359
Thanks but I think I've solved it, it's a camera coding problem.

[2022-06-19 19:19] NeveIsa commented on #366
I will try soon and post here. Sorry, my machine is under repair

[2022-06-20 02:04] fluential opened #370 "Restreamer v2 -copy support"
Hi, v1 had option to copy both audio / video without any transcoding, didn't see this in the v2
I am referring to:
- `-c:a copy`
- `-c:v copy`

[2022-06-20 05:31] fatherslab-taylor commented on #366
I tried to check the API through swagger but
I keep getting a 401 error

I entered the access_token and refresh_token obtained through /api/login correctly, but I get a 401 Missing or invalid JWT token when requesting /api/v3/process

[2022-06-20 05:37] ioppermann commented on #366
@faters-taylor In the token field you have to add `Bearer` in front of the token, i.e. `Bearer [token]`.

This is currently a limitation of the Swagger 2.0 specs.

[2022-06-20 06:36] fatherslab-taylor commented on #366
@ioppermann Thanks, I'm using it by calling it directly instead of testing it in swagger-ui

[2022-06-20 07:34] #367 closed, assigned to svenerbeck

[2022-06-20 09:35] ioppermann commented on #366
@faters-taylor Did you generate a client from the swagger file? Then you will most likely need to modify the generated code such that `Bearer [access token]` is sent to the API instead of only the access token.