[2022-06-20 11:19] fatherslab-taylor opened #371 "I want to get iframe code or player URL."
A restreamer is an excellent solution for me, who needs to show RTSP on a website. However, I have an unresolved error and I am asking for advice.

I am trying to display an rtsp file on a website using the API.

test rtsp url: rtsp://rtsp.stream/pattern

1. Get accessToken via /api/login
2. I created a process using /api/v3/process
[code]

3. I want to get the iframe code or player URL of the cre

[2022-06-20 12:20] svenerbeck commented on #370
Hi @fluential

Passthrough is the default setting via the wizard. Passthrough is not enabled when encoding is active.

Cheerio
Sven

[2022-06-20 14:34] Kdcius opened #372 "Can't use let's encrypt"
Hello there.
I'm trying to access restreamer via https so I've configured the let's encrypt option in the restreamer admin page.
I've pointed it to my domain name and opened the needed ports in the host firewall.
I'm using port 8080 for https (accessed via 9020) and port 8181 for https (accessed via 443).
I can't figure out what is going wrong, I tried with other hosts and other clients nothing se

[2022-06-20 15:54] ioppermann commented on #371
The iframe and player URL are created by the UI. If you want that your own process also shows up in the UI then you have to use a UUIDv4 for your `${randomId}`. This is the format the UI uses and expects.

Alternatively, you might use any other player for HLS streams and use the `.m3u8` as source. Also the ID of the process can be any value if you don't need to rely on the UI.

[2022-06-20 16:00] ioppermann commented on #372
Do you see in the logs any error messages regarding Let's Encrypt? You'll find the logs in the settings with "Expert mode" enabled (see: https://docs.datarhei.com/restreamer/knowledge-base/manual/system-settings/logging).

[2022-06-20 19:59] Kieranwest opened #373 "Low Latency Mode"
In the previous version of reStreamer I was able to manually edit the nginx config file to reduce the playback latency. I was also able to see more stats on the player itself. Are there any plans to bring back the stats menu along with the ability to decrease the hls times for lower latency playback ?

I've looked through the container but I really can't seem to find any nginx configs.

[2022-06-21 00:46] poopyface0931 commented on #350
Tried the Video4Linux command, but still no raspicam shows up.

Additionally, I update using:
docker pull datarhei/restreamer:latest
then reboot restreamer, but continue getting a message in Settings saying 'update available'

[2022-06-21 02:07] fatherslab-taylor commented on #371
Can I get what I want in the following way?

1. Create a process using `/api/v3/process.`
2. Check the `.m3u8` address using `/api/v3/process/{id}`
3. Expose on the website using HLS player.

Am I thinking in the right direction?
Are there any HLS players provided by restreamer?

[2022-06-21 08:54] svenerbeck commented on #373
Hi @Kieranwest
Decreasing the latency is a to-do and on the roadmap.
You will find this on the feature request discussion:
https://github.com/datarhei/restreamer/discussions/345

So we still ask for a bit of patience.

Status is. LHLS is not implemented in FFmpeg. However, if you are a software developer, you are welcome to submit a patch for FFmpeg.

Greetings
Sven

[2022-06-21 09:01] ioppermann commented on #350
Please use the `datarhei/restreamer-rpi:latest` image.

[2022-06-21 10:31] jstabenow commented on #359
Hey @npsolution
Sorry, I assumed that all your cameras were having problems on iOS.
So which codec/setting was the problem?

[2022-06-21 10:39] Kdcius commented on #372
Thanks for answering.
I've double checked in the logs and can't see anything about let's encrypt or https or anything related.
I tried to connect to the https port to see if any new line showed off but nothing.

[2022-06-21 11:30] npsolution commented on #359
yes, the problem was found on certain ipcamera that had a particular rtsp string.  changing the string i solved.  Thanks for the support anyway.

[2022-06-21 13:31] KaptnTobi commented on #367
Hi @svenerbeck,

sorry for the late feedback. I was away for a few days.
The camera push the stream to Restreamer. I have already open the address in VLC and the stream is not lagging.
We are currently using a paid streaming platform and the stream runs smoothly and without lagging.
I also tryed a second camera (same model) and the problem is the same.
In the next step I try to switch an external

[2022-06-21 16:16] poopyface0931 commented on #350
How do I select which image to use? Im confused: I update using this command:
docker pull datarhei/restreamer:latest
then restart restreamer. Am I not automatically using the latest image after updating?

[2022-06-21 18:59] jstabenow commented on #359
All right. Great that you were able to fix it 👍

[2022-06-21 18:59] #359 closed, assigned to jstabenow

[2022-06-21 19:55] svenerbeck commented on #305
Please check this with the Restreamer v2 🚀. We would be happy to receive feedback.

[2022-06-21 19:56] svenerbeck commented on #313
Please check this with the Restreamer v2 🚀. We would be happy to receive feedback.

[2022-06-21 20:12] svenerbeck commented on #313
Sorry, I was a bit hasty with the closing.  We will add this to the feature request list. https://github.com/datarhei/restreamer/discussions/345

[2022-06-21 20:16] svenerbeck commented on #305
Sorry, I was a bit hasty with the closing. We will add this to the feature request list. https://github.com/datarhei/restreamer/discussions/345

[2022-06-22 08:01] ioppermann commented on #350
You call `docker pull datarhei/restreamer-rpi:latest` instead of `docker pull datarhei/restreamer:latest`. Also in your docker command for running the container you write `datarhei/restreamer-rpi:latest` at the end instead of `datarhei/restreamer:latest`.

[2022-06-22 08:04] ioppermann commented on #372
Did you actually enable HTTPS according to our guide? https://docs.datarhei.com/restreamer/knowledge-base/user-guides/how-can-i-use-https-with-lets-encrypt

[2022-06-23 03:34] poopyface0931 commented on #350
When I use:
docker pull datarhei/restreamer-rpi:latest
I receive the following error:
WARNING: The requested image's platform (linux/arm) does not match the detected host platform (linux/arm64/v8) and no specific platform was requested
I'm using arm64v8, which according to your docs requires:
datarhei/restreamer:latest

[2022-06-23 08:02] ioppermann commented on #350
Sorry, my bad 🤦‍♂️ The actual image is `datarhei/restreamer:rpi-latest`. Please try again with this one.

[2022-06-23 13:37] iskconnairobi opened #374 "Help with HTTPS"
Hi,

I'm trying to access restreamer via HTTPS but am unable to do so. My site uses Lets' Encrypt and port 443 is open. I can access the ui on port 8080 but 8181 is not working. Restreamer is running on Ubuntu 20.04

Kindly help.

The docs mention something about port forwarding but I don't know how to do that.

[2022-06-23 15:55] Kdcius commented on #372
Yes It's turned on and configured as shown in the guide.

[2022-06-23 17:17] svenerbeck commented on #374
Hi @iskconnairobi

This doesn't sound like a problem with the Restreamer, but rather something to do with your network settings.

I advise you to find out how to release a public port in your network. You have to look into your router's manual like FritzBox, Zyxel, DrayTek, Cisco, D-Link, Netgear, or something like that.

If you send me the router model, I will look for the manual for port forward

[2022-06-23 17:26] svenerbeck commented on #370
Hi @fluential
Do you have another question about the topic? The ticket will be closed soon.

Cheerio
Sven

[2022-06-23 19:36] fluential commented on #370
All good, we can close

[2022-06-23 19:55] poopyface0931 commented on #350
Here's what I did:

1. reflashed card with Raspberry OS 64bit;
2. updated + upgraded;
3. installed Docker;
4. sudo docker run -d --restart=always --name restreamer -v /opt/restreamer/config:/core/config -v /opt/restreamer/data:/core/data -p 8080:8080 -p 8181:8181 -p 1935:1935 --privileged datarhei/restreamer:latest
5. when raspicam did not appear in Restreamer I applied: sudo modprobe bcm2835-v4l2

[2022-06-23 19:59] svenerbeck commented on #370
Thank you @fluential
[electronic high5]
Sven

[2022-06-23 19:59] #370 closed, assigned to svenerbeck

[2022-06-23 20:02] ioppermann commented on #350
I will try.

[2022-06-24 06:27] iskconnairobi commented on #374
Hi Sven,

Thank you for your quick reply.

My Restramer is hosted on a Linode. I have no idea of the router used.

I tried binding 443 to 8181 but it gave an error messagestarting that the
port is used by other applications.

Port 8080 had no issues and just worked out of the box without any
additional configuration.

Please advice.

Thanks.

On Thu, 23 Jun 2022, 20:17 Sven Erbeck, ***@***.***> wr

[2022-06-24 08:05] svenerbeck commented on #374
Hi @iskconnairobi

Please show me your Docker command to start the Restreamer.

Send me a screenshot of the HTTPS settings
![image](https://user-images.githubusercontent.com/12124066/175491634-c42e87fb-966b-4b4e-85b4-8583932c5ce6.png)

Thank you.

Greetings
Sven

[2022-06-24 08:29] iskconnairobi commented on #374
![image](https://user-images.githubusercontent.com/108075003/175496180-7bcb4832-8607-464d-a400-f5d42bd4a382.png)

[2022-06-24 08:30] iskconnairobi commented on #374
docker run -d --restart=always --name restreamer \
-v /opt/restreamer/config:/core/config \
-v /opt/restreamer/data:/core/data \
-p 8080:8080 -p 8181:8181 -p 1935:1935 \
datarhei/restreamer:latest

[2022-06-24 08:37] svenerbeck commented on #374
Thank you. You have a rotator in the ports.

Please try this:

[code]

⚠️ **Remember**
From that on, the Restreamer is available via:

[code]

Greetings
Sven

[2022-06-24 09:15] iskconnairobi commented on #374
![image](https://user-images.githubusercontent.com/108075003/175504476-bfa83545-17ff-468c-978d-ee72f14bf618.png)

[2022-06-24 09:19] iskconnairobi commented on #374
Both ports 80 and 443 have the same error

[2022-06-24 09:21] iskconnairobi commented on #374
Currently, I have ProxyPass and so the playersite is loading when you visit iskconnnairobi.com

However, I want to embed the feed as this is not our final homepage

[2022-06-24 12:52] svenerbeck commented on #374
Hi @iskconnairobi
Thank you for the information.

We don't understand your point because it works fine with HTTPS.

Try:
[http://iskconnairobi.com/ui](http://iskconnairobi.com/ui)
[https://iskconnairobi.com/ui](https://iskconnairobi.com/ui)

_Or do you want to make the interface from the restreamer available internally?_

And here are your options with and without a proxy:

## Case 1
![case-1](htt

[2022-06-24 15:51] iskconnairobi commented on #374
HI Sven,

Thank you for your assistance.

I went with case 1 above as case 2 is still giving the same error as above where the bind-address is already in use.

I am still unable to embed the player due to a mixed content error. Kindly assist on this.

[2022-06-27 08:32] svenerbeck commented on #374
Hey @iskconnairobi
Thank you for waiting. Hope you had a nice weekend.

**Case 2:** Your Proxy uses the ports. That's why you need to stop the Proxy first. Afterward, the ports are free for the Restreamer.

Please describe

What are you trying? What does the embed code look like, and on which web page should it be inserted?

Cheerio
Sven

[2022-06-27 14:14] fuad00 commented on #346
i'm also proxifying docker traffic for my containers and i get 502 bad gateway error
![CleanShot 2022-06-27 at 17 14 30@2x](https://user-images.githubusercontent.com/26776550/175962468-64f3b9f8-1c23-4966-adea-ecda7bd9d2eb.png)

[2022-06-27 16:09] ioppermann commented on #350
@poopyface0931 I tried the setup you described and was able to capture the stream from the Raspicam. This only worked by enabling the legacy mode for the camera. The latest Raspbian comes with new tools for the camera based on `libcamera` which is not necessarly compatible with video4linux and is currently not supported by ffmpeg.

This is how to enable the legacy mode:

1. Open `/boot/config.txt`

[2022-06-27 16:17] adrianobarrosmba3 opened #375 "Add audio track"
I didn't find it in the official documentation, how do you add an mp3 audio to a video stream?

Restreamer v2

[2022-06-28 08:29] iskconnairobi commented on #374
Hi Sven,

Thank you for your reply.

For Case 2, I can't stop the proxy because that's my web server as well.

For the embedding:

I'm trying to insert the live feed on a WordPress page. Using the video block I have inserted the following URL - http://iskconnairobi.com:8080/d2922ef5-6dcc-4a4c-a1c2-a7eebb75c690.html

I've tried replacing HTTP with HTTPS but still doesn't work. However, clicking dir

[2022-06-28 11:31] svenerbeck commented on #374
Hi @iskconnairobi

We're on track after all! Use URL wit http**S** and **withou**t port. ;)

Please use the URL:
https://iskconnairobi.com/d2922ef5-6dcc-4a4c-a1c2-a7eebb75c690.html

Cheerio
Sven

[2022-06-28 19:59] svenerbeck commented on #375
Hello @adrianobarrosmba3
Currently, you can only mux audio streams. Single mp3 files are not possible. One solution is to install an Icecast and mux your MP3 into it. Admittedly this is relatively much effort.

Greetings
Sven

[2022-06-29 13:52] #375 closed, assigned to svenerbeck

[2022-06-29 15:40] giuseppegambino92 opened #376 "Restrict access to m3u8"
Hi everyone, I wanted to know if there was a way to protect the m3u8 stream from "outside" access without authorization.
Because it happened to me that from Chrome debugging the video stream was taken and republished on other platforms using my same hls stream.
I would like it to be visible only from the Restreamer Player, embedded in my website.

[2022-06-29 15:56] svenerbeck commented on #376
Hi @giuseppegambino92

good to hear from you.

There are few opportunities there at the moment. Instead, you should **use the Creative Commons license** and choose a minimal license. Your stream is then subject to a license, and unauthorized reuse violates that license.

What you are asking for is a stream protection mechanism with tokens. We have that on the roadmap. But it may take some time.

G

[2022-06-29 16:05] svenerbeck commented on #374
Hi @iskconnairobi

Did it work?

Ticke will close soon

Greets
Sven

[2022-06-29 17:19] ripu opened #377 "Service to facebook crashes"
Hello,
when I want to start a facebook live, I have to compulsorily restart the service on the platform.
In a nutshell after fixing the facebook side key, I should simply wait for the signal to come in.
Instead I have to almost every time deactivate the facebook channel and reactivate it in order to see the stream on FB.
I hope this can be helpful

[2022-06-29 20:00] svenerbeck commented on #377
Hello ripu
Great to hear from you.

Please use an audio stream with noise for your video stream to Facebook. Without audio, Facebook probably makes problems. We could reproduce the error without audio as described by you.

You can adjust the audio channel in the video channel settings.

Look at Virtual Audio Source: https://docs.datarhei.com/restreamer/knowledge-base/manual/edit-livestream/sources

[2022-06-30 07:17] iskconnairobi commented on #374
Hi Sven,

Thank you so much for your help thus far.

Clicking on the link directly works. However, embedding it gives:

![image](https://user-images.githubusercontent.com/108075003/176615315-c130c247-8041-4a09-aa70-82d590f09439.png)

[2022-06-30 08:01] svenerbeck commented on #374
Hello iskconnairobi

At this point, we can not continue with the support. We have now done everything for you. However, it has become clear that you lack much basic knowledge.

We stop with the free support we carry out here with our team. There will always be more questions because of your incomplete knowledge of HTML. It makes no sense anymore because we have answered all questions.

You have en

[2022-06-30 16:51] beanman12 opened #378 "No video"
I think I have it set up right.

Running the test pattern to see if the end-user can see something, and as of right now, they can't.   I copied the player address and put it in a Wrapper on my Joomla site.
![player3](https://user-images.githubusercontent.com/74425705/176733767-2aea1ab7-e797-4cfa-8806-241a96403f54.PNG)

Here's the player from Restreamer.
![player1](https://user-images.githubusercon

[2022-06-30 17:10] poopyface0931 commented on #350
Working now, thank you!

[2022-06-30 17:10] #350 closed, assigned to ioppermann, svenerbeck

[2022-06-30 17:55] beanman12 commented on #378
Here are the restreamer Settings in Plesk.
![restreamer](https://user-images.githubusercontent.com/74425705/176745088-d6fb1819-fc33-429a-932b-17a04d760727.PNG)

[2022-06-30 21:22] giuseppegambino92 opened #379 "Customize <randomid>.html page with Css and HTML"
Hi everyone, I wanted information. I would like to customize the <randomid>.html page which is integrated into the iframe containing the Player.
Change the color of the writing, etc.
How can this be done?

[2022-06-30 21:33] giuseppegambino92 commented on #379
Solved!

[2022-06-30 21:33] #379 closed, assigned to nobody

[2022-07-01 00:53] badincite commented on #243
I had it working with .0.6.8 circling back on that now. I ended up just running a player in in nginx site separate. Let me see if I can get it working with this sweet new 2.1 version.

Looks like the new ones using the videojs player. Thinking it should be pretty easy its just using the plug to get chromecast
https://github.com/silvermine/videojs-chromecast

[2022-07-01 02:44] badincite commented on #243
Almost there just needs the plugin script added to the player,html

[code]

Having and coding issue here with the license: playerConfig.license doesn't like the chromecast: {} in front.

[code]

Link works just no image yet that will need to be added to the css.

![image](https://user-images.githubusercontent.com/7386290/176813051-641a16e5-ca43-4ef5-afeb-a35e5fe6f8ed.png)

[2022-07-01 05:07] modemmike commented on #355
I know webRTC is meant to be peer-to-peer but might be worth also investigating, the latency with that is ridiculous at like sub 500ms.

[2022-07-01 10:21] #374 closed, assigned to svenerbeck

[2022-07-01 10:22] #377 closed, assigned to svenerbeck

[2022-07-01 10:34] jstabenow commented on #378
Hey @beanman12
You are using HTTP content on an HTTPS website, which does not work. The error is "Mixed Content."

To make it work, enable HTTPS via Let's Encrypt. Here is a tutorial:
https://docs.datarhei.com/restreamer/knowledge-base/user-guides/how-can-i-use-https-with-lets-encrypt

Afterward, you can embed the player via the HTTPS URL.

[2022-07-01 12:28] beanman12 commented on #378
Thanks.

Enabled that, but it doesn’t seem that 443 is forwarded to 8181.  Is that a
command I can set in Restreamer to forward that port traffic?

On Fri, Jul 1, 2022 at 5:34 AM Jan Stabenow ***@***.***>
wrote:

--
Robert Bean
E-mail: ***@***.***
Phone: 931-538-5216

[2022-07-01 12:44] beanman12 commented on #378
ok, looked through the restreamer documentation and found the list of EVs.  I think I added the ones I need, but the player still isn't showing up on my site.  (I replaced the player URL after making the changes to Restreamer.)

![restreamer2](https://user-images.githubusercontent.com/74425705/176897096-337562b9-6dd9-4b61-91b2-53e26611f07a.PNG)

[2022-07-01 13:20] jstabenow commented on #378
Ah sorry, you need a proxy. Have no experience with Plesk. Try this:

1. Remove the TLS enviroments
2. Add Volume mapping
    /core/config : /mnt/core/config
    /core/data : /mnt/core/data
3. Create a "Docker proxy rules" (Domains > Site > Docker proxy rules)
![Bildschirmfoto 2022-07-01 um 15 13 49](https://user-images.githubusercontent.com/7462030/176902134-00e888bf-e819-4739-9c8a-9cd3024a6d0f.p

[2022-07-01 14:55] Dielee commented on #366
For me this description worked well, thanks!

[2022-07-02 15:07] Ryce commented on #353
@svenerbeck Is this not a bit strange? A free tool that is *not* open source, where the people behind the tool are not doxxed? Or even undoxxed contactable via Twitter?

I would not be surprised if its a North Korean Trojan Horse or something.

[2022-07-02 18:49] svenerbeck commented on #353
Hello Ryce
Honestly - I have no idea. Had quick research. The developer is from Iceland, and the TLD registered in Iceland is in Reykjavík. Thanks for your hint. Always good to see things critically.

Greetings from Switzerland
Sven

[EDIT] https://restream.io/integrations/instagram/
https://medium.com/yellowducktv/setup-obs-with-yellow-duck-8b56497f4b48

It's weird even when others recommend that

[2022-07-03 01:25] beanman12 commented on #378
I hope I followed your directions correctly.  When I go to the URL from the Docker Rule, I get a 404 error.
![restreamer1](https://user-images.githubusercontent.com/74425705/177020834-1f18d665-6f7f-4914-bedd-0e4c3c3467b1.png)
![restreamer2](https://user-images.githubusercontent.com/74425705/177020837-3b56d76d-b7b2-444c-a785-1f7b4e498010.png)
![restreamer3](https://user-images.githubusercontent.com

[2022-07-03 13:18] badincite commented on #243
Update: I have it working just need to refine it. Been testing the changes in the docker by editing the volume. I'll have to figure out how to compile it or submit a pull request and have them pull the changes into the main repository.

![image](https://user-images.githubusercontent.com/7386290/177051601-e8da9a1c-30ef-40a9-b836-3f11ba5e955f.png)

[2022-07-03 19:22] svenerbeck commented on #243
Mega. Well done!
🚀

[2022-07-03 21:07] Pimmetje commented on #250
I would love to have a option to copy h265. VLC is able to play it. So i can play H265 camera's on multiple location without transcoding. As that takes a lot of resources.

[2022-07-04 01:29] gerroon opened #380 "No way to edit or delete a channel"
Hi,

I added a camera to my system. I want to edit its details but there is no way to edit it the channels thumbnail in the admin section is not clickable , I cant even see a  way to get the video details at all.

Thanks

[2022-07-04 07:59] Kdcius commented on #372
Any idea of what could have gone wrong ?

[2022-07-04 08:00] svenerbeck commented on #380
Hi gerroon

Check the [docs](https://docs.datarhei.com/restreamer/knowledge-base/manual/edit-livestream).

## Edit Meta Information
![enter-stream-config-2](https://user-images.githubusercontent.com/12124066/177109322-6667809f-0fd6-451b-9632-acadae172a90.png)

Navigate to: Meta information and edit. Do not forget to save!

![stream-conf-metadata-2](https://user-images.githubusercontent.com/1212406

[2022-07-04 15:49] Pimmetje opened #381 "DVR to disk"
Is there currently a option to have the DVR persist data. Currently it seem to me that the data is stored in memory. For replaying the last few minutes this is very nice and fast. But i would love to have a option to write the files also to disk to allow for a longer DVR time without having to add/use more RAM.

[2022-07-05 05:43] #380 closed, assigned to svenerbeck

[2022-07-05 08:36] Ryce commented on #353
Yeah I saw the TLD info as well. Iceland could be just a dummy address though, there are services that mask your info. I am a bit worried about using them and wanted to see if I can find more info.

I also sent an email to them, but no reply yet

[2022-07-05 09:05] svenerbeck commented on #353
Hey ho Ryce
The best thing would be to integrate the function into the Restreamer - then you know what you have! But, to be honest, this function was not requested that often. The prio on Instagram is therefore low.

Cheerio
Sven

[ Note to myself [https://stackoverflow.com/questions/66698335/ffmpeg-stream-to-instagram-via-instafeed-me-or-yellowduck](https://stackoverflow.com/questions/66698335/ff

[2022-07-05 12:58] Ryce commented on #353
Wow, thanks for that link @svenerbeck . It's just a RTMP url. Here I thought they would do something a lot more difficult!

[2022-07-05 13:54] svenerbeck commented on #353
This FFMPEG function is already implemented in the current Restreamer via a publication service for Instagram. We only need the streaming ID from Insta via an external service. This streaming key is still missing to complete the publication service. It seems to be a secret how to get this ID. We will implement it immediately if you tell us how to get it.

[2022-07-05 14:48] sfahadshahzad commented on #332
Hi,

Just checked on website https://datarhei.com/ in feature list the blackmagic video source is there.

can I use the decklink video source ?

Fahad

[2022-07-06 22:57] giuseppegambino92 opened #382 "Extend history time of the VideoPlayer for Streaming"
Hi everyone, how can I extend the Player history of a Streaming Video. From what I can see I can only go back 1 minute and 50 seconds (approx.). I would like to extend it to a few hours, what can I do?

[2022-07-07 07:04] gerroon commented on #380
Hi

Thanks for the help. I was able to get it after restarting the server and my browser.

[2022-07-08 20:03] svenerbeck commented on #382
Hi @giuseppegambino92

Here you can see how to activate DVR. If you have enough RAM and turn up the time you will have more rewind in the video. Take a look at this : https://www.youtube.com/watch?v=7MLVp0alTtA&t

Cheerio
Sven

[2022-07-10 23:30] Gsonovb commented on #325
I need this too
My recent DIY surveillance output is mjpg, but there is no time information in the video stream,
When an input interrupt occurs, the video will repeatedly play the last cached content

[2022-07-11 11:11] connaissances commented on #376
Hi @svenerbeck
Greetings For the day.....!!!!!
Is there any update on m3u8 stream token authorization

[2022-07-11 17:12] jstabenow commented on #376
Hey @connaissances
We are in the planning stage. It might come with the next release. But no guarantee. It's done when it's done ;-)

[2022-07-11 17:17] jstabenow commented on #382
Hey @giuseppegambino92
All questions resolved?

[2022-07-11 17:20] jstabenow commented on #381
Hey @Pimmetje
Good idea! Added to the roadmap 👍

[2022-07-11 17:22] jstabenow commented on #372
@Kdcius please describe exactly what you have configured.
Including routing (Internet > Router > PC > Docker Port:Port).
Thanks.

[2022-07-11 17:25] jstabenow commented on #378
@beanman12 Sorry, I don't have Plesk, so I can't test it and help you.

[2022-07-12 14:52] rubengargar opened #383 "Basic auth for web server?"
Hi,

I'm just updated our service to v2, and I see splendid features that I can use. One of them, is the integrated web server, but I would like to know if I can set some kind of Basic Auth for this custom web.

I have overwritten the generated index.html for my custom HTML, because I want some personalization further from default and also because I only need a big player view. Currently, I'm usin

[2022-07-12 23:21] bitfreak030 opened #384 "Playlist"
Is there a method or possibility to make playlists with video's?
Would be nice to play video's from those google searches like "intitle index.of mp4 anime"
with a option to play video's in order or random. Tnxs for making this program.

[2022-07-14 08:51] crbon opened #385 "Video from ATEM Mini Pro keeps crashing (No video)"
Hi

Thanks for the great product that restreamer is, especially with the revamp with v2.

I have a video feed issue with sending an RTMP stream to restreamer (using restreamer rtmp server).
Restremer detects that the video feed is coming from Blackmagic Design AVC Encoder (ATEM Mini Pro), however the video feed only lasts about 10-15 seconds before the picture goes black and the 'No video' text is

[2022-07-14 23:13] crbon commented on #385
I've been able to get it work with a secondary docker container running [nginx-rtmp](https://github.com/tiangolo/nginx-rtmp-docker), which ingests the rtmp stream from the ATEM Mini encoder, then I have restreamer pull the stream from the nginx-rtmp (network source).

Seems to work without issues so far, but it would be nice to not have to use another docker container.

Based on this there seems t

[2022-07-15 18:53] grumpyprogrammingracoon opened #386 "Raspicam on Debian Buster"
Hello,

installed Restreamer via Docker on Debian Buster. RaspiCam in found on /dev/video0 and is shown as an available device "mmal service 16.1(/dev/video0)" in restreamer UI. After selecting the Raspicam as Source and clicking "weiter" i get "Die Quelle konnte nicht verifiziert werden. Bitte Adresse prüfen."

[2022-07-16 10:47] RubenWaterman opened #387 "HDMI Support"
On the YouTube description of the restreamer video, I saw:

but I can't find anywhere in the interface how to do this (and couldn't find anything in the documentation), other than:

which I've enabled already. Has anyone else managed to set this up yet?

[2022-07-18 13:28] svenerbeck commented on #384
Hello
A beautiful idea. That is not possible right now.
Cheerio
Sven

[2022-07-19 12:56] ioppermann commented on #387
The HDMI output is done by writing into the framebuffer device. In the publication services you should see "Framebuffer" in the "Protocols" tab. There you can select the framebuffer representing the HDMI.

Beforehand you might need to configure the framebuffer device with the resolution of the stream, e.g. `fbset -fb /dev/fb0 -g 1280 720 1280 720 24`.

This has been tested with a Raspberry Pi 3 co

[2022-07-19 15:13] ioppermann commented on #387
On the Raspberry Pi 4 it's a bit different. There you have to edit the `/boot/config.txt` in order to set the correct resolution:

1. Open `/boot/config.txt` in an editor, e.g. `sudo nano /boot/config.txt`
2. Set `hdmi_force_hotplug=1`
3. Set `hdmi_group=1`
4. Set `hdmi_mode=4` (for 1280x720) or `hdmi_mode=16` (for 1920x1080)
5. Set `hdmi_pixel_encoding=2`
6. At the bottom in the `[pi4]` section,

[2022-07-19 16:47] utilsites commented on #357
Code with [JWT ](https://jwt.io/)support for **limiting stream time play** and show or not ads, for Restreamer 0.x, need to be adapted for v2, it would be very good if you reviewed this code and implemented/adapted this solution on/to v2. This solution works very well now, its stable.

The main website passes a jwt token in the query string for restreamer player.html page, that is validated (has t

[2022-07-20 09:20] eustachy84 commented on #385
Nice to here (or not) that not only I have the same issue. For me video is droped after change camera, or couple seconds.
PS. Thanks for suggetion of secondary container - I will try that.

[2022-07-20 10:26] jstabenow commented on #385
Hey @crbon @eustachy84
Thanks for the hint. An update of the RTMP server is already on the roadmap.

[2022-07-21 08:19] Alekspom opened #388 "Telegramm stream support"
Good time of day. Tell me, are there any plans to add to the publication services the possibility of organizing broadcasts in the Telegram social network? – in connection with the launch of this functionality, the ability to broadcast in this messenger is gaining particular popularity.

[2022-07-21 17:59] svenerbeck commented on #388
Hi Alekspom
In the next release, a publication service for Telegram is ready.
Cheerio
Sven

[2022-07-21 18:17] Alekspom commented on #388
О! Thank you, great news!

[2022-07-21 18:51] svenerbeck commented on #388
<img width="1440" alt="Bildschirmfoto 2022-07-21 um 20 50 39" src="https://user-images.githubusercontent.com/12124066/180293481-b4891821-6f83-4a2b-b9fb-503e82915851.png">

👍

[2022-07-22 11:12] jstabenow commented on #329
Hey @FilipStadler
The v2.2.0 now supports SRT listening (server). Here is a tutorial for OBS via SRT > Restreamer:
https://docs.datarhei.com/restreamer/knowledge-base/user-guides/how-to-stream-srt-from-obs

We are looking forward to your feedback.

[2022-07-22 11:13] jstabenow commented on #287
Hello @shihan84
The v2.2.0 now supports SRT listening (server). Here is a tutorial for OBS via SRT > Restreamer:
https://docs.datarhei.com/restreamer/knowledge-base/user-guides/how-to-stream-srt-from-obs

We are looking forward to your feedback.

[2022-07-22 11:33] jstabenow commented on #109
Hey @ahmad-alansari
This ticket is closed due to inactivity. If you still have questions, please open a new issue or reopen this case.
Thanks.

[2022-07-22 11:33] #109 closed

[2022-07-22 11:42] jstabenow commented on #128
@divx118  @LckyLuciano
Has this already been tested with the latest version?
Would be very interesting!

[2022-07-22 11:44] jstabenow commented on #128
By the way:
VAAPI is built into the `datarhei/restreamer:vaapi-latest` image. Maybe it also works without mounts.

[2022-07-22 11:47] jstabenow commented on #129
Hello @ws
The v2.2.0 now supports video rotation. Here is a tutorial:
https://docs.datarhei.com/restreamer/knowledge-base/user-guides/how-to-rotate-a-video

Cheers

[2022-07-22 11:48] jstabenow commented on #279
Hello @bubbapizza
The v2.2.0 now supports video rotation & v/hflip. Here is a tutorial:
https://docs.datarhei.com/restreamer/knowledge-base/user-guides/how-to-rotate-a-video

Cheers

[2022-07-22 11:54] jstabenow commented on #313
Hello @pick-and-mix
The v2.2.0 now supports the volume filter. Here is a overview:
https://docs.datarhei.com/restreamer/knowledge-base/user-guides/how-to-use-the-audio-filters

Here it is:
Video Edit > Audio Settings > Audio Encoding (AAC/MP3) > Filter

Cheers

[2022-07-22 11:56] jstabenow commented on #137
Hey @redrob
Please test the latest `datarhei/restreamer:vaapi-latest` Docker image. Should work.

[2022-07-22 11:58] jstabenow commented on #146
Hey @badincite
The `master.m3u8` is now available. However, without multibitrate support. This is a big race, but is on our roadmap.

[2022-07-22 11:59] jstabenow commented on #178
Hey @BShurilla
This ticket is closed due to inactivity. If you still have questions, please open a new issue or reopen this case.
Thanks.

[2022-07-22 11:59] #178 closed

[2022-07-22 12:03] jstabenow commented on #259
Hey @Pepozzo @MrCoala
Have you already tested the latest version? The YouTube Live preset can send to the primary and secondary stream simultaneously.

[2022-07-22 12:08] jstabenow commented on #243
Hey @badincite
Thanks again :grinning: Great work!

@DrEzequiel is built in and released in v2.2.0.

[2022-07-22 12:09] jstabenow commented on #352
@PerpEternal
Please test the current version 2.2.0. It should work now. Thanks.

[2022-07-22 12:09] jstabenow commented on #356
Hey @etofi
Please test the current version 2.2.0. It should work now. Thanks.

[2022-07-22 12:13] jstabenow commented on #369
@Restreamdev
In v2.2.0, we have added an Owncast Publication Service. Please test this.
Cheers

[2022-07-22 12:18] jstabenow commented on #381
Hey @Pimmetje
It was a good idea! It is included in v2.2.0 and can be activated here:
https://docs.datarhei.com/restreamer/knowledge-base/manual/edit-livestream/processing-and-control#2-storage

Just change the storage from `In-memory` to `Disk` and save.
Cheers.

[2022-07-22 12:20] jstabenow commented on #388
Hey @Alekspom
It's done. You can find the Telegram service in the current v2.2.0 release.
Cheers.

[2022-07-22 12:38] badincite commented on #243
Happy I could contribute! Also might want to add something to the documentation stating Chromecast support requires https.

[2022-07-22 16:14] #388 closed, assigned to svenerbeck

[2022-07-22 17:09] Restreamdev commented on #369
Thanks You Very Much Sir

[2022-07-22 22:24] spannerthumbs opened #389 "Cant get Youtube live working"
Previously used v0.6 but Youtube stream had interruptions so gave up for a while. Now excited to see V2.0 well done datarhei looks very slick. So I am trying again to stream my ocean view. Using Hikvision IP camera and running Docker on Rasp Pi4. In Restreamer Player the stream looks good.

The Youtube Live integration looks to be so much easier - just paste a key. Fantastic.

But I think iI must

[2022-07-23 10:13] krischan941 opened #390 "Streaming with a Hikvision Camera to Youtube through Restreamer on a Raspberry Pi"
Hello,
my goal is to receive a rtsp stream (from a Hikvision IP camera) and encode and stream it to youtube. Next monday I can access the camera. Until then I want to setup a Raspberry Pi with restreamer.

So far I installed Raspberry Pi OS 32 bit latest version on a Raspberry Pi 4b 4gb ram. I setup restreamer with docker as described in the manual. Now I set up a virtual source ("Testbild erweite

[2022-07-23 10:52] tofuSCHNITZEL commented on #385
I can confirm this as well, at least something similar - I have an atem web presenter HD and I can't send video to the restreamer rtmp server. I have added my restreamer url to an custom xml config file and imported it - but when I click on "ON AIR" it just starts blinking (= no connection possible) and I also don't see any incomming connection in the restreamer logs.
if I stop the restreamer dock

[2022-07-23 10:58] tofuSCHNITZEL commented on #385
would you share your nginx-rtmp containers nginx config? or maybe there is a way to combine nginx-rtmp proxy and restreamer in a docker-compose file?

edit:
I tried to push the stream from my nginx-rtmp to restreamer but I only get ` *18 too big RTMP chunk size:134217728, client: restreamer/ingest/d17a56ea-6acc-4451-8c5c-0d08c498280d.stream, server: ngx-relay` errors...
but pulling from the nginx-

[2022-07-23 11:08] svenerbeck commented on #390
Hi krischan941
Always good to have a goal. Hikvision works with RTSP H.264. The Streaming URL for Channel 1: rtsp://name:pass@IP:port/Streaming/Channels/101

OpenMax is the GPU from Raspberry Pi. A good choice and reduces the load on the CPU. Virtual Sources with test patterns are rendered and are surprisingly computationally intensive. Try switching to 720p or using a different test pattern.

Wit

[2022-07-23 15:43] krischan941 commented on #390
Hi Sven,
thanks for your fast response. That absolutely makes sense now, I didn't know that virtual sources are rendered.

In cooperation with a partner, we installed a camera on a bell tower of our little local church to monitor 24/7 a stork's nest about 165m away. An camera installation directly at the nest was not possible for reasons of nature conservation because the storks already arrived fr

[2022-07-23 16:13] FilipStadler commented on #329
Great - the SRT listener mode is working fine and its usefull.
Both caller and listener mode this really great.

[2022-07-23 16:13] #329 closed, assigned to jstabenow

[2022-07-23 21:33] bitfreak030 commented on #384
tnxs for adding this  (allow relative URLs in content in static routes) in v2.2.0
Its allowed to stream anime on Twitch.
With a nice playlist, whe can stream 24/7 then.
Will add a logo of datarhei/restreamer  and support you. ;)  Ty.

[2022-07-23 22:20] Urbanshenkie commented on #384
Found one problem. When playing a relative url (Works great)
going in a menu will give this error when you switch back to ui
"The media could not be loaded, either because the server or network failed or because the format is not supported"
video is still streaming then. Only not showing anymore in UI.  ;)

[2022-07-23 22:24] bitfreak030 commented on #384
Oh ja. Can't add a logo when streaming it without publish it to website.

[2022-07-25 08:37] jstabenow commented on #389
Hey @spannerthumbs
It seems to be a network problem. The Restreamer cannot resolve the host "a.rtmp.youtube.com."

Which command did you use to start the Docker container?

[2022-07-25 08:42] jstabenow commented on #386
Hey @grumpyprogrammingracoon
Which Buster version do you use? 32 or 64-bit? And has `gpu_mem` been increased to 256MB?
https://www.raspberrypi.com/documentation/computers/config_txt.html#gpu_mem

[2022-07-25 09:52] spannerthumbs commented on #389
Thanks for your help interrogating the logs.

Sorry I’m not that familiar with Docker and followed an online “how to” to set up Raspian and Docker as a clean install on the rasp pi. Unfortunately I’m not local to it for the next few weeks and although I set up port forwarding so I could see the Restreamer GUI I don’t think I have any other remote access to the pi or docker.

Regards
Rob

Rob Furne

[2022-07-25 10:41] jstabenow commented on #389
Ah, crap. Try the following next time:

[code]

`--security-opt seccomp=unconfined` might solve the network problem.

[2022-07-25 12:34] etofi commented on #356
Now it works. Thanks.

[2022-07-25 12:34] #356 closed, assigned to jstabenow

[2022-07-25 13:09] svenerbeck commented on #390
Hello Krischan

Streaming to YouTube is relatively easy with the Restreamer and works reliably. We recommend you leave the streaming parameters on YouTube at the default settings to get stable live streaming.

Thank you for the detailed information about the project. The stream is not broadcasting right now.
📢 Shoutout goes out when the Restreamer is running with the new Hikvision camera. Could yo

[2022-07-25 14:23] krischan941 commented on #390
Hello Sven,
Stream should be back online, but with plain ffmpeg in combination with Cron again for now.

Now I try to setup with Restreamer but am not succesful at the moment. First I setup another SD-card with 64bit Raspberry Pi OS and Restreamer. I try to receive the camera signal and get following errors:

64 bit OS+Restreamer using V4L2 Codec:
video append of 1003836b failed for segment #1 in

[2022-07-25 14:51] krischan941 commented on #390
Ok so in Restreamer if I scroll down so you don't see the (complete) preview it reduces the CPU load and generates relatively stable fps. (On 32 bit Restreamer and OS now).
I want to setup a Teststream to Youtube now but Youtube doesn't get a signal. Here is the console output:

`@1658760615 ffmpeg version 4.4.2-datarhei Copyright (c) 2000-2021 the FFmpeg developers
@1658760615   built with gcc 10

[2022-07-25 16:45] svenerbeck commented on #390
Hello krischan941
Thanks for the details.

It says: "Failed to resolve hostname [a.rtmp.youtube.com](http://a.rtmp.youtube.com/):"
This indicates network errors.

Maybe Docker has increased security. Please try:

[code]

`--security-opt seccomp=unconfined` might solve the network problem

## No encoding
Please do not encode. That is senseless because H.264 is already at the start! "Copy" is theref

[2022-07-25 16:49] svenerbeck commented on #390
**As a small behavioral cue, it is unusual to change the title of a ticket afterward. It would have been a good idea to open a new ticket.**

[2022-07-25 17:56] krischan941 commented on #390
Hello Sven, thanks for your answer. I'll try tomorrow again and keep you up to date about the progress.
Sorry for inconveniences by renaming the ticket header, next time I'll create a new ticket!
Thanks Christian

[2022-07-26 05:35] #369 closed, assigned to ioppermann

[2022-07-26 13:42] krischan941 commented on #390
Hello Sven,
now I'm running the stream. But a hidden test stream at first for some days, to see how stable it is and after that to replace the current main stream!
Here is the Link: https://www.youtube.com/watch?v=8gp7SenvCDI

I don't use Unicast anymore,  `--security-opt seccomp=unconfined` solved the nework issue and I don't encode anymore as you suggested.

So the first 15 minutes of streaming

[2022-07-26 14:13] svenerbeck commented on #390
Hello krischan

Nice that it runs. Then we can do the shoutout tomorrow.

The picture quality has nothing to do with the Restreamer if you don't encode. You have to adjust the settings in the camera. In the picture, you can see that the sharpness setting is way too sharp.

I would recommend:

## Video and Audio
### Main Stream (Normal)
/Streaming/Channels/101
- 1920 x 1080P
- Frame rate: Constant

[2022-07-26 14:14] adampl0 opened #392 "Select channel to Playersite"
Hi
Is it possible to select individual channels to be displayed on the Playersite ? By default, all channels are displayed, and I would like to select only individual channels

[2022-07-26 14:22] svenerbeck commented on #392
Hi @adampl0
This is not possible at the moment.

I will include your idea as a feature request. Look here: https://github.com/datarhei/restreamer/discussions/345

Cheerio
Sven

[2022-07-26 14:30] krischan941 commented on #390
Thank you very much for the great input. I will see if I can tweak something on the camera.
With quality I mean fps in this case. If you look at the trees in the backround, it seems that it doesn't reach 25fps most of the time.
The current main Strem (ffmpeg + Cron) is back online too (on another Raspberry Pi): https://www.youtube.com/watch?v=wtjdq4JO7GA
So now you can compare both.
But in general

[2022-07-26 14:35] svenerbeck commented on #390
What model of Hikvision are you using if I may ask.

[2022-07-26 15:58] krischan941 commented on #390
Shure. In the Web-Interface I found this: Hikvision DS-2DE7A432IW-AEB

[2022-07-26 16:15] krischan941 commented on #390
The stream got interrupted as I showed up my minimized Chromium with the Youtube-Studio-Tab.
But to this point it was really stable and used only a little CPU!
For now here is the new teststream https://www.youtube.com/watch?v=-FmTXVCBOi8

[Edit] We did a firmware Update of the Hikvision so the last stream got interrupted again. Here is the new teststream: https://www.youtube.com/watch?v=k9XuDnC_5

[2022-07-27 08:10] svenerbeck commented on #390
Hi @krischan941
The camera is not the cheapest from Hikvision — that is good.
With the settings I mentioned above, there should be a nice picture.

## 📢 Shoutout!
As promised the Shoutout for your project.

[Google](https://www.google.ch/search?q=datarhei&ludocid=9068472601570048555&lpsid=6318765098874705344&source=sh/x/localposts&lsig=AB86z5WYR_I82xEFdMAhs-MMegNC), [Twitter](https://twitter.com/d

[2022-07-27 08:59] krischan941 commented on #390
Hello Sven,
thanks for the kudos!
Today I'm not at work, tomorrow I'll launch the Restreamer stream on our main channel :)

[electronic high5]
Christian

[2022-07-27 08:59] #390 closed, assigned to svenerbeck

[2022-07-27 09:03] svenerbeck commented on #390
Hi @krischan941
Please join our [Discord](https://discord.gg/SHV8RdUM) for further help.

#restreamer-de is in German.

There we can help you more efficiently with the fine adjustments - if necessary.

Bis bald
Sven

[2022-07-27 09:40] RubenWaterman commented on #387
Thanks for the instructions. I have tried to follow your instructions for the Raspberry Pi 4 (both using the `Raspberry Pi OS with desktop` image and the `Raspberry Pi OS Lite` images), but unfortunately, nothing happens on the HDMI-connected screen when I add the Framebuffer, and I start a stream to Restreamer (from OBS). I am running the docker container with `--privileged` and I can see the out

[2022-07-27 09:45] poopyface0931 opened #393 "Raspivid commands not working"
When I attempt to run raspivid commands (-ev, -rot etc) I receive the following mmal errors:

mmal: mmal_vc_component_enable: failed to enable component: ENOSPC
mmal: camera component couldn't be enabled
mmal: main: Failed to create camera component
mmal: Failed to run camera app. Please check for firmware updates

From what I've been able to gather, this is related to the Bullseye legacy workarou

[2022-07-27 17:21] Pimmetje commented on #381
Hey @jstabenow
Thanks for this!
Question what is the storage strategy? cq When are files read from disk? It would be nice to minimize the IO so keep like x minutes in memory for example. And than write the files in batches and do a rollover in the memory.

[2022-07-28 06:48] #352 closed, assigned to jstabenow

[2022-07-28 06:49] #287 closed

[2022-07-28 17:48] ftrescue opened #394 "Wrong viewer count"
think there is a bug as just updated to the latest and on making a new stream all streams says 2 people watching
![image](https://user-images.githubusercontent.com/96438569/181603825-654965aa-0221-4be9-b32e-21a331d95844.png)

[2022-07-28 18:35] ioppermann commented on #385
We found the bug in the RTMP server and fixed it. Now it's possible to push the stream from the ATEM Mini Pro (and possibly other devices) to the Restreamer RTMP server for ingesting. It will be available in the next update.

[2022-07-28 21:24] eustachy84 commented on #385
When is planed next update (indicative) - 3 days, 3 weeks, 3 months? :)

[2022-07-29 07:47] ioppermann commented on #387
In the config.txt at the bottom, you should have the value `vc4-fkms-v3d` for dtoverlay. Also select `RGB565 Little Endian` for the pixel format.

[2022-07-29 07:50] ioppermann commented on #394
Most of the time the browser is opening two connections to the stream at the beginning and then immediately drops one. This is counted as 2 viewers. After a few seconds (~30 seconds) the seconds viewer will disappear when the session expires.

[2022-07-29 07:58] ioppermann commented on #393
On the latest releases of Raspbian, raspivid is not anymore supported. They will go all-in with libcamera. Please read the official documentation for the camera on https://www.raspberrypi.com/documentation/accessories/camera.html or check our guide: https://docs.datarhei.com/restreamer/knowledge-base/user-guides/how-do-i-stream-a-raspicam#enabling-pi-camera

[2022-07-29 09:44] ftrescue commented on #394
I did think that but unfortunately mine has not dropped back to one they’re all set at two

Sent from my iPhone

[2022-07-29 11:46] yayitazale opened #395 "A way to stream multiple cameras to Telegram"
Hi:

I'm want to create a channel with a 24/7 stream with multiple cameras. Telegram only allows 1 stream so is there any way to change the config of restreamer via API to change the origin of the camera, or change witch camera is publishing to telegram?

If there is a way, I can use a telegram bot in the channel with inline buttons to allow the user to select the camera they want.

Thanks.

[2022-07-29 11:48] ioppermann commented on #394
I could reproduce this. Do you send the stream via RTMP to Restreamer? What is your setup?

[2022-07-29 11:52] ioppermann commented on #385
There might be a bugfix release, but we didn't set any date. Meanwhile you can try out the dev build by using the `datarhei/restreamer:dev` or `datarhei/restreamer:rpi-dev` images.

[2022-07-29 12:24] krischan941 opened #396 "Streaming to Youtube interrupts"
I streamed to Youtube twice and both times it interrupted without doing it myself. First one after nearly 22h, second after 12h.
The first time I did parallel stream on a other device with same source and destination which didn't fail at the point where Restreamer interrupted. So at least the first time it can't be a network issue.
Both times I got logged out from Restreamer. I hope the logs are u

[2022-07-29 13:06] svenerbeck commented on #396
Hi krischan

You have several Problems. This has nothing to do with the Restreamer, it's setting problems.
Please join our [Discord](https://discord.gg/SHV8RdUM) for further help.

#restreamer-de is in German.

There we can help you more efficiently with the fine adjustments - if necessary.

Thanks for your understanding.

Cheerio
Sven

[2022-07-29 13:41] krischan941 commented on #396
Okay I see, will join now

[2022-07-30 00:28] ftrescue commented on #394
rtsp local to streamer

[2022-08-01 08:00] svenerbeck commented on #396
As we found out together, the source of the problems is not the Restreamer, the Hikvision camera, or YouTube.

The connection via the point-to-point antennas from the tower to the Restreamer does not have enough power. However, you will get an excellent live stream as soon as the UBNT antennas are green.

At this point, the support went beyond the Restreamer with a Teamviewer session. If you want

[2022-08-01 08:00] #396 closed, assigned to svenerbeck

[2022-08-01 16:45] ftrescue commented on #394
I'm thing its running 2 times on server as how do i check this ? as youtube is there but no video

[2022-08-01 17:43] ftrescue commented on #394
just run the docker ps -a  and restreamer is only running once but there might be 2 folders in the back eg db and jenson

[2022-08-02 18:01] Zucka commented on #278
So just to understand.

Is there now the possibility to have multiple RTMP/RTMPS/SRT servers running in the same container?
Or is the recommended way still multiple containers?

[2022-08-03 10:14] jstabenow commented on #278
Per container:
- multiple channels (e. g., network device to build-in http/rtmp/srt server)
- multiple targets (e. g. YouTube-Live)

Demo:
- URL: https://demo.datarhei.com/ui
- User: admin
- Password: demo

[2022-08-03 19:02] jstabenow commented on #395
Hey @yayitazale. Look here:
- [CrashOv62](https://github.com/CrashOv62): To present 2 or more video sources in 1 video output (Mixer) https://github.com/datarhei/restreamer/discussions/345#discussioncomment-2939507

And it won't work without an API 👍 , but there is still a lot to do.
So it will take time.

[2022-08-03 19:05] jstabenow commented on #389
@spannerthumbs updates?

[2022-08-03 19:56] spannerthumbs commented on #389
Sorry not been back to property since. It may be another few weeks.

 Have I got it right that I kill the docker process then use the command you suggested and that will restart docker and restreamer in the correct way that will allow YouTube to be reached and ensure that any future power cycle of the Rasp pi will start it correctly automatically?

I am hopeful and will let you know

Regards
Rob

[2022-08-03 20:39] jstabenow commented on #389
I hope so ;-)

[2022-08-04 05:48] yayitazale commented on #395
Thanks a lot!

[2022-08-07 18:58] Pimmetje commented on #385
I can confirm that the dev images works for me on a atem mini pro!

[2022-08-10 13:52] RubenWaterman commented on #387
Thanks! I think I already had `vc4-fkms-v3d` in the `config.txt` so setting the pixel format to `RGB565 Little Endian` seemed to do the trick :)

Do you have any suggestions on how I would make this work on a generic ubuntu machine (i.e. an Intel NUC)?

[2022-08-11 08:34] Pimmetje commented on #381
I have tested the DVR feature. It seems to work. Please note that all files are currently placed in the same folder. Placing a lot of files in one folder is not recommended as listing it will take a lot of time.

If possible place the files in a date format folder structure like cameraID/YYYY/MM/DD/file_xyz.ts

If that is hard place make a subfolder for every camera.

[2022-08-13 06:29] Pimmetje commented on #381
I have tested it now with some longer recordings. Restarting restreamer gave some trouble. (camera streams did not want to start). After moving the files in batches to another folder and starting restreamer all came back to life.
It safe to say the DVR needs some more love.

It seems to me when i have DVR to disk enabled VLC wil start from the beginning of the stream. It would be nice if that is c

[2022-08-14 15:57] Pimmetje opened #397 "Memory management"
For my current setup there are probems with freeing memory.

I have a system with 10Gigabyte allocated to the docker image. I have 5 active streams on the system. All of them using DVR to disk.

The memory still keeps on growing. And the performance of streaming is poor as a result.
I would love to use it in a way that the last 15 minutes can be stored in memory while the rest is read from disk wh

[2022-08-15 08:40] ioppermann commented on #397
In the config.json you can set value of `debug.force_gc` to `15`. This will run the garbage collector every 15 seconds. Go is quite greedy when it comes to memory. With this setting the memory will be freed earlier.

[2022-08-15 09:23] ioppermann commented on #387
On the Pi, the HDMI output is accessed via the framebuffer (`/dev/fb0`). It should be similar on the NUC.

If you don't see this file, you might need to enable the framebuffer in ubuntu, however I don't know to do this.

[2022-08-15 13:13] JamesM92 opened #398 "RTMP Behind Nginx Reverse Proxy"
I've read through the other existing issues but can't seem to find a resolution.

not sure if this is an issue with restreamer, the proxy, or Im just making a mistake somewhere.

I have been able to get obs to connect to the restreamer easily from the local network by telling obs to connect to rtmp://192.168.0.xxx:1935/ingest

I was able to easily proxy the gui with no trouble at all via restream.

[2022-08-15 13:25] JamesM92 commented on #398
NVM, I figured out what the issue was.

I hadn't actually applied the single port forwarding on the router.

I didn't need to do anything special to the proxy setup.

I had restream.[mydomain] go to port 8080 for the gui, and the port 1935 open on my router. and it resolved the rest. No custom locations, or streaming ports, or anything special.

[2022-08-15 13:25] #398 closed, assigned to nobody

[2022-08-19 06:36] eustachy84 commented on #385
I can confirm to, that dev image works like charm with mini extreame. I was streaming about 3 hours without problem.

[2022-08-19 09:57] gatorojo opened #399 "Video download / Clipping"
Hi, this is to propose a new feature, adding the capability to download the current segments as an mp4 video, with a button next to the snapshot one.

Also, as a follow up to that, the option to trim the timeline and export a portion of that to an mp4.

There could be (train of thoughts) the posibility to upload that clip to youtube or other service directly.

Thanks for the awesome platform!!

[2022-08-19 16:12] Pimmetje commented on #399
I have been playing with the idea of the recording. See #381
For me it would be ideal if we could keep X time in memory and write it to disk in a kind of rolling system.

Let me give a example. I have a camera with a live feed. The system has enough memory for say 60 minutes. Ill allow 60 minutes of live playback directly from memory. As the access time to it is low this is fast and costs little r

[2022-08-20 09:26] jstabenow commented on #381
Sorry for the late response.

You can set the disc cache here: Settings > Storage > Disk cache

But beware: There is a problem, as we do not yet have a “blocklist” for mime-types in the latest release.
Accordingly, you must enter “.ts” so the HLS manifest (.m3u8) is not cached. It is fixed in the next release.

The folder structure is a great idea. Let's build in.

Can you tell how long the stream

[2022-08-20 11:04] Pimmetje commented on #381
it was on 0 unlimited. What does disk cache do? Will it keep some parts in memory? Because that is not clear to me from the settings menu

I added .ts to cache types now

about 36 hours on a full hd recording to a harddisk.

~~I also seems to be running from the beginning when the stream is live.~~

Now it seem to work them i tested it.

Thanks for your time. It's appreciated!

[2022-08-20 13:55] WhiteBite opened #400 "I can`t input stream key in custom RTMP"
I try to connect with Trovo. I have  Stream URL and Stream key. But in custom RTMP i can`t input key

[2022-08-21 10:40] Fred-DTV opened #401 "Maybe addition for the FAQ: Cloud Computing min. requirements"
Hi datarhei team,

First off thanks for the version 2 of your already amazing piece of software. This is truly a game changer for us as s small stream production company and it's so incredibly easy to use now as well. So thank you.

Our local Internet connection in our office where our server is located is beyond horrible, that's why I am looking into deploying our first cloud computer to run rest

[2022-08-21 10:46] Fred-DTV opened #402 "Feature Request: combined chat"
Hi again,

An amazing addition to restreamer would be to have a combined chat tool, when streaming to multiple different platforms.
This idea is obviously stolen from restreamer.io, which we used before, however the amazing @steveseguin has already done a great job building something the works alike: https://github.com/steveseguin/social_stream

Maybe it would be possible to integrate Steve's work

[2022-08-21 10:50] Fred-DTV opened #403 "Feature Request: analytics/statistics"
Hello hello,

Another feature I would love the see is an analytics site, in which one can see in-depth statistics of a sent stream.

Data that would be nice to know for all channels combined and per channel:
- Total viewers over time
- Average Viewers
- Bitrate over time
- Chat messages over time
- History of recent stream data

[2022-08-24 15:22] bubbapizza commented on #279
Nice!

[2022-08-25 05:18] Bedrock16 opened #404 "How to set video as an image or a video on loop"
Hi,
I want to stream a video on YouTube in loop it's a 2 min video and I am using Network Source in that I have put the url of the video. The problem is after the 2 minutes the stream give error of no video (because the video is only of 2 min) so I want to know how can I keep the video running on loop or just use an image as background.

[2022-08-25 05:36] ioppermann commented on #400
You can add the stream key directly to the streaming URL: rtmp://livepush.trovo.live/live/[your trovo stream key]

[2022-08-25 09:45] damanjit-singh opened #405 "Starting/Stopping Live Streams using YouTube/Facebook APIs"
It would be great if it is possible to start YouTube and Facebook livestreams from restreamer itself. Currently, one needs to send feed to restreamer and then from YouTube studio and Facebook Live press the "**Go Live**" button. But in SaaS products like Restream.io and Castr, the user can directly "Go Live" from Restream.io/Castr dashboards. It would be great if this can be implemented in Restrea

[2022-08-25 16:21] svenerbeck commented on #405
Hi @damanjit-singh
thank you for your message.

This is already a feature request. Please take a look at: [https://github.com/datarhei/restreamer/discussions/345#discussion-4108562](url)

Cheerio
Sven

[2022-08-25 16:21] #405 closed, assigned to nobody

[2022-08-25 16:23] svenerbeck commented on #403
Hi @DachsbauTV

Thank you for your message.

This is a logical standard feature and of course on the roadmap.

Cheerio
Sven

[2022-08-25 16:23] #403 closed, assigned to nobody

[2022-08-25 16:32] svenerbeck commented on #402
Hi DachsbauTV

This is a lot of work and will not be implemented quickly without sponsorship of the function or help from an external software developer. Maybe there will be one day. We've added it to the [feature list](https://github.com/datarhei/restreamer/discussions/345#discussion-4108562).

Cheerio
Sven

[2022-08-25 16:55] Fred-DTV commented on #403
Okay great :) thanks

[2022-08-26 08:50] WhiteBite commented on #400
ty

[2022-08-29 13:07] svenerbeck opened #406 "I have a problem!"
This is my ticket!
Please help me.

Cheerio
Sven
[report.txt](https://github.com/datarhei/restreamer/files/9444751/report.txt)

[2022-08-29 13:14] svenerbeck commented on #406
Problem solved!

[2022-08-29 13:14] #406 closed, assigned to nobody

[2022-08-31 04:37] dvision1979 opened #407 "srt ingest not possible?"
Following this video on your Youtube channel: https://www.youtube.com/watch?v=ATG2bOujuPU

Although the OBS is showing green connection and bitrate, probing the stream in restreamer is not successful.

![image](https://user-images.githubusercontent.com/4688610/187593762-c7f618c9-bbe2-43d7-b3e1-e75d3cf05d99.png)

Could you please advise?
Thank you.

[2022-08-31 13:52] jstabenow commented on #407
Hey @danionescu2007
Can you show your Docker command?

[2022-08-31 15:41] jstabenow commented on #404
Hey @Atharv-Pathak-14
VoD is not currently supported by the [Restreamer-UI](https://github.com/datarhei/restreamer-ui), which would be an essential requirement.

But if you are a developer and know your way around FFmpeg, you can check here:
[datarhei/core](https://github.com/datarhei/core)

The REST-API can provide all kinds of FFmpeg processes and configurations. So it would be possible.

[2022-08-31 15:59] danionescu2007 commented on #407
'''

      - RS_SNAPSHOT_INTERVAL=1m
      - CORE_RTMP_ENABLE=true
      #- CORE_RTMP_ENABLE_TLS=true
    restart: unless-stopped

  fblive:
    image: dweomer/stunnel
    container_name: fblive
    expose:
      - 1935
    networks:
      - frontend
    restart: unless-stopped
    environment:
      - STUNNEL_SERVICE=fb-live
      - STUNNEL_CLIENT=yes
      - STUNNEL_ACCEPT=1935
      - STUNNEL_C

[2022-08-31 16:00] danionescu2007 commented on #407
- RS_SNAPSHOT_INTERVAL=1m
      - CORE_RTMP_ENABLE=true
      #- CORE_RTMP_ENABLE_TLS=true
    restart: unless-stopped

  fblive:
    image: dweomer/stunnel
    container_name: fblive
    expose:
      - 1935
    networks:
      - frontend
    restart: unless-stopped
    environment:
      - STUNNEL_SERVICE=fb-live
      - STUNNEL_CLIENT=yes
      - STUNNEL_ACCEPT=1935
      - STUNNEL_CONNECT=live

[2022-08-31 16:02] danionescu2007 commented on #407
version: "3.3"
services:
  restreamer:
    image: datarhei/restreamer:vaapi-latest
    container_name: restreamer
    privileged: true
    ports:
      - 1935:1935
      - 8084:8080
    networks:
      - frontend
    volumes:
      - ./restreamer/db:/restreamer/db
      - ./restreamer/config:/core/config
      - ./restreamer/data:/core/data
    devices:
      - /dev/dri:/dev/dri
    environment:

[2022-08-31 16:03] dvision1979 commented on #407
'''

version: "3.3"
services:
  restreamer:
    image: datarhei/restreamer:vaapi-latest
    container_name: restreamer
    privileged: true
    ports:
      - 1935:1935
      - 8084:8080
    networks:
      - frontend
    volumes:
      - ./restreamer/db:/restreamer/db
      - ./restreamer/config:/core/config
      - ./restreamer/data:/core/data
    devices:
      - /dev/dri:/dev/dri
    environme

[2022-08-31 16:05] dvision1979 commented on #407
Sorry for the messy post. It is the best I can do from my mobile.

[2022-08-31 16:12] jstabenow commented on #401
Hey @DachsbauTV
Thanks for the kind words :partying_face:

Here you can see an old benchmark on a Pi4:
https://www.youtube.com/watch?v=z3Xd6AoZHpI

On the Pi4 we achieved up to 700 HLS viewers and 700-800 Mbit/s throughput depending on the bitrate (1/2/4 Mbit/s). At the same time, the system was still fully functional.

In another test, we ran >10,000 processes on an AMD EPYC 32 Core with 256 GB R

[2022-08-31 16:52] Bedrock16 commented on #404
Will definitely try the with the method you specified thanks 👍

[2022-08-31 16:52] #404 closed, assigned to jstabenow

[2022-08-31 17:00] FilipStadler commented on #401
I understand benchmark is done with only 720p hd - not 1080p 25 frames - 1920x1080p 25 would be how  many vievers ?
Also the decoding input of and not a patteren maybe change the benchmark alot.   I have a 500/500mbit connection and uses cloudflare in front of my rpi4 but maybe It a good to limit the bandwidth acording to my internet connection but normaly I have to   or tree output streams like o

[2022-09-01 02:44] kalashnikov2 opened #408 "adavenced stats label:feature"
Hello

 I would like the restreamer to have more detailed statistics

I don't know if this code is easy to incorporate
https://github.com/faryon93/hlswatch
"hlswatch is a simple program to keep track of the concurrent viewer count of a HLS live stream."

Thank you

[2022-09-01 09:30] jstabenow commented on #401
The resolution is not decisive for the bandwidth, but the bitrate is because many viewers retrieve it.

Unfortunately, the bandwidth limitation is not yet sufficiently documented. Therefore, a few words about it:

The bandwidth limit considers everything already streamed via the Restreamer (the [Core](https://github.com/datarhei/core) backend). So, for example, if you specify 500 Mbps as the limit

[2022-09-01 09:50] jstabenow commented on #407
Please add `6000:6000/udp`:

[code]

[2022-09-01 16:50] dvision1979 commented on #407
My bad, I totally overseen this. Now it is working as designed. Thank you so much.
Are there environment variables foreseen for configuring the SRT server, as per the RTMP one?
Thanks again.

[EDIT]
I checked here https://docs.datarhei.com/restreamer/api/environment-variables, but there does not seem to be any.

[2022-09-01 20:03] jstabenow commented on #407
Perfect :-)

SRT and RTMP are configurable via the interface and no longer require `ENV`.

But if you want to use `ENV`, you can find the complete list here:
https://github.com/datarhei/core#environment-variables

[2022-09-01 21:02] dvision1979 commented on #407
Thank you. Very much appreciated.

[2022-09-01 21:02] #407 closed, assigned to jstabenow

[2022-09-02 05:39] svenerbeck commented on #408
Hello [kalashnikov2](https://github.com/kalashnikov2)
thank you for your message.
It is on the roadmap.
Cheerio
Sven

[2022-09-02 08:54] noho501 opened #409 "How to create a new channel via API?"
Hi,

I would like to create a new channel, video input ( RTMP Server ) then will import some PUBLICATION to the new channel through API without UI. Any ideas?

Thanks and best regards

<img width="1121" alt="create-channel" src="https://user-images.githubusercontent.com/35057759/188102147-59ff3693-0772-473d-b0b6-613ca5b0d05a.png">

<img width="549" alt="video-setup" src="https://user-images.github

[2022-09-02 10:45] jstabenow commented on #409
Hey @noho501
Should the processes be displayed in the user interface?

[2022-09-02 10:59] noho501 commented on #409
Hi @jstabenow

It should be displayed in the UI, so the admin can manage them. Could you please help me with how to do that?

[2022-09-02 11:04] jstabenow commented on #409
Yes, no problem. But it takes some time. So I will answer you in the coming days.

[2022-09-02 11:12] noho501 opened #410 "How to setup video from MacOS camera?"
Hi,

I am running Restreamer on the Linode server, I would like to start streaming from my MacOS camera, but no device detected. Could you please advise?

Thanks & best regards

<img width="429" alt="Screen Shot 2022-09-02 at 18 11 28" src="https://user-images.githubusercontent.com/35057759/188127390-fb6b99db-0a13-4ebf-b237-b550f2f20b99.png">

[2022-09-02 11:25] noho501 commented on #409
Thanks a lot

[2022-09-02 11:33] jstabenow commented on #410
To do this, you must send your camera to the Restreamer. E.g., via OBS. We could build a browser plugin for it (like YouTube-Live UI) in the long term. But that is not yet on the roadmap.

The Restreamer can access network sources (RTSP, RTMP, SRT, etc.) and local devices (like USB). However, local devices will not be available in any cloud instance ;-)

I hope this information helps you.

[2022-09-02 11:35] noho501 commented on #410
Hi @jstabenow

Thanks for your help :)

[2022-09-02 11:35] #410 closed, assigned to nobody

[2022-09-03 18:01] dvision1979 opened #411 "(SRT ingest + SRT output) + SRT source = high latency ?"
Hello once again,

I gave a try to the SRT ingest, activated the SRT output on the channel, then I selected the SRT source on one of the publication process. I got a (high) 14s delay on Youtube. The source was a ffmpeg desktop capture on linux ubuntu. I got slightly the same disappointing results using the OBS as a stream pusher.
As I read around on the internet, SRT is a low latency protocol, so,

[2022-09-03 18:50] jstabenow commented on #411
<img width="1245" alt="Bildschirmfoto 2022-09-03 um 20 28 23" src="https://user-images.githubusercontent.com/7462030/188284146-59faf41b-5b7f-4abe-b80c-7ff587fddaeb.png">

1. Stream settings > Processing & Control > Enable SRT
<img width="675" alt="Bildschirmfoto 2022-09-03 um 20 41 39" src="https://user-images.githubusercontent.com/7462030/188284134-b1f1e6f4-4593-4e3e-bee9-635699605d55.png">

2. P

[2022-09-03 19:06] dvision1979 commented on #411
![image](https://user-images.githubusercontent.com/4688610/188284701-e98bc946-2826-449b-add6-bbdc7d76e7a0.png)

![image](https://user-images.githubusercontent.com/4688610/188284710-82ebfe31-692e-419e-a89f-e16a2ac01d7d.png)

![image](https://user-images.githubusercontent.com/4688610/188284733-c160a87b-0fd7-489a-bf5f-7a3d27f0abdb.png)

![image](https://user-images.githubusercontent.com/4688610/18828

[2022-09-03 19:13] dvision1979 commented on #411
Ingesting RTMP:
![image](https://user-images.githubusercontent.com/4688610/188284909-f55ca49c-3a02-413a-b819-a0e47c6a5271.png)

[2022-09-03 19:46] jstabenow commented on #411
Interesting. I'll check it out in the coming days.

[2022-09-03 19:47] dvision1979 commented on #411
Thank you, much appreciated.

[2022-09-03 21:42] samiulus opened #412 "HTTPS Let's Encrypt Issue"
I tried to install Let's Encrypt but It doesn't work. I got an error on log. My error message is-

[code]

Where is the problem and how can I fix that? I tried 2 different vps with another provider. Same result. Please help me.

Thanks.

[2022-09-04 09:13] FilipStadler commented on #411
Before restreamer was able to do SRT I used another solution and latency was only 3-6 seconds delay from the mobile device with ffmpeg to OBS and then I added  a SRT server it would give 3 seconds more delay but I did not try playout/writeout for a HLS stream but I must say srt its slower on the restreamer - in somecases making the output for HLS/player overheard may not be needed really when doin

[2022-09-05 12:17] jstabenow commented on #412
Hey @samiulus
Have you read this guide?
https://docs.datarhei.com/restreamer/knowledge-base/user-guides/how-can-i-use-https-with-lets-encrypt

[2022-09-05 12:26] jstabenow commented on #411
HLS playback should have nothing to do with SRT latency. As you can see in my picture, I have no latency (<1 sec.) when I encode a test picture on the Restreamer, provide it as HLS+SRT, and send it to YouTube-Live via RTMP.
So it must have something to do with the “external” access. On the other hand, maybe the Docker virtualization is to blame. I will check this out.

[2022-09-05 14:58] samiulus commented on #412
Yes, I follow this link and do the same settings. Check my log report. Thanks.

[2022-09-05 15:54] jstabenow commented on #412
Let's Encrypt was not able to verify the domain:
[code]

Check whether the domain points to the IP of your VPS and the Restreamer can be reached via `http://cdn2.streamcast.xyz`.
If not, check your DNS entry, your port forwarding / Docker command and your firewall.

[2022-09-06 21:31] Kieranwest opened #414 "Nginx Location"
Does Nginx exist within restreamer v2?
I'm looking to make some hls changes within the nginx.conf file that helped improve latency in the prior version.

Thanks

[2022-09-07 15:25] Pimmetje commented on #95
I am running the dev release. But i have a feeling the API doc (https://docs.datarhei.com/restreamer/api/api-and-developer) are out of sync with the version i am running at least.
I get a lot of the following responses:
[code]

I am looking for a way to get the state of all the streams.. So i can monitor them for issues.

[2022-09-11 08:55] DatCaptainHorse opened #415 "AV1 Dash transcoding fails - Update FFMPEG?"
Heyo! Been testing this as a docker on my server, it's a cool project!

Issue I've hit is that transcoding AV1 encoded DASH is not possible and errors out.
However, from local testing FFMPEG 5.x seems to transcode without issues, so would it be possible to upgrade Restreamer to use 5.x version of FFMPEG? Or atleast provide a "custom FFMPEG location" variable that it will use instead?

Here's the e

[2022-09-11 22:38] devedse commented on #132
I'm also stuck on this, I can only get the WebUI to be about 9 seconds delay.

[2022-09-13 08:38] sfahadshahzad commented on #332
Any progress ...

[2022-09-14 18:14] 7ekhed opened #416 "Custom DownSampling per platform"
Twitch has very specific bandwidth that they will allow, and I am trying to maximize my visual performance

By streaming in high fidelity to Restreamer, I can stream to YouTube at 1080p 10,000 kbps bitrate, but there appears to be no way to downsample from my 1080p stream to an 864p stream when streaming, let alone streaming just to Twitch. There is a way to change the bandwidth, just not a way to

[2022-09-14 18:14] 7ekhed commented on #416
69th issue ;) nice

[2022-09-14 19:35] privatesam commented on #277
Whereabouts in the container should the nginx.conf be mounted?

[2022-09-16 08:35] privatesam commented on #403
Yes please - would love this!!!!

[2022-09-17 01:19] EzequielBruni commented on #401
So, I'd like to use this software on a VPS to simply restream my video to maybe 2-3 other streaming platforms at once (my upload bandwidth at home is abysmal). How many CPU cores should I aim for to redirect a 1080p60 stream in that way?

[2022-09-17 23:54] noho501 commented on #409
Hi @jstabenow Any updates?

[2022-09-18 01:04] jstabenow commented on #409
I am working on a CLI with which you can read out, edit or create all processes, for example.

That should help you with your project. And if you want to develop custom management.

There are API clients for [Go](https://github.com/datarhei/core-client-go) and [Python](https://github.com/datarhei/core-client-python). And for Javascript, [here](https://github.com/datarhei/restreamer-ui/blob/main/sr

[2022-09-18 01:13] noho501 commented on #409
Hi, @jstabenow Thank you very much for your help.

[2022-09-18 01:16] jstabenow commented on #401
Only one incoming and three outgoing streams? No encoding and no player playback (integration on a website)?
Just test the smallest VPS you can get. This requirement hardly needs any CPU power and only a little RAM (maybe up to 250 MB, depending on the bitrate).

[2022-09-18 17:58] EzequielBruni commented on #401
The cheapest VPS I can get (on a platform that I trust to a reasonable degree/am familiar with anyway) offers a lot more than that.

Time to get buying, then. Thanks, I appreciate the info.

[2022-09-19 22:06] FilipStadler opened #419 "How to make restreamer work with hardware encoding/decodig cuda etc."
I run restreamer on Linux, On WSL2 and RaspberryPI4 (Raspbian 32bit with gpu) but on the other I only use passtru to avoid GPU encoding but its a problem the cpu load is around 75% and sure it would be alot cooler if the hardware encoding was working for me.

But why is not working ?

I use GTX1660TI ( windows wsl2) and GTX1660 super with latest nvidia drivers on PopOS(Ubuntu 22.04)

 - OBS works

[2022-09-27 08:46] svenerbeck commented on #414
Hello @Kieranwest
Sorry for the high delay.

There is no Nginx in Restreamer V2. To reduce the latency try the SRT transport.

[Quick Start: SRT Server with Publication Service for multi-streaming with SRT in datarhei Restreamer](https://youtu.be/xwTdIeTLj_I)

[Quick start: use SRT protocol with OBS and datarhei Restreamer to reduce latency](https://www.youtube.com/watch?v=ATG2bOujuPU)

Cheerio
Sv

[2022-09-27 08:46] #414 closed, assigned to svenerbeck

[2022-09-28 15:49] svenerbeck commented on #415
Hi @DatCaptainHorse
Fair point. We will upgrade to FFMpeg 5x in the next update or two. Sorry that it is not done yet. There is much work going on in the project right now. There are only 3 of us.

Cheerio
Sven

[2022-09-28 15:55] svenerbeck commented on #416
Hey Ho @7ekhed

That's a good feature. We have taken your request to the feature request list.
[💡 Suggestions and feature requests #345](https://github.com/datarhei/restreamer/discussions/345)

Cheerio
Sven

[2022-09-28 16:24] svenerbeck commented on #419
Hello Filip
Thank you for your patience. We'll have a look ...

Cheerio
Sven

[2022-09-30 15:10] svenerbeck commented on #400
Please update to the latest version, and you will find Trovo as a publication service.

[2022-09-30 17:04] FilipStadler opened #420 "RPI3 Framebuffer very slow and no audio restreamer-v2.3.0"
If I play cvlc of the hls stream localy linke this

cvlc http://localhost:8080/memfs/894d4999-9530-40c6-be3c-38322eb23516.m3u8

it works fine on the rpi3 but using framebuffer is not working.

Another thing is when I tried to deaktivate the rtmp out server  is making it aktive when i press save.

[2022-10-01 06:13] therealmrnerd opened #421 "There was an error connecting to Restreamer Core at https://"
Trying to proxy with Nginx and hitting this "There was an error connecting to Restreamer Core at https://" error. I've tried proxying to the localhost and the docker's IP, with docker's TLS on and off and with TLS on the proxy on and off but still the same. Any suggestions?

Nginx Config except server and TLS details

       location ~* /restreamer/ {

            rewrite ^/restreamer/(.*) /$1 bre

[2022-10-02 13:22] jstabenow commented on #420
Hey @FilipStadler :-)
The checkbox remains active only if the video source is an RTMP ingest stream. Otherwise, it should be unselectable.

However, there is an error if you have an RTMP ingest stream and want to output SRT.
I will fix this.

Regarding your request:
Please show the [report](https://docs.datarhei.com/restreamer/knowledge-base/manual/process-report) of the main and framebuffer (publ

[2022-10-02 13:27] jstabenow commented on #419
Hey @FilipStadler
Maybe it's the CUDA version.
We use 11.4, and you use 11.7. I will create a suitable image for you to test and let you know here.

[2022-10-03 00:48] szergej01 opened #422 "Adding channel without active source"
Hi,

Is it possible to make channels without active source for future streaming? If not, it will be a good future update for us! 💯

![image](https://user-images.githubusercontent.com/28932799/193484356-223fd791-2122-48f8-8585-6b42bd811ded.png)

[2022-10-03 00:49] noho501 commented on #422
Agree

[2022-10-03 06:48] saschafoerster commented on #422
I had the same issue. Now I need to open OBS, copy the RTMP-address, start streaming, and only then I can proceed to create new destinations. Would be great if I can create a channel and destinations without needing to start OBS, as in our situation this are two different tasks done by different people.

[2022-10-03 07:35] ioppermann commented on #422
From the wizard you can change to the "Advanced Setup". There you'll have the possibility to create a virtual source in order to create the channel. Whenever the actual source is ready you can change from the virtual source to the RTMP source.

[2022-10-03 10:15] FilipStadler commented on #419
Yes lets try because I have cuda 11.7 on two computers - a windows10 with wsl and a my normal ubuntu/popos.
I did tried srt with hvec and the larix broadcaster and it was not working so i changed to h264 on the transmitting device and it was working so maybe this is also related to the problem.  But it would surely be nice to have the gpu power working.

[2022-10-04 06:47] saschafoerster commented on #422
Of course this is a workaround in the best meaning of the word. It is work and it is "around". And a painful one. I had to make 9 more clicks and decide which of the (irrelevant) options are the right one by creating a virtual stream, just for the simple task of creating a RTMP stream, which is a clear and easy option at the start, which I can't complete, when I don't send anything. I wish there w

[2022-10-04 08:20] svenerbeck commented on #422
Added it as a feature Request https://github.com/datarhei/restreamer/discussions/345

If someone here has pressure on the function, he may contact us. There are certainly ways to speed up the development!

Thank you for your understanding.

Cheerio
Sven

[2022-10-04 20:18] danitus13 opened #423 "Youtube not stream"
Sto usando un Orange Pi Debian
E sto mandando in streaming su Youtube una cam reolink
Quando vado ad abilitare lo streaming su Youtube mi esce questo errore:

[tcp @ 0xffffaa597a80] Failed to resolve hostname a.rtmp.youtube.com: Name does not resolve
[rtmps @ 0xffffa9b93540] Cannot open connection tls://a.rtmp.youtube.com:443
rtmps://a.rtmp.youtube.com/live2/******* : I/O error

[2022-10-04 20:48] jstabenow commented on #423
Please extend the Docker command with the following parameter:
`--security-opt seccomp=unconfined`

[2022-10-05 10:13] danitus13 commented on #423
Fatto, ma esce sempre lo stesso errore

[2022-10-05 10:39] jstabenow commented on #423
Please describe your setup (hardware, operating system) and check whether your computer can reach the address "a.rtmp.youtube.com." And show the Docker command you are using.

[2022-10-05 10:47] danitus13 commented on #423
Questo il comando

[code]
Hardware: orange pi zero 2
S.O. : debian bullseye

Come faccio a controllare se il mio pc può raggiungere l'indirizzo? Lo inserisco su un browser?

[2022-10-05 10:59] jstabenow commented on #423
Please test the following:
[code]

`:rpi-latest` is not required because your Orange Pi Zero2 uses a different GPU.

If this does not work, check the address:
[code]

[2022-10-05 11:08] danitus13 commented on #423
Fatto ancora non funziona,
quando faccio il ping mi restituisce:
64 bytes from mil41s04-in-f12.1e100.net (142.250.184.108): icmp_seq=12 ttl=114 time=20.7 ms

ecc...

[2022-10-05 11:11] danitus13 commented on #423
Ho questo dubbio, potrei sbagliare
Su Youtube url stream è: rtmps://a.rtmps.youtube.com/live2
mentre su restreamer mi restituisce:
rtmps://a.rtmp.youtube.com/live2/**** : I/O error

non manca una "s a rtmp"?

[2022-10-05 11:18] jstabenow commented on #423
It seems that the container has no network access.

Next try:
[code]

[2022-10-05 11:25] danitus13 commented on #423
nulla

[2022-10-05 11:36] jstabenow commented on #423
Do you have a firewall?

Docker tests:
[code]

[2022-10-05 11:48] danitus13 commented on #423
Il primo comando:

[code]
Il secondo

ping: bad address 'a.rtmps.youtube.com'

[2022-10-05 12:03] jstabenow commented on #423
Nice! Next:
[code]

[2022-10-05 15:36] danitus13 commented on #423
questo funziona:

[code]

[2022-10-05 17:35] jstabenow commented on #423
It's a DNS error:
[code]

[2022-10-05 18:14] danitus13 commented on #423
Funziona. Grazie mille!

[2022-10-06 08:54] jstabenow commented on #423
You are welcome 👍

[2022-10-06 08:54] #423 closed, assigned to jstabenow

[2022-10-06 08:58] danitus13 commented on #423
Ciao Jstabenow,
ho un nuovo problema purtroppo.
Dopo qualche ora di srtreaming, youtube si blocca.
Da restream nessun errore e da Youtube Studio mi dice "connessione buona"
Ma la diretta è bloccata a ieri sera:

https://www.youtube.com/watch?v=tSjOft4G6JQ

Da cosa può dipendere?

[2022-10-06 09:09] jstabenow commented on #423
Disable “low delay” and show the process report if there are still problems:

![Bildschirmfoto 2022-10-06 um 11 05 38](https://user-images.githubusercontent.com/7462030/194272935-fdea4554-288e-4120-a2bd-0529d3a6e980.png)

[2022-10-06 09:11] danitus13 opened #424 "Youtube stops after some time"
S.O: Orange Pi Debian
Hardware: Orange Pi zero 2

I'm streaming a webcam reolink 24/7. But after some time Youtube blocks the broadcast.
There is no error on Restreamer.
And on Youtube the connection is "good"

Link streaming: https://www.youtube.com/watch?v=tSjOft4G6JQ

Here it is 11.10, but the transmission is blocked at 00.10

[2022-10-06 09:16] danitus13 commented on #423
sorry I had opened another discussion, because I had seen that you had closed this one. You can delete the other.
Now the transmission has resumed. I text for a while and let you know if there are any other problems.
Thank you again.

[2022-10-06 18:15] danitus13 commented on #423
Ciao Jan, alle 5.02pm si è bloccato nuovamente.

[code]
`

[2022-10-06 21:34] Hoerli1337 commented on #416
Would also be happy about this function.
Just as an example:
I would like to stream to YouTube in 1440p (Copy), to Twitch in 1080p (Render by Restreamer) and to another platform maybe with 720p (Render by Restreamer).

[2022-10-07 07:25] svenerbeck commented on #424
Hello @danitus13
Honestly, I don't understand this request. The stream goes through without any problems. We close the ticket.

Cheerio
Sven

[2022-10-07 07:25] #424 closed, assigned to svenerbeck

[2022-10-08 09:08] danitus13 commented on #423
Buongiorno Jan,
questa notte si è interrotto nuovamente alle 3.59. Non riavvio nulla, così per capire dov'è il problema.

Questo il report:

[report2.txt](https://github.com/datarhei/restreamer/files/9738828/report2.txt)

[2022-10-08 09:12] danitus13 commented on #424
Perchè l'avevo riavviato ieri. Stanotte si è bloccato di nuovo. Questa volta non lo riavvio.

[2022-10-08 12:22] jstabenow commented on #423
Hey @danitus13
Strange. The report is clean. Please activate the "BACKUP STREAM":
<img width="337" alt="Bildschirmfoto 2022-10-08 um 14 14 34" src="https://user-images.githubusercontent.com/7462030/194707050-854264c5-ce5d-42ec-b2d2-dd9339e130d0.png">
Maybe that helps.

[2022-10-08 15:41] FilipStadler commented on #422
It would be  very nice to have chanals that are not/never shown in the player site list because it can be virtual source or other input streams that can stream to the visible included playersite list.
 - like an option if input included in the player site list or not.

Non visible input streams can be used to push the stream for a visible chanal and it would allow to add sources that mainly are to

[2022-10-08 23:11] FilipStadler commented on #420
I tried on a raspberrypi 4 and it was working fine.

[2022-10-09 07:12] danitus13 commented on #423
Ho provato, questa notte alle 3.27 si è bloccato nuovamente. Su Youtube lo stream arriva dice "connessione eccellente", su restreamer anche. Ti mando il file di report:

[report 3.txt](https://github.com/datarhei/restreamer/files/9740970/report.3.txt)

[2022-10-10 11:35] jstabenow commented on #423
Maybe you are also affected by this:
https://twitter.com/obsproject/status/1578937361303359489?s=46&t=ggU-awKLPwxHwtVJ_vGwUA

I'll look at the report later.

[2022-10-10 12:14] x390 opened #425 "Custom SSL Certificate causing restreamer to crash"
Restreamer crashes when attempting to use a custom ssl certificate from acme.sh.

[code]

**What I have tried to do to fix the issue:**
1. Setting host.name to my domain name
2. setting host.auto to `false`
3. Checking if the permissions are correct
4. Using the openssl command from the [guide](https://github.com/datarhei/core#tls--https) in core repo

[2022-10-10 19:46] jstabenow commented on #425
@x390 Should be fixed in dev image. Please try:
datarhei/restreamer:dev

Thx.

[2022-10-10 19:53] jstabenow commented on #423
Please try:
1. edit channel > Processing & Control > Enable RTMP & disable the "low delay" option
2. select your YouTube publishing service > Source & Control > Switch source to RTMP

I am curious to see if it works better this way. We have no problems.

[2022-10-11 09:38] jstabenow commented on #421
Hey @therealmrnerd

1. UI Access (https://docs.datarhei.com/restreamer/knowledge-base/user-guides/proxying):
[code]

2. HEVC is not supported by RTMP. That's why it doesn't work. Please use H.264.

[2022-10-11 09:40] jstabenow commented on #422
Good idea @FilipStadler! Let's put it on the roadmap 👍

[2022-10-11 15:34] danitus13 commented on #423
Devo attivare solo RTMP non anche l'RTMPS?

[2022-10-11 15:46] jstabenow commented on #423
RTMP.

[2022-10-11 16:28] danitus13 commented on #423
Ok abilitato.
Va tutto ok, ma nel report esce questo errore:

Non-monotonous DTS in output stream 0:0; previous: 11467, current: 11462; changing to 11468. This may result in incorrect timestamps in the output file.

Potrebbe creare dei problemi?

[2022-10-11 16:34] jstabenow commented on #423
Not necessarily.

[2022-10-12 17:24] Tokolosh commented on #419
i am having the same issues with Cuda 11.7 (RTX 2080Ti with the 515 Driverset) on a linux machine. No matter which cuda option i choose for de-/coding it always throws the same error mentioned above

[2022-10-14 02:33] leetfin opened #426 "RTMP from OBS to Restreamer over Cloudflare Tunnel?"
Hello, I'm trying to send RTMP video from OBS to a restreamer instance hosted on a VM accessible via cloudflare tunnel. As far as I know this should be possible, but I can't get it to work and was hoping someone would have knowledge about the process.

I have tried following
https://datarhei.github.io/restreamer/docs/guides-obs.html
https://datarhei.github.io/restreamer/docs/guides-ingest-rtmp.htm

[2022-10-14 07:09] FilipStadler commented on #85
Well I use nginx proxy manager on a rpi4 this handle ssl with LTE or I can use the cloudflare ssl costum solution.

I do portforward of the tcp 1935 and udp 6000 for another raspberryPI 4 running the restreamer and port 80,443
does the nginx proxy manager handle so stream.domainame.dk do point to maybe 192.168.10.17:8080.
On cloudflare I can turn proxy on/off so its hidden behind cloudflare but I

[2022-10-15 09:39] xmochx opened #427 "How to import a Backup from the configuration/db with docker-compose?"
**Subject of the issue**
I would like to use a backup of the configuration to use it on a new server
**Your environment**
Ubuntu/Docker-Composer
I use volumes and have all the data for db/config/data.

**Steps to reproduce**
After starting restreamer it does not use the db and shows me:

restreamer      | ts=2022-10-15T09:15:35Z level=INFO component="Import" msg="D**atabase doesn't exist and nothi

[2022-10-15 10:16] svenerbeck commented on #427
Hi @xmochx
There is a second folder if you mounted it with the old system.
opt/restreamer/data and opt/restreamer/config

Cheerio
Sven

[2022-10-17 12:20] riddlenl opened #428 "Local server not probing rtmp stream"
I'm trying to use the built in RTMP server to get a stream in, however whatever I do, the wizard keeps saying "No live stream was detected. Please check the software that sends the stream."

Tried vMix and OBS both, and they say the stream is incoming.

In the probe logs, I see this:

ffmpeg version 4.4.2-datarhei Copyright (c) 2000-2021 the FFmpeg developers
  built with gcc 10.3.1 (Alpine 10.3.1

[2022-10-17 14:49] svenerbeck commented on #427
Hi @xmochx
We are closing your issue https://github.com/datarhei/restreamer/issues/427.

This may be due to the following reasons:

- Problem/inquiry has been solved
- The ticket remained unanswered by you for a more extended time
- The problem was explained and handled in another ticket

You can reopen this ticket at any time!

Please do not open related tickets twice. Always answer/ask in the or

[2022-10-17 14:49] #427 closed, assigned to svenerbeck

[2022-10-17 14:53] svenerbeck commented on #421
Hi @therealmrnerd
We are closing your issue https://github.com/datarhei/restreamer/issues/421.

This may be due to the following reasons:

- Problem/inquiry has been solved
- The ticket remained unanswered by you for a more extended time
- The problem was explained and handled in another ticket

You can reopen this ticket at any time!

Please do not open related tickets twice. Always answer/ask in

[2022-10-17 14:53] #421 closed, assigned to jstabenow

[2022-10-17 14:54] svenerbeck commented on #412
Hi @samiulus
We are closing your issue https://github.com/datarhei/restreamer/issues/412.

This may be due to the following reasons:

- Problem/inquiry has been solved
- The ticket remained unanswered by you for a more extended time
- The problem was explained and handled in another ticket

You can reopen this ticket at any time!

Please do not open related tickets twice. Always answer/ask in the

[2022-10-17 14:54] #412 closed, assigned to jstabenow

[2022-10-17 14:56] svenerbeck commented on #389
Hi @spannerthumbs
We are closing your issue https://github.com/datarhei/restreamer/issues/389.

This may be due to the following reasons:

- Problem/inquiry has been solved
- The ticket remained unanswered by you for a more extended time
- The problem was explained and handled in another ticket

You can reopen this ticket at any time!

Please do not open related tickets twice. Always answer/ask in

[2022-10-17 14:56] #389 closed, assigned to jstabenow

[2022-10-17 14:56] svenerbeck commented on #400
Hi @WhiteBite
We are closing your issue https://github.com/datarhei/restreamer/issues/400.

This may be due to the following reasons:

- Problem/inquiry has been solved
- The ticket remained unanswered by you for a more extended time
- The problem was explained and handled in another ticket

You can reopen this ticket at any time!

Please do not open related tickets twice. Always answer/ask in the

[2022-10-17 14:56] #400 closed, assigned to ioppermann

[2022-10-17 14:57] svenerbeck commented on #382
Hi @giuseppegambino92
We are closing your issue https://github.com/datarhei/restreamer/issues/382.

This may be due to the following reasons:

- Problem/inquiry has been solved
- The ticket remained unanswered by you for a more extended time
- The problem was explained and handled in another ticket

You can reopen this ticket at any time!

Please do not open related tickets twice. Always answer/as

[2022-10-17 14:57] #382 closed, assigned to jstabenow, svenerbeck

[2022-10-17 14:58] svenerbeck commented on #381
Hi @Pimmetje
We are closing your issue https://github.com/datarhei/restreamer/issues/381.

This may be due to the following reasons:

- Problem/inquiry has been solved
- The ticket remained unanswered by you for a more extended time
- The problem was explained and handled in another ticket

You can reopen this ticket at any time!

Please do not open related tickets twice. Always answer/ask in the

[2022-10-17 14:58] #381 closed, assigned to jstabenow

[2022-10-17 14:58] svenerbeck commented on #378
Hi @beanman12
We are closing your issue https://github.com/datarhei/restreamer/issues/378.

This may be due to the following reasons:

- Problem/inquiry has been solved
- The ticket remained unanswered by you for a more extended time
- The problem was explained and handled in another ticket

You can reopen this ticket at any time!

Please do not open related tickets twice. Always answer/ask in the

[2022-10-17 14:58] #378 closed, assigned to jstabenow

[2022-10-17 14:59] svenerbeck commented on #385
Hi @crbon
We are closing your issue https://github.com/datarhei/restreamer/issues/385.

This may be due to the following reasons:

- Problem/inquiry has been solved
- The ticket remained unanswered by you for a more extended time
- The problem was explained and handled in another ticket

You can reopen this ticket at any time!

Please do not open related tickets twice. Always answer/ask in the ori

[2022-10-17 14:59] #385 closed, assigned to ioppermann

[2022-10-17 15:00] #354 closed, assigned to svenerbeck

[2022-10-17 15:01] svenerbeck commented on #340
Hi @database64128
We are closing your issue https://github.com/datarhei/restreamer/issues/340.

This may be due to the following reasons:

- Problem/inquiry has been solved
- The ticket remained unanswered by you for a more extended time
- The problem was explained and handled in another ticket

You can reopen this ticket at any time!

Please do not open related tickets twice. Always answer/ask in

[2022-10-17 15:01] #340 closed, assigned to ioppermann, jstabenow

[2022-10-17 15:02] #351 closed, assigned to svenerbeck

[2022-10-17 15:02] #279 closed

[2022-10-17 15:03] svenerbeck commented on #250
Hi @Pimmetje
We are closing your issue https://github.com/datarhei/restreamer/issues/250.

This may be due to the following reasons:

- Problem/inquiry has been solved
- The ticket remained unanswered by you for a more extended time
- The problem was explained and handled in another ticket

You can reopen this ticket at any time!

Please do not open related tickets twice. Always answer/ask in the

[2022-10-17 15:03] #250 closed

[2022-10-17 15:04] svenerbeck commented on #372
Hi @Kdcius
We are closing your issue https://github.com/datarhei/restreamer/issues/372.

This may be due to the following reasons:

- Problem/inquiry has been solved
- The ticket remained unanswered by you for a more extended time
- The problem was explained and handled in another ticket

You can reopen this ticket at any time!

Please do not open related tickets twice. Always answer/ask in the or

[2022-10-17 15:04] #372 closed, assigned to ioppermann

[2022-10-17 15:04] svenerbeck commented on #259
Hi @Pepozzo
We are closing your issue https://github.com/datarhei/restreamer/issues/259.

This may be due to the following reasons:

- Problem/inquiry has been solved
- The ticket remained unanswered by you for a more extended time
- The problem was explained and handled in another ticket

You can reopen this ticket at any time!

Please do not open related tickets twice. Always answer/ask in the o

[2022-10-17 15:04] #259 closed

[2022-10-17 15:05] svenerbeck commented on #314
Hi @b3nscher
We are closing your issue https://github.com/datarhei/restreamer/issues/314.

This may be due to the following reasons:

- Problem/inquiry has been solved
- The ticket remained unanswered by you for a more extended time
- The problem was explained and handled in another ticket

You can reopen this ticket at any time!

Please do not open related tickets twice. Always answer/ask in the

[2022-10-17 15:05] #314 closed

[2022-10-17 15:06] svenerbeck commented on #283
Hi @mickopla
We are closing your issue https://github.com/datarhei/restreamer/issues/283.

This may be due to the following reasons:

- Problem/inquiry has been solved
- The ticket remained unanswered by you for a more extended time
- The problem was explained and handled in another ticket

You can reopen this ticket at any time!

Please do not open related tickets twice. Always answer/ask in the

[2022-10-17 15:06] #283 closed

[2022-10-17 15:08] svenerbeck commented on #137
Hi @redrob
We are closing your issue https://github.com/datarhei/restreamer/issues/137.

This may be due to the following reasons:

- Problem/inquiry has been solved
- The ticket remained unanswered by you for a more extended time
- The problem was explained and handled in another ticket

You can reopen this ticket at any time!

Please do not open related tickets twice. Always answer/ask in the or

[2022-10-17 15:08] #137 closed

[2022-10-17 15:09] #132 closed

[2022-10-17 15:34] riddlenl opened #429 "Icecast destination "Address" field not writable?"
The Icecast destination looks to be 'broken'?

I'm not able to write something in the "address field", but it doesn't look readonly. The icecast adress field seems to be the only field for all destinations not able to write into.

[2022-10-17 16:54] devedse commented on #132
@svenerbeck , I saw this issue was closed. What is the solution to reduce the delay?

[2022-10-17 17:48] Bosutike commented on #412
I am having a similar issue.
After configuring the networking to use  let's encrypt (either with default ports or 80/443), it does not work.
I get this error in the logs:

`ts=2022-10-17T17:29:37Z level=ERROR component="Let's Encrypt" msg="Failed to acquire certificate" error="domain.com: obtaining certificate: [domain.com] Obtain: [domain.com] solving challenge: domain.com: [domain.com] authoriza

[2022-10-17 17:54] Bosutike opened #430 "HTTPS configuration with let's encrypt"
After configuring the networking to use let's encrypt (either with default ports or 80/443), it does not work.
I get this error in the logs:

`ts=2022-10-17T17:29:37Z level=ERROR component="Let's Encrypt" msg="Failed to acquire certificate" error="domain.com: obtaining certificate: [domain.com] Obtain: [domain.com] solving challenge: domain.com: [domain.com] authorization failed: HTTP 400 urn:ietf

[2022-10-18 08:43] FilipStadler opened #431 "How to remove to big logo ;)"
**Describe the bug**
How to remove a logo or make it emty - if its to big or bad.
I tried to delete the filename but it did not remove it.

**To Reproduce**
Steps to reproduce the behavior:
Upload a to big logo  and see how it looks in the player site with chanals.
I goes outside the border.

![image](https://user-images.githubusercontent.com/24371165/196381538-75286af6-2a84-4c0e-b392-9bfff67c2144

[2022-10-18 11:13] riddlenl opened #432 "Virtual input: looping image or video with audio stream muxed in"
I think it would be a nice idea to have the ability to create 3 new virtual inputs:

* Live video stream and mix a separate live audio stream
* Loop a (local) video file and mix a live audio stream in
* Loop an array of images (or just one) and mix a live audio stream

[2022-10-18 12:30] jstabenow commented on #432
Muxing video and audio streams already works. Just switch to the advanced wizard.

Great ideas and already on the roadmap 👍

[2022-10-18 14:15] jstabenow commented on #429
Hey @riddlenl
Thanks for this issue. If you want, you can test it in our dev-image: `datarhei/restreamer:dev`

[2022-10-18 15:04] jstabenow commented on #428
Hey @riddlenl
Already fixed [here](https://github.com/datarhei/restreamer-ui/commit/df9ae03900e8b89f03bf35a76a0f5c5dbf63696d). And once again for testing: `datarhei/restreamer:dev`

[2022-10-18 15:09] jstabenow commented on #430
Hey @Bosutike
Message means: `Connection refused` for `domain.com:80`.
Please verify:
1. Restreamer ist public available on port `80/tcp`
2. your domain `domain.com` points to the IP of your server
3. you can reach the Restreamer via `http://domain.com:80`

[2022-10-18 15:10] jstabenow commented on #425
@x390 does it work?

[2022-10-18 16:15] Bosutike commented on #430
Hey @jstabenow

1- Before HTTPS configuration on UI, everything is available and working.
2- I configure on the UI the HTTPS parameters, save and restart though UI.
3- After this, the system does not come up anymore and is not accessible through port 80.
4- I get the error presented before in the log.

This explains that it's not a firewall problem but instead a problem on the restreamer side.

[2022-10-18 16:24] jstabenow commented on #430
Have you also customized the Docker command?

If you change the HTTP port from 8080 to 80 and the HTTPS port from 8181 to 443, the Docker command must look like `docker run ... -p 80:80 -p 443:443 ... `

Mean `docker run ... -p 8080:8080 -p 8181:8181 ...` will not work anymore.

[2022-10-18 16:35] Bosutike commented on #430
Thanks for your help! I got it now!

The ports you configure on the UI are the internal ports. I though they were the public ones.
I was configuring 80 and 443 but it was not working since on my docker command I was forwarding 80:8080 and 443:8181.
I now configured on the UI to use 8080 and 8181 and it works.

Thanks for your help!

I would recommend to clarify that the ports being configured are

[2022-10-18 16:35] #430 closed, assigned to jstabenow

[2022-10-18 18:11] jstabenow commented on #431
@FilipStadler Thx :-) Working on it.

Todo:
- [x] responsive logo
- [x] option to drop/remove a logo
- [x] fix `player.overlay is not a function` (npm dependency^^)

[2022-10-18 22:12] utilsites opened #433 "FFMPEG log error 'pkt->duration = 0'"
Detected the following FFMPEG LOG repeated on Restreamer:
_**"pkt->duration = 0, maybe the hls segment duration will not precise"**_

It seams that the video image has not changing because it was a livestream on still image zone, so the fps was bellow 10.
On iOS 15+ safari the web video player shows the following error:
**_"the media playback was aborted due to a corruption problem pr because the

[2022-10-19 01:02] riddlenl commented on #429
Hi @jstabenow

Tried the dev image. The server field is writable now. After clicking Save, the 'loading bug' pops up, but nothing happens. Waited 10 minutes now. The logfile does not say anything useful about the connection. This could be a local issue, but everything looks normal.

[2022-10-19 16:41] jstabenow commented on #431
@FilipStadler
“Workaround” for `drop/remove a logo`: Clean up the input field for `Image URL` and save.

[2022-10-19 17:17] utilsites opened #434 "Documentation missing links to project source code on github"
Suggestion:
On https://docs.datarhei.com/restreamer add missing links to Restreamer source code on guithub https://github.com/datarhei (and/or the 3 related subfolders).
And add more info about releases and docker images versions if possible.

[2022-10-19 19:22] jstabenow commented on #433
Hey @utilsites
My recommendation: Do not use dynamic frame rates and try >= 18 FPS.
Check if you can switch the camera to CFR (Constant Frame Rate).

Otherwise, specify what kind of camera you are using.

[2022-10-19 19:57] utilsites commented on #433
In the cam config app it's set to 25 FPS (check image bellow), so I think it should be constant.
Even so, maybe this can be set/forced using a FFMPEG or Restreamer setting?
The cam is [CamHi PTZ IP ](http://www.ipcam.xin/)

![cam-settings](https://user-images.githubusercontent.com/15893370/196791292-f693d421-25f1-43a4-9f26-5539f764d97b.jpg)

[2022-10-19 20:55] jstabenow commented on #433
Uuuh, Hightech :sweat_smile: Unfortunately, I can't help you with the camera.
So let's try to solve this via the Restreamer. I'll take a look.

[2022-10-20 08:29] jstabenow commented on #433
Good morning!
The `fps_mode` is ready but needs FFmpeg v5, which will come next week.
I'll get back to you as soon as everything is public.

[2022-10-20 09:11] utilsites commented on #433
Amazing! Thanks for the change and speed!
I think it's good improvement for Restreamer, as other users may have the same problem, as iOS is always more nitpicking in livestreaming.
Also I thought that Restreamer V2 was using FFmpeg v5, but noticed that is using v4, so I think it will be also a good improvement, to use the latest version of FFmpeg.
It also will be good to be able to set _fps_mode_

[2022-10-21 20:56] jaseinny commented on #309
Hi there. Did you have any luck in getting this to work? I tried also using the HLS publication service but I'm not sure at how to point it to my Xteve docker in Unraid. It keeps seeing my ip4 address and not my local address as I'm trying to restream from restreamer to xteve on the same server. Is there any guidance on how to fill out the HLS publication service? Thank you

[2022-10-23 15:13] Tokolosh commented on #419
@jstabenow Any Updates on a test version with cuda 11.7?

[2022-10-23 19:25] LeXonJe commented on #425
Hey @jstabenow,

I've had the same issue and I can luckily report that RTMPS is working now with a custom certificate as intended using the dev release. The server doesn't crash on startup anymore.

Thank you for the fix. 😄

[2022-10-23 19:38] LeXonJe commented on #425
A quick follow-up:

RTMPS is functional (Tested with OBS). However, the settings menu for rtmp is now bugged due to it saying "RTMPS server can only be enabled if TLS is enabled" when I try to save a new token, etc. I also can't edit the RTMPS or HTTPS port from the web ui. I think this is happening because "Let's Encrypt certification" is turned off. For now the workaround is to directly edit the

[2022-10-26 22:20] MauricioOnetto opened #437 "Icecast doesn't allow insert data"
Hello
I'm using Restreamer behind Nginx (Debian 11)
All works great
I'm restreaming to Facebook, Twitch, Youtube, etc
But when I try to add Icecast it doesn't allow insert data of my server
(address input next to protocol input)
I can select the input but I can't add any text by keyboard neither can't paste data
Thank you

[2022-10-27 02:57] HeliosLHC commented on #340
Hello, I'm still experiencing this issue in 2.3.

The UI loads fine now after the changes but the API endpoint (after looking through the source code) is still statically pointing to the root path.

The code currently constructs the API endpoint URL from the host domain for the current page only.  This means if a subpath is used, the API URL will not be correctly constructed.

As the web-ui is sta

[2022-10-27 05:50] svenerbeck commented on #437
If you have an error in the Restreamer, upload the error log file here. Please note that we do not process requests for errors without the log files. [How to get the error report on YouTube.](https://www.youtube.com/watch?v=mZMGrweFCsM)

[2022-10-27 11:41] ioppermann commented on #437
Duplicate of #429

[2022-10-27 11:41] #437 closed, assigned to nobody

[2022-10-28 18:13] FilipStadler commented on #309
Have you used localhost or bridged docker ip like 172.18.0.1 I have found more easy to use internal docker ip on the same computer as alternative to the real ip,

[2022-10-29 21:27] grumpyprogrammingracoon commented on #386
Solved - forgot the Privileged variable to run the docker

[2022-10-29 21:27] #386 closed, assigned to jstabenow

[2022-10-31 19:14] privatesam commented on #409
I'd be interested in the CLI when its ready too.  Thanks.

[2022-11-01 22:20] riddlenl commented on #432
I'm trying to mux a live stream (receive rtmp) with an icecast mp3 stream (remote).

Probing both separately works and they see the stream. However, the video stream loads, but there's no audio. There is an audio channel streamed according to the process logs/details.

Stream #0:0: Video: h264 (Constrained Baseline), yuv420p(progressive), 1280x720 [SAR 1:1 DAR 16:9], q=2-31, 1500 kb/s, 30 fps, 30

[2022-11-02 11:47] seccentral commented on #409
Nice that this is already raised.

I'm also interested in this, especially in creating a new channel from the cli or api for RTMP.
Previously using nginx with rtmp module, all I had to do was define a location path ie `/live` and then publish my stream from cli like
`ffmpeg [...] rtmp://<host>/<path>/{my_tag}" ` -> would be automatically ingested by nginx at /path/my_tag and an entry would be adde

[2022-11-03 03:45] dwiwijaya opened #438 "CANT OPEN THE EMBEDED URL"
**http://[125.160.111.23](http://125.160.111.23:8080/758dad31-df5d-47fa-bf7b-3f17a8cf587b.html):8080/758dad31-df5d-47fa-bf7b-3f17a8cf587b.html**
the public domain i cant access

[2022-11-03 08:59] ioppermann commented on #432
Try to convert the audio to AAC.

[2022-11-03 09:13] ioppermann commented on #409
@seccentral

This is true. You can choose any name for the stream and the RTMP server will accept it (as long as the token is correct). If you want to use it, you can enter the internal address for this stream as a network source. The internal address is the same address you use for pushing the stream, but replace the host with `127.0.0.1:1935` (or whatever RTMP port you configured).

The process

[2022-11-03 11:46] seccentral commented on #409
Would be super useful to see incoming streams in the admin and especially playersite with their names taken from the ffmpeg cli command, helps a lot with debugging and overviewing multiple streams in dev environments like computer vision and ai tinkering: push a stream from a devkit board and see it pop in the playersite automatically

[2022-11-04 01:38] #438 closed, assigned to nobody

[2022-11-04 11:01] dwaynarang opened #439 "Unreal Engine Electra Player Audio Bug"
**Describe the bug**
Unreal Electra player can open a video only HLS playlist, but will crash if you open one with audio associated with it. I tried unreal engines version 4.27, 5.0.3, and 5.1 preview 2, all with the same results.

**To Reproduce**
Steps to reproduce the behavior:
Install unreal. new project. add electra player plugin. new media player, new streaming media source. add HLS url, and

[2022-11-04 11:13] jstabenow commented on #439
Error message from Discord:

When I try to enable audio of any sort ( passthrough AAC, AAC, MP3) it crashes unreal when I try to open the stream:
[code]

[code]

@dwaynarang thx :-) We'll take a look.

[2022-11-05 10:57] bbartem opened #440 "usb rullz not in video devices"
Карта захвата usb rullz не отображается в видеоустройствах.

[2022-11-05 22:10] Hoerli1337 opened #441 "Connection drops at high bitrate"
Hi! :)

I am using Restreamer to distribute my livestream to other platforms.
Restreamer is running in a LXC via proxmox.
-> datarhei-core v16.10.1 (linux/amd64) - orange-dawn-2621
-> datarhei-core v16.10.1 (linux/amd64) - solitary-feather-3863
(2 Cores, 4GB RAM, 20GB SSD)
For this I used the RTMP server.
My stream machine sends a 1440p stream with 60FPS and 17000kbps to Restreamer.
This sends the

[2022-11-06 21:11] svenerbeck commented on #440
Please understand that we can only process requests in English and with an error logfile.

[2022-11-06 21:11] #440 closed, assigned to nobody

[2022-11-06 21:12] svenerbeck commented on #441
We ask for your understanding that we only process requests with an error logfile.

[2022-11-06 23:45] threehappypenguins opened #442 "Can't get https to work"
please delete

[2022-11-07 00:23] threehappypenguins opened #443 "Can't get https to work"
Sorry I opened another ticket. I can't figure out how to "unclose" the old one.

I just installed Restreamer on a GCP instance without issue. In the GCP firewall, I have opened ports 8080 and 8181 (and also 80 and 443 by default), and via SSH I have added the following to my iptables:

[code]

I can see my rules when I do:

`sudo iptables -t nat -L`

I can access the ui without issue by going to h

[2022-11-07 01:33] threehappypenguins commented on #443
An additional, but related question. I had to delete my redirect rule for port 443 to 8181 in order to restream to YouTube which uses rtmps (and therefore port 443). It would not connect and restream unless I deleted the rule. How can I have a secure ssl ui site for restreamer unless I redirect port 443 to 8181 and simultaneously be able to restream with rtmps?

[2022-11-07 02:10] threehappypenguins opened #444 "Icecast: Cannot Type or Paste Address"
When adding an Icecast Publication and attempting to type or paste the Icecast address, I cannot type or paste anything into the Address box.

 - Debian Bullseye AMD 64 (GCP Instance)
 - Chrome, Firefox, Edge
 - v16.10.1

[2022-11-07 02:24] threehappypenguins commented on #444
Whoops, sorry. [Duplicate issue](https://github.com/datarhei/restreamer/issues/429).

[2022-11-07 02:30] threehappypenguins opened #445 "Custom RTMP?"
This may be obvious, but I cannot find the answer. How can I add a custom rtmp address and stream key? For example, if I go to add a Program and choose "RTMP", I can add an rtmp address, but there is no option anywhere to add a stream key.

How can I add both an rtmp address AND stream key together?

[2022-11-07 07:29] shortcast20 opened #446 "SRT/OBS Issue"
Hi,

At first, I am a streamer on Twitch and I would like to make IRL streams by using SRT Protocol.
My broadcast software that I'm using is OBS Studio.

When I installed restreamer on my computer, I did the steps like the documentations. But it seems to not working correctly with SRT.
With the RTMP, it is working correctly, as long as I put srt://192.168.X.X:6000 in my OBS.... as shown in the vid

[2022-11-07 07:48] svenerbeck commented on #446
We only process tickets with error logs. It is necessary, especially in your case, to see the error. Here you can see how to get the logfile: https://www.youtube.com/watch?v=mZMGrweFCsM — Thank you for being so understanding.

[2022-11-07 08:22] ioppermann commented on #445
You can simply concatenate them. The stream key is usually the last part of the RTMP address, e.g. `rtmp://stream.example.com/live/[stream key]`.

[2022-11-07 08:23] #444 closed, assigned to nobody

[2022-11-07 08:23] #442 closed, assigned to nobody

[2022-11-07 08:35] shortcast20 commented on #446
Unfortunately, I am not able to get the report...

[2022-11-07 08:47] svenerbeck commented on #446
Unfortunately, we can not help you without the report.

[2022-11-07 13:07] svenerbeck commented on #446
Please take a look at Discord PM.

[2022-11-07 15:26] svenerbeck opened #447 "For what do you use the datarhei Restreamer?"
In what kind of environment do you use the datarhei Restreamer?

/polls "I am a streamer on a streaming platform like Twitch." "I am a software developer and run my project." "I am a professional broadcaster."

[2022-11-07 15:31] #447 closed, assigned to nobody

[2022-11-07 21:30] threehappypenguins commented on #445
Works perfectly. Thanks!

[2022-11-07 21:30] #445 closed, assigned to nobody

[2022-11-08 01:09] threehappypenguins commented on #443
I was able to get somewhere when I read [this post](https://github.com/datarhei/restreamer/issues/430#issuecomment-1282663666) here on changing 8181 to 443 for the docker container itself (443:443).

In the UI, I changed it from 8181 to 443, and then opened the log to watch what happened (`docker logs --follow <container ID>`). I saw a certificate was created and all was well, and I could access t

[2022-11-08 02:23] threehappypenguins opened #448 "Redirect http to https?"
I have a GCP instance running Debian Bullseye, and I managed to get https working by running the docker image with 443:443 (rather than 8181:8181) and in the UI, changing the 8181 to 443 as well.

But I cannot figure out how to redirect http to https so that the http page is not facing the internet. I know how to redirect with apache and nginx, but I don't know what to do with restreamer? What web

[2022-11-08 19:45] threehappypenguins commented on #374
I noticed that you got this all working, and on your site, it redirects http to https. How did you get it to redirect? I cannot figure this out.

[2022-11-09 02:15] threehappypenguins commented on #448
I have solved the issue, but my solution does not involve using the ui to create the certificates since I cannot figure out how to redirect http to https this way. Here is what I did:

In GCP firewall, I made sure ports TCP 80 and 443 were open publicly (port 80 must be open since Letsencrypt uses that port for certificates). I also opened TCP ports 8080 and 81 but only allowed my home network's I

[2022-11-09 02:18] threehappypenguins commented on #443
I was able to resolve everything, as explained [here](https://github.com/datarhei/restreamer/issues/448#issuecomment-1308106724).

[2022-11-09 02:18] #443 closed, assigned to nobody

[2022-11-09 02:18] #448 closed, assigned to nobody

[2022-11-09 10:54] riddlenl opened #451 "Muxing in audio does not work in Player"
Muxing audio streams in on a video stream in the wizard, does not work with the (embedded) player. It does work to publications like Twitch, but not on the webpage itself. As if it just streams the incoming feed, not the actual end product.

[2022-11-09 10:54] riddlenl commented on #429
@jstabenow saw my last message above? Keeps loading after saving the form

[2022-11-09 13:27] jstabenow commented on #429
Yes, I did, and I will fix it as soon as I have the time 👍

[2022-11-09 13:35] riddlenl commented on #429
Great, good to know. Thank you for your effort :)

[2022-11-09 13:45] jstabenow commented on #451
1. please attach the process report.
2. have you unmuted the player? (could not detect any problem)
3. encode audio to AAC if necessary

[2022-11-09 14:18] #425 closed, assigned to ioppermann

[2022-11-10 10:05] ioppermann commented on #439
@dwaynarang Have you tried it with the latest version of Restreamer? It looks like you're using an older version. Which version are you on?

The error message says, that it can't find the segment "/memfs/ad5946cb-17b8-4612-a0d6-8841d1a5b23d_0003_var0.mp4" (`HTTP returned status 404`). It might be that the player is using the information from an outdated playlist.

Neither of us is a Unreal Engine

[2022-11-10 16:31] dwaynarang commented on #439
How do I get the latest version? My version is  "datarhei-core v16.9.1 (linux/arm64) - dawn-rice-5488"  which i got by running the code from "https://github.com/datarhei/restreamer" under the RaspPi section. Is that the most recent version? If not, how do I get it?

[2022-11-11 11:12] utilsites commented on #433
Hi, any news regarding this improvement?
Best regards.

[2022-11-11 13:49] andersoncgpb1 opened #452 "SRT Vmix"
I did all the configuration in Vmix and it didn't work, can someone help me?
[https://ibb.co/pxVrt0s](url)
[https://ibb.co/7bDQpK7](url)
[https://ibb.co/0cTdV7p](url)

[2022-11-11 15:34] svenerbeck commented on #452
Hello @andersoncgpb1
Is that obsolete with the update you wrote in Discord?

Cheerio
Sven

[2022-11-11 17:14] ioppermann commented on #439
You can get the latest version with `pull datarhei/restreamer:rpi-latest`. Then you have to restart the currently running container.

[2022-11-12 14:54] jstabenow commented on #419
Please check the latest `datarhei/restreamer:cuda-latest` image.
It's now CUDA v11.7.1

[2022-11-12 14:57] jstabenow commented on #433
Please check our current version (2.4.0).

[2022-11-12 15:11] jstabenow commented on #431
It's inside v2.4.0:

![Bildschirmfoto 2022-11-12 um 15 59 48](https://user-images.githubusercontent.com/7462030/201480176-83d1c032-7c72-42a8-811a-552e945e75c8.png)

Thanks, @FilipStadler 👍

[2022-11-12 15:11] #431 closed, assigned to jstabenow

[2022-11-12 19:33] Hoerli1337 commented on #441
Which logs would you like to have?
Here are a few extracts:

**Docker:**
[code]

**Process Details:**
[code]

**Process Report:**
[code]

[2022-11-13 12:33] wilkerq commented on #452
how to use in vmix? all the ways I tried, no signal arrives

[2022-11-13 14:23] badincite opened #453 "Stream pausing"
Attempting to get a m3u8 stream to pause and resume where paused from. As it is right now after resuming from pause it just jumps to the live stream. I also tried adjusting some of the caching settings to see if that would allow for pausing with no luck. The manual documentation doesn't appear to be there yet for this expert mode setting.

Running in docker and just upgraded to the newest 2.4.0

[2022-11-13 14:56] dwaynarang commented on #439
Not sure if you're on discord as well, but I have been able to update to the current version of restreamer with the same results. :(

[2022-11-13 16:02] specuniu opened #454 "RTMP IP camera stream error after restart restreamer service"
I have ongoing RTMP stream from IP camera. After restart Restreamer service RTMP stream from restreamer can't start. After double check all settings I have found solution - I have to stop RTMP from camera and after Start it again. Could you double check it in restreamer code?

"Error: rtmp://localhost/xyz.stream: I/O error"

[2022-11-13 17:40] Jacob1532 opened #455 "Get "Failed to verify the source. Please check the address." under latest docker version"
**Describe the bug**
I have running restreamer since more then 6 months now and no problems.
I update the recreate the docker container today and couldn't establish the connection to the RTSP-Stream. I recreate the container in regular terms, and normally I don't even have to re establish the connection. But today I received the error "Failed to verify the source. Please check the adress.
I check

[2022-11-13 18:44] jstabenow commented on #455
Error detected ;-)

[code]

Damn. Will fix it asap. Thx for your feedback!

[2022-11-13 18:50] jstabenow commented on #454
1. Restreamer version?
2. Please attach the process report

[2022-11-14 00:22] andersoncgpb1 commented on #452
Yes, I disabled the Windows firewall

[2022-11-14 12:11] svenerbeck commented on #453
Hello @badincite

No data is stored by default. That's why the video data for playback is missing. First, you have to activate the [DVR](https://www.youtube.com/watch?v=7MLVp0alTtA). Then DVR function will save the stream in the background. If you then restart, it goes on in the optima case.

Cheerio
Sven

[2022-11-14 12:12] #452 closed, assigned to svenerbeck

[2022-11-14 19:07] utilsites commented on #433
Nice! Going to test the latest version.
Does it have a new UI setting to set the minimum fps?

[2022-11-14 23:11] riddlenl commented on #451
@jstabenow
Re-encoding through AAC+ does indeed give audio. Passthrough or re-encoding with MP3 gets no audio on the HLS/RTMP stream and the player, but it does go through to external destinations.

[2022-11-15 08:02] svenerbeck opened #458 "how do I use str in vmix, I've tried here and I couldn't!"
how do I use str in vmix, I've tried here and I couldn't!

_Originally posted by @wilkerq in https://github.com/datarhei/restreamer/discussions/457_

[2022-11-15 08:14] svenerbeck commented on #458
Hello @wilkerq
We only work on tickets with error logs to help efficiently. Here you can see how to get the logfile: [https://www.youtube.com/watch?v=mZMGrweFCsM](https://www.youtube.com/watch?v=mZMGrweFCsM) - Thank you for your understanding.

Cheerio
Sven

[2022-11-15 09:20] svenerbeck commented on #129
💙💚🧡💜 Help datarhei with a rating or review on Google. #feelsgoodtobeloved [https://t.co/ZT9pRX1gG7](https://t.co/ZT9pRX1gG7)

[2022-11-15 09:20] #129 closed

[2022-11-15 09:20] svenerbeck commented on #140
💙💚🧡💜 Help datarhei with a rating or review on Google. #feelsgoodtobeloved [https://t.co/ZT9pRX1gG7](https://t.co/ZT9pRX1gG7)

[2022-11-15 09:20] #140 closed

[2022-11-15 09:21] svenerbeck commented on #146
💙💚🧡💜 Help datarhei with a rating or review on Google. #feelsgoodtobeloved [https://t.co/ZT9pRX1gG7](https://t.co/ZT9pRX1gG7)

[2022-11-15 09:21] #146 closed

[2022-11-15 09:26] svenerbeck commented on #313
💛 If you were satisfied with the support, and we could help you, please **[rate us on Google](https://g.page/r/CSv68cfIr9l9EBE/review)**.

[2022-11-15 09:26] #313 closed

[2022-11-15 09:27] svenerbeck commented on #243
The docs are currently under revision. 💛 If you were satisfied with the support and we could help you, please **[rate us on Google](https://g.page/r/CSv68cfIr9l9EBE/review)**.

[2022-11-15 09:27] #243 closed

[2022-11-15 09:34] svenerbeck commented on #387
Hello @RubenWaterman
we are closing your issue #387.

This may be due to the following reasons:

- Problem/inquiry has been solved
- Ticket remained unanswered by you for a longer period
- Problem was explained and handled in another ticket

You can reopen this ticket at any time!

Please only open related tickets once! Always answer/ask in the original ticket with the same issue!

With kind regar

[2022-11-15 09:34] #387 closed, assigned to svenerbeck

[2022-11-15 09:35] svenerbeck commented on #362
Hello @ftrescue
We are closing your issue #362.

This may be due to the following reasons:

Problem/inquiry has been solved
Ticket remained unanswered by you for a longer period
Problem was explained and handled in another ticket
You can reopen this ticket at any time!

Please only open related tickets once! Always answer/ask in the original ticket with the same issue!

💛 If you were satisfied wit

[2022-11-15 09:35] #362 closed, assigned to svenerbeck

[2022-11-15 09:38] svenerbeck commented on #393
Dear @poopyface0931
We are closing your issue #393.

This may be due to the following reasons:

- Problem/inquiry has been solved
- Ticket remained unanswered by you for a longer period
- Problem was explained and handled in another ticket

You can reopen this ticket at any time!

Please only open related tickets once! Always answer/ask in the original ticket with the same issue!

💛 If you were sa

[2022-11-15 09:38] #393 closed, assigned to ioppermann

[2022-11-15 09:39] jstabenow commented on #428
Problem is solved in v2.4.x.

💛 If you were satisfied with the support, and we could help you, please [rate us on Google](https://g.page/r/CSv68cfIr9l9EBE/review).

[2022-11-15 09:39] #428 closed, assigned to jstabenow

[2022-11-15 09:40] svenerbeck commented on #394
Dear @ftrescue
We are closing your issue #394.

This may be due to the following reasons:

- Problem/inquiry has been solved
- Ticket remained unanswered by you for a longer period
- Problem was explained and handled in another ticket

You can reopen this ticket at any time!

Please only open related tickets once! Always answer/ask in the original ticket with the same issue!

💛 If you were satisfi

[2022-11-15 09:40] #394 closed, assigned to ioppermann

[2022-11-15 09:40] jstabenow commented on #401
💛 If you were satisfied with the support, and we could help you, please [rate us on Google](https://g.page/r/CSv68cfIr9l9EBE/review).

[2022-11-15 09:40] #401 closed, assigned to jstabenow

[2022-11-15 09:41] svenerbeck commented on #395
Dear @yayitazale
We are closing your issue #395.

This may be due to the following reasons:

- Problem/inquiry has been solved
- Ticket remained unanswered by you for a longer period
- Problem was explained and handled in another ticket

You can reopen this ticket at any time!

Please only open related tickets once! Always answer/ask in the original ticket with the same issue!

💛 If you were satis

[2022-11-15 09:41] #395 closed, assigned to jstabenow

[2022-11-15 09:42] svenerbeck commented on #397
Dear @Pimmetje
We are closing your issue #397.

This may be due to the following reasons:

- Problem/inquiry has been solved
- Ticket remained unanswered by you for a longer period
- Problem was explained and handled in another ticket

You can reopen this ticket at any time!

Please only open related tickets once! Always answer/ask in the original ticket with the same issue!

💛 If you were satisfi

[2022-11-15 09:42] #397 closed, assigned to ioppermann

[2022-11-15 09:46] svenerbeck commented on #415
Hi @DatCaptainHorse
Small sign of life from datarhei. Good news, we have FFmpeg 5.0 enabled in 2.4.x and are thus approaching AV1. Could work in the next version.

Greetings
Sven

[2022-11-15 09:49] svenerbeck commented on #420
Dear @FilipStadler
We are closing your issue #420.

This may be due to the following reasons:

- Problem/inquiry has been solved
- Ticket remained unanswered by you for a longer period
- Problem was explained and handled in another ticket

You can reopen this ticket at any time!

Please only open related tickets once! Always answer/ask in the original ticket with the same issue!

💛 If you were sat

[2022-11-15 09:49] #420 closed, assigned to jstabenow

[2022-11-15 09:51] jstabenow commented on #433
Look here:

![Bildschirmfoto 2022-11-15 um 10 46 38](https://user-images.githubusercontent.com/7462030/201886878-88a5d102-058a-4434-b12c-6cb8311b552f.png)

Channel setup > General > Video settings > Advanced settings > H.264 encoding

[2022-11-15 10:05] svenerbeck commented on #446
Hey Ho @shortcast20
Thank you for the log file in Discord. The file shows that no SRT data arrives at the Restreamer. The firewall can cause such an error on Windows. You should check it. Just disable it and see if it works.

Cheerio
Sven

[2022-11-15 10:08] jstabenow commented on #441
Hey @Hoerli1337
Thanks for the reports. `Incorrect chunk size -1762850559` looks bad.

I'll invest some more time here.

By the way:
Are you monitoring the system limits (kernel, net)? Could be a problem with the VM.

And try the latest v2.4.1^^

[2022-11-15 10:09] svenerbeck commented on #128
Dear @divx118 and @LckyLuciano
We are closing your issue #128

This may be due to the following reasons:

- Problem/inquiry has been solved
- Ticket remained unanswered by you for a longer period
- Problem was explained and handled in another ticket

You can reopen this ticket at any time!

Please only open related tickets once! Always answer/ask in the original ticket with the same issue!

💛 If y

[2022-11-15 10:09] #128 closed

[2022-11-15 10:41] svenerbeck commented on #455
Dear @Jacob1532
We are closing your issue #455.

This may be due to the following reasons:

- Problem/inquiry has been solved (Version 2.4.1)
- Ticket remained unanswered by you for a longer period
- Problem was explained and handled in another ticket

You can reopen this ticket at any time!

Please only open related tickets once! Always answer/ask in the original ticket with the same issue!

💛 If

[2022-11-15 10:41] #455 closed, assigned to ioppermann

[2022-11-15 11:48] itserviceam opened #459 "Get a static stream URL"
Hello,

is there a way to make the stream URL static? I have the problem that after every system restart (after system updates for exmaple) the HLS stream identifier changes.

[2022-11-15 12:10] jstabenow commented on #459
Hey, please...

1. Show your Docker command
2. Attach the process report

Thanks.

[2022-11-15 16:48] Hoerli1337 commented on #441
Hi @jstabenow
I have updated to the latest version after posting the logs.
Unfortunately the problem still occurs.
The VM or even the container (because Proxmox) is totally bored.
~5% CPU load and maximum 2GB RAM consumption.
There is no performance problem.
Per iPerf3 I have also tested the network card -> 1Gbits go through without problems.

[2022-11-15 16:52] badincite commented on #453
Awesome!

[2022-11-15 18:54] redrob opened #462 "ffmpeg: Unrecognized option 'stimeout'. on adding new network source"
On a fresh installation of the latest (v16.11.0) docker image on Ubuntu 18.04.6 LTS. I attempted to add a pull-type network source which happens to be an RTSP URL (rtsp://<IP>:554/s0). I also entered a username and password. When I click 'Probe' to continue I receive an error 'Failed to probe the source. Please check the [probe details]'. Upon inspecting the details I see a ffmpeg error;

Unrecogn

[2022-11-15 20:18] jstabenow commented on #462
Hey @redrob
It is fixed in v2.4.1. Please update to the latest version.

[2022-11-15 21:38] utilsites commented on #433
Updated to the latest version (2.4.1), configured the encoding setting to "Constant frame rate (CFR)", and now it **works well on iphone with a still image video**!!
And it's good to be processing on the latest ffmpeg version 5.

Thanks a lot! Amazing! @jstabenow
You deserve a donation, going to make that during this year.

Just a small note, it was difficult to find the setting, because it need t

[2022-11-15 21:39] #433 closed, assigned to jstabenow

[2022-11-15 22:03] jstabenow commented on #433
Ah, okay. I'm a little more familiar with the product :sweat_smile:
Glad to hear it's working. But **it works well on iphone with a still image video**?  Is that good?^^ Hope so.

And you're welcome.

[2022-11-15 23:06] utilsites commented on #433
Let me explain better, what was happening, like described above, was that when the images on the camera don't change during some seconds, the FPS goes down a lot, bellow 25, because the image is still during some seconds, so no new frames needed I think.
It seems like iOS does not like that, or at least with the default specific cam + restreamer configs, so the livrestream didn't work on iOS at le

[2022-11-15 23:08] jstabenow commented on #441
Can't reproduce it:

[code]

Process details:
![Bildschirmfoto 2022-11-15 um 23 53 10](https://user-images.githubusercontent.com/7462030/202042263-9ff26832-a270-4854-9551-56492954ccf8.png)

OBS footer:
![Bildschirmfoto 2022-11-15 um 23 53 26](https://user-images.githubusercontent.com/7462030/202042272-725f0415-da84-40ca-a809-dfa6d3e7b876.png)

OBS encoder settings:
![Bildschirmfoto 2022-11-15 um 2

[2022-11-16 09:37] svenerbeck commented on #462
Dear @redrob
We are closing your issue #462.

This may be due to the following reasons:

- Problem/inquiry has been solved
- Ticket remained unanswered by you for a longer period
- Problem was explained and handled in another ticket

You can reopen this ticket at any time!

Please only open related tickets once! Always answer/ask in the original ticket with the same issue!

💛 If you were satisfied

[2022-11-16 09:37] #462 closed, assigned to jstabenow

[2022-11-16 18:22] redrob commented on #462
Yes, all is working as expected now on the latest release. Thanks

[2022-11-16 21:20] svenerbeck opened #464 "How to properly install a second instance of Restreamer?"
### Discussed in https://github.com/datarhei/restreamer/discussions/450

<div type='discussions-op-text'>

<sup>Originally posted by **MauricioOnetto** November  8, 2022</sup>
Hi
I'm using Restreamer (behind NGINX) for a while and it works smooth
Thanks for that

Now I'm trying to install a second instance of Restreamer (same server) but I'm missing something

I could install it and validate with

[2022-11-17 00:24] MauricioOnetto commented on #464
I add my nginx conf

`server {
        listen 80;
        listen [::]:80;

        index index.php index.html index.htm index.nginx-debian.html;

        server_name my.domain.com;

        location / {
            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "upgrade";
            proxy_pass http://localhost:8080;
        }
}`

[2022-11-17 12:05] orryverducci opened #465 "Support for deinterlacing"
It would be great if Restreamer had the ability to deinterlace input video sources. This would make it easier to use Restreamer in a broadcast facility, which usually operates with interlaced video formats (e.g. 1080i50).

Ideally this should have the option to deinterlace to half motion at the same framerate as the source, or full motion at double the source frame rate (i.e. 25fps interlaced to 5

[2022-11-17 12:59] jstabenow commented on #465
Sounds good!
Can you show the required commands (x264, VAAPI, CUDA) like `ffmpeg {input options} {input} {output options} {output}`? Would be helpful.

[2022-11-17 15:33] jeffmikels opened #466 "Publish to File"
Perhaps it's already possible, but I'd like a publish option that saves my stream to a file locally and then optionally copy/move it to another location after the stream ends. I can do this directly with nginx-rtmp, but I don't see a similar option in restreamer's web gui.

[2022-11-17 18:14] svenerbeck commented on #465
Hello @orryverducci
Do you have any more exciting hints on optimizing the Restreamer for professional broadcasting?
You can contact me by mail if you are interested at support@datarhei.com.
We could make adjustments for the updates to take that into account. Thanks for your helpful input to improve the software. Kind regards from Switzerland
Sven

[2022-11-17 20:39] 7ekhed commented on #416
Wow, you guys actually took action on an idea of mine.... That's a first!!!

Thank you SO much for doing this!!

[2022-11-18 06:52] svenerbeck commented on #446
Dear @shortcast20
We are closing your issue #446.

This may be due to the following reasons:

- Problem/inquiry has been solved
- Ticket remained unanswered by you for a longer period
- Problem was explained and handled in another ticket

You can reopen this ticket at any time!

Please only open related tickets once! Always answer/ask in the original ticket with the same issue!

💛 If you were sati

[2022-11-18 06:52] #446 closed, assigned to svenerbeck

[2022-11-18 11:18] svenerbeck commented on #453
Dear @badincite
We are closing your issue #453.

This may be due to the following reasons:

- **Problem/inquiry has been solved**
- Ticket remained unanswered by you for a longer period
- Problem was explained and handled in another ticket

You can reopen this ticket at any time!

Please only open related tickets once! Always answer/ask in the original ticket with the same issue!

💛 If you were sa

[2022-11-18 11:18] #453 closed, assigned to svenerbeck

[2022-11-18 16:39] svenerbeck commented on #432
Dear @riddlenl
We are closing your issue #432.

This may be due to the following reasons:

- Problem/inquiry has been solved
- Ticket remained unanswered by you for a longer period
- Problem was explained and handled in another ticket

You can reopen this ticket at any time!

Please only open related tickets once! Always answer/ask in the original ticket with the same issue!

💛 If you were satisfi

[2022-11-18 16:39] #432 closed, assigned to jstabenow

[2022-11-18 16:40] svenerbeck commented on #402
Dear @DachsbauTV
We are closing your issue #402.

This may be due to the following reasons:

- Problem/inquiry has been solved
- Ticket remained unanswered by you for a longer period
- Problem was explained and handled in another ticket

You can reopen this ticket at any time!

Please only open related tickets once! Always answer/ask in the original ticket with the same issue!

💛 If you were satis

[2022-11-18 16:40] #402 closed, assigned to svenerbeck

[2022-11-18 16:48] Hoerli1337 commented on #441
Here are my settings.
I have not set anything special.
![OBS Config](https://user-images.githubusercontent.com/13108516/202757933-a6cde2fd-5e1b-4c51-87a7-5879e63d0026.png)
Tested it with x264 and NVENC.

The VM is not busy or limited in any way.
I do not understand this right now either :(

[2022-11-19 15:31] Eruthon opened #467 "Unable to add network source after 2.4.0"
**Describe the bug**
With v2.3.0 I could add rtsp://*IP*/mpeg4/media.amp for my Axis 211M camera. After the update the GUI succesfully probes the stream, but doesn't let me click NEXT at "Video setup" page, after which the "Audio Setup" page should show up as in v2.3.0. It works with my other newer camera, though.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on Camera list button
2.

[2022-11-19 17:29] Azhdar1990 opened #468 "Send srt stream link from restreamer to watch from VLC player"
Hello.
First of all thanks for this great project.
When i start to stream srt from OBS i put a link from restreamer which I've installed on docker.
After starting the stream from OBS everything works fine and i see my stream via web player which is included in restream.
But how can i watch my stream from VLC player or send srt link for my friends so they can see the stream?
I will be very pleased

[2022-11-19 18:19] orryverducci commented on #465
Hi both,

@svenerbeck I have a few suggestions, which I can either post here as feature suggestions or email to you. Let me know what you'd prefer. The big features that would be very useful but currently missing are this one and support for SDI input hardware, such as Decklink cards (already requested in #332).

@jstabenow Here's the FFmpeg commands you requested for CPU encoding and VAAPI. I'll

[2022-11-19 18:19] goblinmaks commented on #331
@owenilc could you please share guide how to configure CloudFlare and Restreamer work correctly ?
Thanks,

[2022-11-19 18:30] goblinmaks opened #469 "How to add simple authorization for Playersite"
How to add simple authorization for playersite if it possible ?
Thanks,

[2022-11-19 21:35] svenerbeck commented on #467
Hello @Eruthon
Please update to the latest version v2.4.1 to solve the error.
Cheerio
Sven

[2022-11-20 09:10] Eruthon commented on #467
Hi @svenerbeck
Been there, done that. Didn't help. I've read some issues here that were solved by it, but not mine.

[2022-11-20 17:04] FilipStadler commented on #468
For some strange reason not all vlc players have inluded support for SRT - my vlc 3.16 on linux have rist but not srt
the link for view should be visible on the Content URL - I dont why SRT its not really in all vlc by now when RIST is.

 - you can also try with the Larix Player https://softvelum.com/player/

[2022-11-20 17:26] Azhdar1990 commented on #468
But where can I get a link to put in vlc or another player?
I know only one link, which I put into OBS to stream to restreamer server.

[2022-11-20 17:32] FilipStadler commented on #468
![srtlink](https://user-images.githubusercontent.com/24371165/202916871-6b533eb1-e742-4f07-859b-7343539dd3ed.png)

If you are running a SRT server...

[2022-11-21 05:14] Azhdar1990 commented on #468
VLC is support srt.
I've used Content URL in vlc player but it don't play stream.
I have also Vimix server.
I just put a link to the vlc player from Vimix "srt://vimixip:port" and then vlc player starts show stream.
Maybe srt server on restreamer must be configure somehow that vlc start to get stream from it?

[2022-11-21 10:00] svenerbeck commented on #467
Hello @Eruthon
Thanks for reporting the error. We will fix the bug in one of the following versions. Until then, use the **workaround and switch to the advanced wizard**. We were able to create the video sources.
![Bildschirm­foto 2022-11-21 um 10 57 29](https://user-images.githubusercontent.com/12124066/203021468-367ceece-6c52-4965-8e0a-55230da28fb5.png)

Cheerio
Sven

[2022-11-21 11:07] Eruthon commented on #467
Yep, that works, thx

[2022-11-21 12:12] jstabenow commented on #465
Hey @orryverducci
Thanks a lot for the examples.
Unfortunately, we can't support hardware filters (GPU). That's why we have to update VAAPI later.

However, `bwdif` integration is not a problem and available in the current dev-image:
datarhei/restreamer:dev

Feel free to test this and let me know if you have problems.

[2022-11-21 13:49] jstabenow commented on #441
Looks like an exciting problem that needs deeper insight.

So, please get in touch with support@datarhei.com.
Subject: `Restreamer, issue 441`

[2022-11-21 20:04] owenilc commented on #331
@goblinmaks Hi, I am using CloudFlare tunnel to expose my Restreamer UI web.

I have my DNS record hosted by CloudFlare, using Cloudflare ZeroTrust Web to create tunnels.

After tunnel being created, just add a public hostname. give the hostname and Restreamer's private IP address.
And it is going public now.

you may found this useful link to help setup CloudFlare Tunnels:
https://noted.lol/say-g

[2022-11-21 23:27] srgzx commented on #467
Same issue here, and the workaround (using advanced mode) works perfectly.  Thank you <3

[2022-11-22 00:45] srgzx commented on #465
Bwdif works well enough for me.  Going to test in a few, thank you.

[2022-11-22 10:05] svenerbeck commented on #469
Hi @goblinmaks

HTAccess does not exist right now. You could solve this just using NGINX with proxy forwards and keeping the Restreamer sites separately.

Cheerio
Sven

[2022-11-22 11:30] orryverducci commented on #465
Just given it a quick test run, and it looks good to me. I'm back in work on Friday so I'll give it a proper test then with the interlaced streams I intend to use it on and come back to you.

Looking at the commit I didn't realise it was that simple to implement. I did try to do it myself but couldn't figure out what was in core or the UI.

I've checked the Nvidia commands. They use input/decoder

[2022-11-23 11:42] FilipStadler commented on #331
Is it possible to tunnel SRT UDP traffic also and rtmp also?

[2022-11-23 14:36] Martijndutch opened #474 "Nothing happens when selecting Youtube or any other streaming service"
When I try to publish a stream to e.g. youtube, nothing happens when I click the logo. There seems to be a browser error.

Maybe related, maybe not: I can't get SSL to work. I've entered all the data, forwarded the port and so on, but when trying to connect at 8181 it refuses to connect.

Environment: Proxmox VM running Ubuntu 20, fresh install with no other software running on the VM. Tried diffe

[2022-11-23 15:12] Alekspom opened #475 "Sound distortion"
In the process of broadcasting, at some point in time, sound distortion begins in the restream stream. Link to example files:
https://disk.yandex.ru/d/vTxN-IySTvjaEQ
(2 fragments are presented: the original stream and the stream after the restreamer).
What could be the problem?

The effect has been tested and confirmed repeatedly.

Thank you for your time!

[2022-11-23 18:56] ioppermann commented on #474
Unfortunatly, I can't reproduce the error with the publication to Youtube.

What is your docker command and please share your "Process report" (https://docs.datarhei.com/restreamer/knowledge-base/manual/process-report) while the stream is connected.

The failing SSL setup is most likely not connected to the error you experience with the publication service.

[2022-11-23 21:05] svenerbeck commented on #63
Hello

We have converted the request into a feature request. Follow the discussion  https://github.com/datarhei/restreamer/discussions/345#discussion-4108562 to stay current, and see when your feature becomes active.

Please appreciate it if we only implement some features, which may take some time.

We are closing this issue.

Cheerio
Sven

[2022-11-23 21:05] #63 closed

[2022-11-23 21:05] svenerbeck commented on #83
Hello

We have converted the request into a feature request. Follow the discussion  https://github.com/datarhei/restreamer/discussions/345#discussion-4108562 to stay current, and see when your feature becomes active.

Please appreciate it if we only implement some features, which may take some time.

We are closing this issue.

Cheerio
Sven

[2022-11-23 21:05] #83 closed

[2022-11-23 21:06] svenerbeck commented on #95
Hello

We have converted the request into a feature request. Follow the discussion  https://github.com/datarhei/restreamer/discussions/345#discussion-4108562 to stay current, and see when your feature becomes active.

Please appreciate it if we only implement some features, which may take some time.

We are closing this issue.

Cheerio
Sven

[2022-11-23 21:06] #95 closed

[2022-11-23 21:06] svenerbeck commented on #96
Hello

We have converted the request into a feature request. Follow the discussion  https://github.com/datarhei/restreamer/discussions/345#discussion-4108562 to stay current, and see when your feature becomes active.

Please appreciate it if we only implement some features, which may take some time.

We are closing this issue.

Cheerio
Sven

[2022-11-23 21:06] #96 closed

[2022-11-23 21:07] svenerbeck commented on #399
Hello

We have converted the request into a feature request. Follow the discussion  https://github.com/datarhei/restreamer/discussions/345#discussion-4108562 to stay current, and see when your feature becomes active.

Please appreciate it if we only implement some features, which may take some time.

We are closing this issue.

Cheerio
Sven

[2022-11-23 21:07] #399 closed, assigned to nobody

[2022-11-23 21:07] svenerbeck commented on #105
Hello

We have converted the request into a feature request. Follow the discussion  https://github.com/datarhei/restreamer/discussions/345#discussion-4108562 to stay current, and see when your feature becomes active.

Please appreciate it if we only implement some features, which may take some time.

We are closing this issue.

Cheerio
Sven

[2022-11-23 21:07] #105 closed

[2022-11-23 21:07] svenerbeck commented on #113
Hello

We have converted the request into a feature request. Follow the discussion  https://github.com/datarhei/restreamer/discussions/345#discussion-4108562 to stay current, and see when your feature becomes active.

Please appreciate it if we only implement some features, which may take some time.

We are closing this issue.

Cheerio
Sven

[2022-11-23 21:07] #113 closed

[2022-11-23 21:08] svenerbeck commented on #119
Hello

We have converted the request into a feature request. Follow the discussion  https://github.com/datarhei/restreamer/discussions/345#discussion-4108562 to stay current, and see when your feature becomes active.

Please appreciate it if we only implement some features, which may take some time.

We are closing this issue.

Cheerio
Sven

[2022-11-23 21:08] #119 closed

[2022-11-23 21:08] svenerbeck commented on #392
Hello

We have converted the request into a feature request. Follow the discussion  https://github.com/datarhei/restreamer/discussions/345#discussion-4108562 to stay current, and see when your feature becomes active.

Please appreciate it if we only implement some features, which may take some time.

We are closing this issue.

Cheerio
Sven

[2022-11-23 21:08] #392 closed, assigned to svenerbeck

[2022-11-23 21:08] svenerbeck commented on #171
Hello

We have converted the request into a feature request. Follow the discussion  https://github.com/datarhei/restreamer/discussions/345#discussion-4108562 to stay current, and see when your feature becomes active.

Please appreciate it if we only implement some features, which may take some time.

We are closing this issue.

Cheerio
Sven

[2022-11-23 21:08] #171 closed

[2022-11-23 21:09] svenerbeck commented on #229
Hello

We have converted the request into a feature request. Follow the discussion  https://github.com/datarhei/restreamer/discussions/345#discussion-4108562 to stay current, and see when your feature becomes active.

Please appreciate it if we only implement some features, which may take some time.

We are closing this issue.

Cheerio
Sven

[2022-11-23 21:09] #229 closed

[2022-11-23 21:09] svenerbeck commented on #183
Hello

We have converted the request into a feature request. Follow the discussion  https://github.com/datarhei/restreamer/discussions/345#discussion-4108562 to stay current, and see when your feature becomes active.

Please appreciate it if we only implement some features, which may take some time.

We are closing this issue.

Cheerio
Sven

[2022-11-23 21:09] #183 closed

[2022-11-23 21:09] svenerbeck commented on #233
Hello

We have converted the request into a feature request. Follow the discussion  https://github.com/datarhei/restreamer/discussions/345#discussion-4108562 to stay current, and see when your feature becomes active.

Please appreciate it if we only implement some features, which may take some time.

We are closing this issue.

Cheerio
Sven

[2022-11-23 21:09] #233 closed

[2022-11-23 21:09] svenerbeck commented on #237
Hello

We have converted the request into a feature request. Follow the discussion  https://github.com/datarhei/restreamer/discussions/345#discussion-4108562 to stay current, and see when your feature becomes active.

Please appreciate it if we only implement some features, which may take some time.

We are closing this issue.

Cheerio
Sven

[2022-11-23 21:09] #237 closed

[2022-11-23 21:10] svenerbeck commented on #277
Hello

We have converted the request into a feature request. Follow the discussion  https://github.com/datarhei/restreamer/discussions/345#discussion-4108562 to stay current, and see when your feature becomes active.

Please appreciate it if we only implement some features, which may take some time.

We are closing this issue.

Cheerio
Sven

[2022-11-23 21:10] #277 closed

[2022-11-23 21:10] svenerbeck commented on #305
Hello

We have converted the request into a feature request. Follow the discussion  https://github.com/datarhei/restreamer/discussions/345#discussion-4108562 to stay current, and see when your feature becomes active.

Please appreciate it if we only implement some features, which may take some time.

We are closing this issue.

Cheerio
Sven

[2022-11-23 21:10] #305 closed

[2022-11-23 21:10] svenerbeck commented on #310
Hello

We have converted the request into a feature request. Follow the discussion  https://github.com/datarhei/restreamer/discussions/345#discussion-4108562 to stay current, and see when your feature becomes active.

Please appreciate it if we only implement some features, which may take some time.

We are closing this issue.

Cheerio
Sven

[2022-11-23 21:10] #310 closed

[2022-11-23 21:11] svenerbeck commented on #318
Hello

We have converted the request into a feature request. Follow the discussion  https://github.com/datarhei/restreamer/discussions/345#discussion-4108562 to stay current, and see when your feature becomes active.

Please appreciate it if we only implement some features, which may take some time.

We are closing this issue.

Cheerio
Sven

[2022-11-23 21:11] #318 closed

[2022-11-23 21:11] svenerbeck commented on #325
Hello

We have converted the request into a feature request. Follow the discussion  https://github.com/datarhei/restreamer/discussions/345#discussion-4108562 to stay current, and see when your feature becomes active.

Please appreciate it if we only implement some features, which may take some time.

We are closing this issue.

Cheerio
Sven

[2022-11-23 21:11] #325 closed, assigned to svenerbeck

[2022-11-23 21:12] svenerbeck commented on #342
Hello

We have converted the request into a feature request. Follow the discussion  https://github.com/datarhei/restreamer/discussions/345#discussion-4108562 to stay current, and see when your feature becomes active.

Please appreciate it if we only implement some features, which may take some time.

We are closing this issue.

Cheerio
Sven

[2022-11-23 21:12] #342 closed, assigned to svenerbeck

[2022-11-23 21:16] svenerbeck commented on #366
Hello

We are closing your ticket https://github.com/datarhei/restreamer/issues/366.

This may be due to the following reasons:

- Problem/inquiry has been solved
- Ticket remained unanswered by you for a more extended period
- Problem was explained and handled in another ticket

You can reopen this ticket at any time!

Please only open related tickets once! Always answer/ask in the original ticke

[2022-11-23 21:16] #366 closed, assigned to jstabenow

[2022-11-23 21:17] svenerbeck commented on #191
Hello

We are closing your ticket https://github.com/datarhei/restreamer/issues/366.

This may be due to the following reasons:

- Problem/inquiry has been solved
- Ticket remained unanswered by you for a more extended period
- Problem was explained and handled in another ticket

You can reopen this ticket at any time!

Please only open related tickets once! Always answer/ask in the original ticke

[2022-11-23 21:17] #191 closed

[2022-11-23 21:17] svenerbeck commented on #357
Hello

We are closing your ticket https://github.com/datarhei/restreamer/issues/357.

This may be due to the following reasons:

- Problem/inquiry has been solved
- Ticket remained unanswered by you for a more extended period
- Problem was explained and handled in another ticket

You can reopen this ticket at any time!

Please only open related tickets once! Always answer/ask in the original ticke

[2022-11-23 21:17] #357 closed, assigned to ioppermann

[2022-11-23 21:18] svenerbeck commented on #176
Hello

We are closing your ticket https://github.com/datarhei/restreamer/issues/176.

This may be due to the following reasons:

- Problem/inquiry has been solved
- Ticket remained unanswered by you for a more extended period
- Problem was explained and handled in another ticket

You can reopen this ticket at any time!

Please only open related tickets once! Always answer/ask in the original ticke

[2022-11-23 21:18] #176 closed

[2022-11-23 21:19] svenerbeck commented on #373
Hello

We have converted the request into a feature request. Follow the discussion (https://github.com/datarhei/restreamer/discussions/345#discussion-4108562) to stay current, and see when your feature becomes active.

Please appreciate it if we only implement some features, which may take some time.

We are closing this issue.

Cheerio
Sven

[2022-11-23 21:19] #373 closed, assigned to svenerbeck

[2022-11-23 21:19] svenerbeck commented on #376
Hello

We have converted the request into a feature request. Follow the discussion (https://github.com/datarhei/restreamer/discussions/345#discussion-4108562) to stay current, and see when your feature becomes active.

Please appreciate it if we only implement some features, which may take some time.

We are closing this issue.

Cheerio
Sven

[2022-11-23 21:19] #376 closed, assigned to svenerbeck

[2022-11-23 21:20] svenerbeck commented on #408
Hello

We are closing your ticket https://github.com/datarhei/restreamer/issues/408.

This may be due to the following reasons:

- Problem/inquiry has been solved
- Ticket remained unanswered by you for a more extended period
- Problem was explained and handled in another ticket

You can reopen this ticket at any time!

Please only open related tickets once! Always answer/ask in the original ticke

[2022-11-23 21:20] #408 closed, assigned to svenerbeck

[2022-11-23 21:21] svenerbeck commented on #384
Hello

We are closing your ticket https://github.com/datarhei/restreamer/issues/384.

This may be due to the following reasons:

- Problem/inquiry has been solved
- Ticket remained unanswered by you for a more extended period
- Problem was explained and handled in another ticket

You can reopen this ticket at any time!

Please only open related tickets once! Always answer/ask in the original ticke

[2022-11-23 21:21] #384 closed, assigned to svenerbeck

[2022-11-23 21:23] svenerbeck commented on #416
Hello

We have converted the request into a feature request. Follow the discussion (https://github.com/datarhei/restreamer/discussions/345#discussion-4108562) to stay current, and see when your feature becomes active.

Please appreciate it if we only implement some features, which may take some time.

We are closing this issue.

Cheerio
Sven

[2022-11-23 21:23] #416 closed, assigned to svenerbeck

[2022-11-23 21:23] svenerbeck commented on #415
Hello

We are closing your ticket https://github.com/datarhei/restreamer/issues/415.

This may be due to the following reasons:

- Problem/inquiry has been solved
- Ticket remained unanswered by you for a more extended period
- Problem was explained and handled in another ticket

You can reopen this ticket at any time!

Please only open related tickets once! Always answer/ask in the original ticke

[2022-11-23 21:23] #415 closed, assigned to svenerbeck

[2022-11-24 04:26] ithouse98 commented on #233
Ok, sounds great.
Thanks to you .

On Thu, Nov 24, 2022, 12:39 AM Sven Erbeck ***@***.***> wrote:

[2022-11-24 06:41] svenerbeck commented on #467
Hello @Eruthon

We are closing your ticket https://github.com/datarhei/restreamer/issues/467.

This may be due to the following reasons:

- Problem has been solved
- Ticket remained unanswered by you for a more extended period
- Problem was explained and handled in another ticket

You can reopen this ticket at any time!

Please only open related tickets once! Always answer/ask in the original tick

[2022-11-24 06:41] #467 closed, assigned to svenerbeck

[2022-11-24 13:21] Martijndutch commented on #474
Shoot me. I've stopped/started the stream and then it worked. I've installed a second docker image and can't reproduce it either. Consider it a glitch, closed.

[2022-11-24 13:21] #474 closed, assigned to ioppermann

[2022-11-24 14:11] svenerbeck commented on #458
Hello @wilkerq

We are closing your ticket https://github.com/datarhei/restreamer/issues/458.

This may be due to the following reasons:

- Problem/inquiry has been solved
- Ticket remained unanswered by you for a more extended period
- Problem was explained and handled in another ticket

You can reopen this ticket at any time!

Please only open related tickets once! Always answer/ask in the origi

[2022-11-24 14:11] #458 closed, assigned to svenerbeck

[2022-11-24 18:36] msikorski26 opened #476 "HTML player does not play source from restreamer"
HLS source not loading in HTML player

HTML code:
`<video width="600" height="400" controls>
    <source src="url" type="application/x-mpegURL">
</video>`

[2022-11-24 18:43] jstabenow commented on #476
Hello @mscodepl

Please:
1. Please attach the process report
2. Describe where the error occurs

Thx.

[2022-11-24 18:45] jstabenow commented on #475
Hey @Alekspom
Please attach the process report.
Afterward, we'll take a look.

Thx.

[2022-11-24 19:15] jstabenow commented on #466
Unfortunately no.

However, sending the stream to an HTTP server is possible using the DASH/HLS publishing service.
![Bildschirmfoto 2022-11-24 um 19 46 11](https://user-images.githubusercontent.com/7462030/203849778-8b8aca52-7986-45c5-8cee-31db0ffce137.png)

Process flow:
`livestream` <- `HLS/DASH publication service` -> `HTTP-server (POST/PUT)` -> `Disk`

Is that an option? This way, you can sav

[2022-11-24 19:31] jstabenow commented on #465
@orryverducci
The filter section is not complex. So feel free to submit new filters/create a pull-request. Or let's discuss it.
You are welcome.

And Nvidia is cool. Neither a filter nor a codec setting.
It's something new. Damn... :joy: We will find a place.  Thank you very much.

[2022-11-24 19:50] jstabenow commented on #464
@MauricioOnetto
Did you try this?
https://docs.datarhei.com/restreamer/knowledge-base/user-guides/proxying

[2022-11-24 19:53] jstabenow commented on #454
Hello @specuniu

We are closing your ticket.

This may be due to the following reasons:
- Problem has been solved
- Ticket remained unanswered by you for a more extended period
- Problem was explained and handled in another ticket

You can reopen this ticket at any time!

Please only open related tickets once! Always answer/ask in the original ticket with the same issue!

With kind regards,
Your d

[2022-11-24 19:53] #454 closed, assigned to jstabenow

[2022-11-24 20:22] jstabenow commented on #468
Hey @Azhdar1990
VLC 3.0.17.3@OSX + Restreamer v2.4.x works.

1. Copy the SRT URL (@FilipStadler screener)
2. Use them in VLC.

And check the SRT URL:
srt://`address:port`/?mode=caller&transtype=live&streamid=`channelID`,mode:request

[2022-11-24 22:11] mihaipopoiag commented on #465
I just tested today my new compiled ffmpeg with cuda and cuvid deinterlace adaptive is working perfect. I wondered if cuda:latest has it, but i found you guys talking about it, so great!

And another suggestion, if you can add output protocol 'rtp_mpegts' wich also uses rtp://ip.address:port url
Thank You so much!

[2022-11-25 05:44] geepot commented on #411
I'd like to add to this. It looks like it might actually be going through some extra processing before it goes to SRT out.  Not sure of how else to verify this but I'll present what I'm seeing.   All of this is done on a fresh install of restreamer in docker and all configuration has been done through the UI.

I have my setup configured like so:
![image](https://user-images.githubusercontent.com/6

[2022-11-25 09:06] ioppermann commented on #411
If you send a stream with OBS using SRT to Restreamer and you use it as a source and want to publish it again to SRT, it will not be published again to the SRT server because it's already there. What you are pulling with VLC from Restreamer SRT is directly the stream you publish with OBS.

In VLC try to reduce the size of the buffer:
![image](https://user-images.githubusercontent.com/57445/2039406

[2022-11-25 09:50] jstabenow commented on #465
@mihaipopoiag
Please create a new issue for `rtp_mpegts`. Otherwise, we will get confused here ;-)
Thx

[2022-11-25 11:04] jstabenow commented on #439
Hey @dwaynarang
Can you test it again with the latest release? And if it fails, please show:
- Process report (https://docs.datarhei.com/restreamer/knowledge-base/manual/process-report)
- Unreals error logs

[2022-11-25 12:19] orryverducci commented on #465
Got the dev version running at work now on our channel output, and the bwdif deinterlacer itself is working really well!

The only small issue I've found though is that if you both enable the deinterlacer and set the video to be rotated (e.g. from 16:9 to portrait), the bwdif filter is applied after the rotate filter, which in effect breaks it (interlaced lines are visible). Ideally the deinterlac

[2022-11-25 13:44] Alekspom commented on #475
Ок

[2022-11-25 14:41] advphp opened #478 "video multi quality?"
How can I make more than one video quality?

4K
FHD
HD
SD

[2022-11-25 14:58] drboudjelida commented on #478
I am also interested in the answer

[2022-11-25 15:00] jstabenow commented on #478
Multiple bitrates are unsupported. But I put it to the [feature requests](https://github.com/datarhei/restreamer/discussions/345).
So follow the list and stay informed 👍

[2022-11-25 15:13] jstabenow commented on #465
Perfect. And the error is fixed in `dataehei/restreamer:dev`.

[2022-11-25 20:23] geepot commented on #411
Thanks for the sanity check. I’ll check my settings and look into the OBS side more and report back.

[2022-11-25 23:50] geepot commented on #411
Following up:
OBS encoding delay is definitely to blame here.  Switching from x264 to the AMD hardware encoder resulted in shaving off 2.5 seconds of latency from both RTMP and SRT.  There is a spot in OBS for x264 options and I'll have to play around with that to see if I can achieve the same latency drop with the CPU encoder.  I would be curious to see if this applies to CPU vs hardware accelera

[2022-11-26 03:15] HeliosLHC commented on #421
Hi, I have a similar issue but on the player site (not the admin /ui route) where the page tries to still read from /memfs route instead of using the "address" query parameter to calculate the new "memfs" path. Would you be aware of any setting or option that would enable changing the external path used to locate the memfs directory?

[2022-11-26 10:33] orryverducci commented on #465
Thanks for fixing it. Now working perfectly!

[2022-11-27 00:16] msikorski26 commented on #476
The source of the problem is not the restreamer but that chrome for PC does not support HLS source in <video> HTML5 tags. I close the ticket

[2022-11-27 00:16] #476 closed, assigned to jstabenow

[2022-11-27 00:18] msikorski26 commented on #478
I too am interested in this function

[2022-11-27 11:38] msikorski26 opened #479 "API"
I have generated myself an api key, I go into swagger ui to check the operation. And every time it throws me out that I supposedly have a bad token
![image](https://user-images.githubusercontent.com/41286754/204133227-16e43fcc-3d94-494d-af64-7e4073efc3f1.png)

[2022-11-27 21:13] svenerbeck commented on #478
Hello @advphp

We have converted the request into a feature request. Follow the discussion (https://github.com/datarhei/restreamer/discussions/345#discussion-4108562) to stay current, and see when your feature becomes active.

Please appreciate it if we only implement some features, which may take some time.

We are closing this issue.

Cheerio
Sven

[2022-11-27 21:13] #478 closed, assigned to nobody

[2022-11-27 21:17] dwaynarang commented on #439
restreamer-v2.4.2

Restreamer log:
{
  "about": {
    "id": "3cfac5e2-a524-4768-b592-1942ae382d61",
    "name": "dawn-rice-5488",
    "created_at": "2022-11-27T20:59:55.000Z",
    "version": {
      "number": "16.11.0",
      "repository_commit": "8ba1c8c0ac327224428f8234a4f546e9364198f9",
      "repository_branch": "main",
      "build_date": "2022-11-09T14:26:44Z",
      "arch": "linux/arm64",

[2022-11-28 17:21] msikorski26 opened #480 "Bad gateway error"
I added the domain to the settings and got something like this:
![image](https://user-images.githubusercontent.com/41286754/204340863-dd4cc715-dfea-4492-aa39-043951aad256.png)

My apache2 configuration:
`<VirtualHost *:80>
  ServerName streams.mscode.pl

  ProxyPass / http://localhost:31000/
  RewriteEngine on
  RewriteCond %{HTTP:Upgrade} websocket [NC]
  RewriteCond %{HTTP:Connection} upgrade [N

[2022-11-29 09:26] ioppermann commented on #439
Thanks for the logs.

This error suggests that the player expects only 1 track per segment, i.e. either audio or video. The segments that Restreamer generates have audio and video muxed together.

Do you have a HLS stream URL that actually works with Electra Player so we can analyze it?

[2022-11-29 10:07] ioppermann commented on #480
If you already terminate SSL in your apache, then you don't need to enable it in Restreamer. You simply pass it to http://localhost:31000/. A user from the internet connects via HTTPS to your apache, then apache is accessing Restreamer via HTTP on localhost.

This configuration might be enough (tested it locally):

[code]

[2022-11-29 17:23] msikorski26 commented on #480
![image](https://user-images.githubusercontent.com/41286754/204598830-5360c13b-6ea2-4b03-9cea-ef9c33f02adb.png)
still